[2021-05-06 07:52] CJMinecraft01 commented on #183
Hi there, thanks for reporting this and I sincerely apologise for these issues. The RC versions are experimental versions designed to try and improve performance hence they are not 100% stable. Please try 3.5.0rc2 as I believe this fixes the campfire issue (but please backup your world). Regarding the rendering issue, does it occur when shaders are disabled? Also, regarding the missing textures, i

[2021-05-06 12:42] Reael commented on #188
It seems like it works with the very newest version without crashing, at least it doesn't freeze on direct interaction with fire. I tried placing multiple fires, stack them, on the wall, on the floor, on slabs and it didn't freeze. But there is a texture glitch now with crimson and warped slabs now as soon as they are placed vertical (I'm using a self-made texture pack). Should I open a new issue

[2021-05-06 12:44] Reael commented on #187
I'll try with the new version. If it keeps munching down on the RAM so badly I'll try to send you my world file and mod list :)

[2021-05-06 12:50] Reael commented on #188
Ok it took 5 fireplaces on the server to crash. It works in an empty world with only a few slabs but it crashed me out of the server and I can't log back in.
At least this time I got a crashlog:
https://pastebin.com/9QcC6aQi

[2021-05-06 12:51] CJMinecraft01 commented on #188
Brilliant! Does the other issue occur when reloading textures or after a restart? If not, please open a separate issue about it :)

[2021-05-06 12:52] CJMinecraft01 commented on #187
Okay brilliant! Thank you :)

[2021-05-06 16:08] enduum commented on #183
-Campfire crash is fixed with 3.5.0rc2!
-Rendering issue only seems to occur with shaders active: [[shaders on]](https://i.postimg.cc/02HrZqvV/2021-05-06-12-00-19.png) ~~[[shaders off]](https://i.postimg.cc/QMvpzTrn/2021-05-06-11-42-09.png)~~ (Edit: I goofed, here's the one with no shaders: [[link]](https://i.postimg.cc/KvYRn86K/2021-05-06-12-00-48.png))
-Yes, F3 on the missing textures block show

[2021-05-06 16:12] CJMinecraft01 commented on #188
Must have missed your other comment, could you try this in 3.5.0rc2?

[2021-05-06 16:18] CJMinecraft01 commented on #183
Glad to hear that the campfire is fixed! If you ever encounter the purple and black texture with the slabs just check the F3 screen to see if the state is null. If so then unfortunately an issue has occurred with the block and so the only fix is to setblock. In regards to the rendering issue, with campfires, your screenshot shows the one with the null state, would you be able to check by placing a

[2021-05-06 20:29] Reael opened #190 "Texture Pack issue 1.16."
As requested I'm opening a new issue. Mod is the current 0rc2 version. It doesn't appear without a texture pack. I guess the issue lays within the fact that Mojang changed names of some textures between 1.14. and 1.16. hence leading to this issue because the names may still be messed up in my texture pack. However, I don't know what to do about it.
When placed normally, slabs have the proper textu

[2021-05-06 20:30] CallieEZ opened #191 "Vanilla wood vertical slabs render broken on newest optifine preview with shaders"
![2021-05-06_13 27 58](https://user-images.githubusercontent.com/49820257/117361516-fbdafb00-ae6e-11eb-8c1f-9b4c2407acf6.png)
As the title says, the vertical wood slabs of just vanilla woods are broken with shaders in the newest optifine preview, none of the other vertical slabs are bugged. This screenshot was taken with just optifine and double slabs

[2021-05-06 20:31] CallieEZ commented on #191
*1.16 rc2 and 1.16 optifine preview

[2021-05-06 20:32] Reael commented on #188
Was my mistake >< I uploaded the new version to the server but restarted the server before it was done deleting the old version. Funnily enough, I could join the server but it ran with the old file and my client had the new file. I fixed it just now and haven't had another issue with crashes till now. Sorry for my dumbass

[2021-05-06 22:46] CJMinecraft01 commented on #190
Hi, thanks for reporting the issue! Would you mind testing to see if disabling the lazy model rendering for crimson and warped will fix your issue?
You simply need to override one of the tags for double slabs found in: `doubleslabs/tags/blocks/plank_slabs.json`. Removing the crimson and warped slabs may fix this? Here's the current one: https://github.com/CJMinecraft01/DoubleSlabs/blob/1.16.x/src/

[2021-05-06 22:47] CJMinecraft01 commented on #191
Does this persist if the shaders are disabled?

[2021-05-06 22:47] CJMinecraft01 commented on #188
No problem! Glad it's resolved!

[2021-05-06 22:47] #188 closed, assigned to CJMinecraft01

[2021-05-06 23:08] CallieEZ commented on #191
No, however it does affect all shaders I've tested it with

[2021-05-10 14:50] tweakbsd commented on #189
Can confirm this bug. Current Astral Sorcery version and your mod doesn't work well together. The end result is that some form of Double Slab TileEntity crashes the game. My Crashlog is almost identical to the already uploaded one the crash comes from here:

cjminecraft.doubleslabs.common.tileentity.SlabTileEntity.func_226984_a_(SlabTileEntity.java:107)

[2021-05-14 23:38] Berenvonbaggins commented on #157
I too have experienced this same issue. As soon as I open the vertical slabs inv tab, I'll just start arbitrarily and randomly dropping to 0 FPS momentarily. This also affects my whole PC, not just the game. Just having it open in the background causes the spikes.
I'm using the 1.16.5 version of the mod, along with Obfuscate, Crayfish Furniture Mod, Create, Vanilla Builders Extensions, and Worlded

[2021-05-15 22:26] CJMinecraft01 commented on #157
The debug.log should be sufficient. Could you try this with 3.5.0rc2 if you haven't already?

[2021-05-17 19:23] CallieEZ commented on #191
Seems to also effect the release version of optifine g8

[2021-05-19 11:33] TheCarpe opened #192 "Double slabs texture bugged when using shaders"
The double slabs textures are not working when I'm using any shaders, I did two tests:
That's with SEUS renewed (on/off)
![2021-05-19_07 28 23](https://user-images.githubusercontent.com/84450064/118805361-db01a500-b873-11eb-8c72-161a03b552d1.png)
![2021-05-19_07 28 47](https://user-images.githubusercontent.com/84450064/118805368-dc32d200-b873-11eb-8a66-edfd97d3cc74.png)

And that's with BSL 7.2 (o

[2021-05-25 23:11] Swandar opened #193 "Possible Conflict with OTG"
It works just fine when I am playing on a vanilla world, but if I'm playing on an OTG world things start breaking.

If I place down 2 stone slabs on top of each other the game crashes and leaves behind the checkerboard texture. If I rejoin the world it only plays for a few seconds before crashing again.

https://paste.dimdev.org/nitetacimu.mccrash
![image](https://user-images.githubusercontent.com

[2021-05-25 23:45] Swandar commented on #193
Jumping back one version seems to have solved the problem

[2021-05-31 16:04] AlchemicalAlek opened #194 "Verticle Slabs Texture not working"
For some reason, no idea why, the texture is utterly broken for all wooden slabs (oak, spruce, warped, etc.) while all others work perfectly fine.

I am using other mods and maybe I had something installed that messed up the texture, so I will also include a screenshot of the mods and libs installed

![billede_2021-05-31_180321](https://user-images.githubusercontent.com/85124557/120218716-744c9600

[2021-05-31 16:51] AlchemicalAlek commented on #194
This is SO bizarre

![billede_2021-05-31_185112](https://user-images.githubusercontent.com/85124557/120222981-238c6b80-c241-11eb-9730-e4765cc17606.png)

[2021-05-31 17:53] mcircuit commented on #194
Hello,

I ran into the same rendering issue while trying out the mod. All the wooden slabs would appear glitched as you have posted whenever I ran any shaders. It would render normally without any shaders on.

The fix I found was the following; in the config file of the mod, you will find an option for lazy vertical slabs. Remove the wooden slabs from there as shown below, and it might fix the ren

[2021-06-01 08:47] AlchemicalAlek commented on #194
Thanks for the fix! Much appreciated!! How do I enter the config? The button wont work

[2021-06-01 17:26] mcircuit commented on #194
In your minecraft folder, you will find a config folder as shown below:
![image](https://user-images.githubusercontent.com/85128923/120365563-39c32600-c32c-11eb-9313-6fe0105f61ff.png)

In the config folder, you will find the double slabs client config file in .toml format, as shown below:
![image](https://user-images.githubusercontent.com/85128923/120365657-5a8b7b80-c32c-11eb-95ae-5f26071255e4.png

[2021-06-01 19:20] Bjastkuliar opened #195 "Unexpected crash"
Simply the game closed upon breaking a double-slab.
Just a second before I crashed I tried to break a double slab, I saw for a second the classic magenta-black missing texture and then the game closed. I attached the crash report, hoping it can be useful!

Kind Regards.

[crash-report](https://pastebin.com/pGC2Wcgk)

[2021-06-02 07:27] AlchemicalAlek commented on #194
Okay, thank you, very much appreciated!!

[2021-06-03 00:33] mactso commented on #178
Cheers!  Can close this.

[2021-06-08 12:38] VoxelCreatesStuff opened #196 "Server Crash"
See below. I would realy apprecieate your help!

[14:35:15] [Server thread/DEBUG] [FML]:&nbsp;Registering @EventBusSubscriber for cjminecraft.doubleslabs.client.proxy.ClientProxy for mod doubleslabs
--
547 | [14:35:15] [Server thread/ERROR] [FML]:&nbsp;An error occurred trying to load an EventBusSubscriber cjminecraft.doubleslabs.client.proxy.ClientProxy for modid doubleslabs
548 | java.lang.NoCla

[2021-06-18 10:55] CJMinecraft01 commented on #195
Hi there! Apologies for the delayed response, you mentioned that you saw the magenta-black missing texture, when looking at the block, using F3 what do you see on the right hand side? Does it say that both the slabs are null? If so then do you know what happened to get the slab into this state? :)

[2021-06-18 10:59] #183 closed, assigned to CJMinecraft01

[2021-06-18 11:00] CJMinecraft01 commented on #182
This is fixed in 1.16-3.5.0rc2 :)

[2021-06-18 11:00] #182 closed, assigned to nobody

[2021-06-18 16:39] CJMinecraft01 commented on #156
Duplicate of #189

[2021-06-18 16:39] #156 closed, assigned to nobody

[2021-06-18 17:20] CJMinecraft01 commented on #96
Assuming this has now been fixed

[2021-06-18 17:20] #96 closed, assigned to CJMinecraft01

[2021-06-18 17:36] CJMinecraft01 commented on #77
Hi there! I know that it's been a while and I sincerely apologise for that; however I have some great news!! I have finally managed to fix this issue and now the vertical slab lighting will be correct! For now this is exclusive to 1.16 only; however I will be backporting this gradually. Thanks for your patience :)

[2021-06-18 17:36] #77 closed, assigned to CJMinecraft01

[2021-06-18 17:38] CJMinecraft01 commented on #101
Apologies for the extremely long delay in responding.. I have some fantastic news though, this is finally fixed!!! For now it is only for 1.16 but I will be backporting to older versions as soon as I can :)

[2021-06-18 17:38] #101 closed, assigned to CJMinecraft01

[2021-06-18 18:00] CJMinecraft01 commented on #99
Hi there! Apologies for the extremely delayed response.. I have some great news! This is finally fixed!!! For now it is only for 1.16 but I will be backporting to older versions as soon as I can :)

[2021-06-18 18:00] #99 closed, assigned to CJMinecraft01

[2021-06-18 18:00] CJMinecraft01 commented on #136
Apologies for the extremely delayed response but this is now fixed in the latest version!! For now it is only for 1.16 but I will be backporting to older versions as soon as I can :)

[2021-06-18 18:00] #136 closed, assigned to CJMinecraft01

[2021-06-18 18:01] CJMinecraft01 commented on #150
Hi there! Apologies for the delayed response, would you mind testing this in the latest version please? I believe that this should be fixed :)

[2021-06-18 18:01] CJMinecraft01 commented on #146
Apologies for the delayed response... This should hopefully be fixed in the latest version! For now it is only for 1.16 but I will be backporting to older versions as soon as I can :)

[2021-06-18 18:01] #146 closed, assigned to CJMinecraft01

[2021-06-18 18:03] CJMinecraft01 commented on #157
Hi there! I believe that this should be fixed in the latest version as I've added some more optimisations to improve both the rendering and the running of the server :)

[2021-06-18 18:03] #157 closed, assigned to nobody

[2021-06-18 18:03] CJMinecraft01 commented on #137
Hi there! Apologies for the delayed response.. This should be fixed in the latest version and you should hopefully see that your performance is better! For now it is only for 1.16 but I will be backporting to older versions as soon as I can :) Thanks again for reporting this and apologies for the delay

[2021-06-18 18:03] #137 closed, assigned to CJMinecraft01

[2021-06-18 18:04] CJMinecraft01 commented on #163
Apologies for the delayed response.. this is should be fixed in the latest version!

[2021-06-18 18:04] #163 closed, assigned to CJMinecraft01

[2021-06-18 18:05] CJMinecraft01 commented on #166
Hi there! I believe that this should be fixed in the latest version.. For now it is only for 1.16 but I will be backporting to older versions as soon as I can :) Thanks again for your patience.

[2021-06-18 18:05] #166 closed, assigned to CJMinecraft01

[2021-06-18 18:06] CJMinecraft01 commented on #168
Sorry for the delayed response... I've finally fixed this in the latest version!

[2021-06-18 18:06] #168 closed, assigned to CJMinecraft01

[2021-06-18 18:07] CJMinecraft01 commented on #194
Hi there! Apologies for the delay but I believe that this is fixed in the latest version :) For now it is only for 1.16 but I will be backporting to older versions as soon as I can :)

[2021-06-18 18:07] #194 closed, assigned to CJMinecraft01

[2021-06-18 18:08] CJMinecraft01 commented on #192
Apologies for the delayed response but I believe this is fixed in the latest version! For now it is only for 1.16 but I will be backporting to older versions as soon as I can :) Thank you for your patience

[2021-06-18 18:08] #192 closed, assigned to CJMinecraft01

[2021-06-18 18:09] CJMinecraft01 commented on #191
Apologies for the delay, this should be fixed in the latest version! For now it is only for 1.16 but I will be backporting to older versions as soon as I can :)

[2021-06-18 18:09] #191 closed, assigned to CJMinecraft01

[2021-06-18 18:10] CJMinecraft01 commented on #190
Hi there! I believe that this is fixed in the latest version.. For now it is only for 1.16 but I will be backporting to older versions as soon as I can :)

[2021-06-18 18:10] #190 closed, assigned to CJMinecraft01

[2021-06-18 18:10] CJMinecraft01 commented on #189
Hey there! Thank you again for reporting this, would you mind testing this in the latest version? I believe that this should be fixed :)

[2021-06-18 18:11] CJMinecraft01 commented on #187
Hi there! I've made some further improvements and so I'm going to close this issue. Thank you again for reporting this :) For now the update is only for 1.16 but I will be backporting to older versions as soon as I can :)

[2021-06-18 18:11] #187 closed, assigned to CJMinecraft01

[2021-06-18 18:12] CJMinecraft01 commented on #184
Apologies for the delayed reply, I believe that this should now be fixed in the latest version!! For now it is only for 1.16 but I will be backporting to older versions as soon as I can :)

[2021-06-18 18:12] #184 closed, assigned to CJMinecraft01

[2021-06-18 18:12] CJMinecraft01 commented on #172
Thank you again for reporting this, I've added support in the latest version! Apologies for the delay..

[2021-06-18 18:12] #172 closed, assigned to CJMinecraft01

[2021-06-18 19:14] WenXin20 commented on #168
Thanks! No worries.

[2021-06-19 08:34] WormaxPL commented on #77
Nice to hear that. Thanks!

[2021-06-20 19:42] CarbonNode opened #197 "Mohist Server Entity Tick Crash"
https://pastebin.com/fetLaXHV

[2021-06-20 21:39] Borshche commented on #195
Alright, I have been getting a similar issue, what is happening for me, is that "The game crashed whilst tesselating block model Error: java.lang.NullPointerException: Tesselating block model Exit Code: -1" I cannot even join the world. I know this is because of double slabs. As soon as I remove the mod, I can enter the world. What happened, was I placed a vertical slab in a certain direction, and

[2021-06-20 21:53] Borshche commented on #195
---- Minecraft Crash Report ----
// I let you down. Sorry :(

Time: 6/20/21 3:14 PM
Description: Tesselating block model

java.lang.NullPointerException: Tesselating block model
	at cjminecraft.doubleslabs.api.SlabSupport.getHorizontalSlabSupport(SlabSupport.java:61) ~[?:3.5.0] {re:classloading}
	at cjminecraft.doubleslabs.client.util.DoubleSlabCulling.matchState(DoubleSlabCulling.java:36) ~[?:3.5

[2021-06-20 21:56] Borshche commented on #195
---- Minecraft Crash Report ----
// My bad.

Time: 6/19/21 11:29 PM
Description: Tesselating block model

java.lang.NullPointerException: Tesselating block model
	at cjminecraft.doubleslabs.client.util.DoubleSlabCulling.shouldSideBeRendered(DoubleSlabCulling.java:411) ~[?:3.5.0] {re:mixin,re:classloading}
	at net.minecraft.client.renderer.BlockModelRenderer.handler$zkn000$renderModelSmooth(BlockMo

[2021-06-21 11:07] CJMinecraft01 commented on #185
Hi there! I apologise for the issues you are facing, I believe that the campfire issue is fixed in the newest version and I have added a method of vertical slab placement where you can toggle between placing vertical and horizontal slabs. Hope that helps! :)

[2021-06-21 11:07] #185 closed, assigned to nobody

[2021-06-21 11:08] CJMinecraft01 commented on #169
Hi there! Apologies for the delayed response, which mod version and Minecraft version are you using? Also, are any errors shown in the console log? Thanks :)

[2021-06-21 13:49] Benedictct commented on #169
Hello,
I was using the 1.16.3 version I think and playing in that minecraft version too?
Should I try to use the 1.17 version now?

[2021-06-21 14:13] CJMinecraft01 commented on #169
There is currently no 1.17 version but if you would try the latest version for 1.16.5 that would be fantastic :)

[2021-06-21 15:56] kubsqwer opened #198 "FPS drops, freezes, server crashes"
So basically the more vertical slabs I place the more laggy it is
Restarting the game usually helps but only for about 30-60 minutes, sometimes less sometimes more
sometimes it gets to the point i spend more time looking at frozen game than actually playing and restarting the game over and over for a minor change is annoying

Also, sometimes a vertical slab for some reason becomes invisible (somet

[2021-06-22 07:18] CJMinecraft01 commented on #198
Hi there! Thanks for the bug report, before you crashed, did the block you were interacting with have a purple and black texture? Or was it simply invisible? Did the slab randomly turn invisible or could you show me what you did to turn the slab invisible? Also, have you tried this on the latest version (3.5.0)? Apologies that's a lot of questions..

[2021-06-22 08:55] CJMinecraft01 commented on #152
Hi there! Apologies for the delayed response. There log you have posted is a JVM crash log and is not directly associated with my mod. Would you mind explaining what happened before crashing and if there is a crash log, can you show it please? (It's in the crash-logs folder)

[2021-06-22 14:15] CJMinecraft01 commented on #167
Hi there! Sorry for the delay in fixing this, I believe this is now fixed in the latest version :)

[2021-06-22 14:15] #167 closed, assigned to CJMinecraft01

[2021-06-22 14:15] CJMinecraft01 commented on #165
My sincerest apologies for the delay in fixing this, but this should finally be fixed in the latest version :)

[2021-06-22 14:15] #165 closed, assigned to CJMinecraft01

[2021-06-22 14:16] CJMinecraft01 commented on #195
Apologies for the delay.. however this should be fixed in the latest version!

[2021-06-22 14:16] #195 closed, assigned to CJMinecraft01

[2021-06-22 14:17] CJMinecraft01 commented on #197
Thank you for reporting this, I believe I have fixed this in the latest version!

[2021-06-22 14:17] #197 closed, assigned to CJMinecraft01

[2021-06-22 14:19] CJMinecraft01 commented on #198
Hey again! I believe that I have fixed this now in the latest version :)

[2021-06-22 14:19] #198 closed, assigned to CJMinecraft01

[2021-06-22 14:20] CJMinecraft01 commented on #131
Hi there! Thank you for reporting this, I've managed to fix the first issue with dropping the appropriate item, the breaking animation and culling issue. I will try to fix the other issue when I backport the new version to 1.15. Thank you for your patience

[2021-06-22 14:21] CJMinecraft01 commented on #145
Hi there! Apologies for the delay, can I check that double slabs was also installed on the server please?

[2021-06-22 14:22] #189 closed, assigned to CJMinecraft01

[2021-06-22 16:17] WenXin20 commented on #131
Of course! Take all the time you need. I'm using 1.16.5 now anyways.

[2021-06-23 18:20] #131 closed, assigned to CJMinecraft01

[2021-06-23 18:20] #151 closed, assigned to CJMinecraft01

[2021-06-24 02:34] TarnishedSoul opened #199 "Crash when placing slabs."
Hi, I've been crashing when placing slabs. I'm on 1.12.2 and Vanillafix told me it was an issue between Improvable Skills 3 and Double Slabs, so I removed Improvable Skills but the crash persisted, this time showing a magenta-error block before I crash.

This is the crash I got when Improvable Skills 3 was still installed: https://paste.dimdev.org/ohajunesef.mccrash
This is the crash I got when th

[2021-06-24 03:55] TarnishedSoul commented on #199
Reverting to a previous version seems to have fixed the issue for now.

[2021-06-24 14:30] #135 closed, assigned to CJMinecraft01

[2021-06-24 14:38] CJMinecraft01 commented on #151
Hi there! Apologies for the extreme delay, but I have finally fixed this in the latest version :)

[2021-06-24 14:38] CJMinecraft01 commented on #134
Apologies for the delay, this should now be fixed in the latest version :)

[2021-06-24 14:38] #134 closed, assigned to CJMinecraft01

[2021-06-24 14:39] CJMinecraft01 commented on #135
Thanks for the report and apologies for the delay, this is finally fixed in the latest version I believe :)

[2021-06-24 14:40] CJMinecraft01 commented on #138
Thanks for the report and my sincerest apologies for the delayed reply. This is now fixed in the latest version.

[2021-06-24 14:40] #138 closed, assigned to CJMinecraft01

[2021-06-24 14:40] CJMinecraft01 commented on #141
Apologies for the delay, this is now fixed in the latest version :)

[2021-06-24 14:40] #141 closed, assigned to CJMinecraft01

[2021-06-24 14:41] CJMinecraft01 commented on #131
Just a quick update, I've added the support for the soul campfire for the 1.15 version. Thanks again for your patience

[2021-06-24 14:49] CJMinecraft01 commented on #132
Hi there! Apologies for the extremely delayed response. This is now fixed in the latest version :)

[2021-06-24 14:49] #132 closed, assigned to CJMinecraft01

[2021-06-24 14:49] #160 closed, assigned to CJMinecraft01

[2021-06-24 14:51] CJMinecraft01 commented on #106
Hi there! Thanks again for reporting this and apologies for the delay. I believe that this should now be fixed since when two slabs of the same type are combined, the double slab model is used.

[2021-06-24 14:51] #106 closed, assigned to CJMinecraft01

[2021-06-24 14:57] #150 closed, assigned to CJMinecraft01

[2021-06-27 02:19] 16N1CO opened #200 "ES-ES (Spanish) LANG"
{
  "itemGroup.verticalslabs": "Losas verticales",
  "item.vertical_slab.prefix": "Vertical %s",
  "doubleslabs.keycategory": "Doble losas",
  "doubleslabs.key.toggleVerticalSlabPlacement": "Palanca de colocación de losa vertical",
  "doubleslabs.configgui.slabBlacklist": "Lista negra de losas horizontales",
  "doubleslabs.configgui.uvlockModels": "Modelos UVLock",
  "doubleslabs.configgui.vertica

[2021-06-27 05:39] YasonCore opened #201 "Rendering issues with Sodium(Forge version)."
Sodium version: https://github.com/AeiouEnigma/sodium-forge/releases/tag/v0.1.1-build1

![2021-06-27_10 31 04](https://user-images.githubusercontent.com/31430536/123534024-57b95600-d733-11eb-979b-13622e3a47ce.png)

This is probably due to the fact that Sodium changes the render. I don't know if it will be possible to fix this on your part or on the part of the author of the port.

[2021-06-27 11:28] D3nnis3n commented on #196
0.10 works, so you could use that version for now.

[2021-07-01 14:36] Youri5 opened #202 "1.17?????"
Is this mod also for 1.17????
I hope so 😇😇😇

[2021-07-01 21:13] Altodeso commented on #152
i dont remember what happened it was too long ago and lost all the crash logs when i change from pc

[2021-07-03 10:45] CJMinecraft01 commented on #201
Hi there! Thanks for reporting this, which mod version are you using?

[2021-07-03 10:46] #145 closed, assigned to CJMinecraft01

[2021-07-03 10:47] CJMinecraft01 commented on #152
Okay, no worries :) Thanks again for reporting this, I can't see anything specific that I can fix here so I will close this. If you have any other issues, please be sure to report them :)

[2021-07-03 10:47] #152 closed, assigned to CJMinecraft01

[2021-07-03 10:47] #169 closed, assigned to CJMinecraft01

[2021-07-03 10:48] CJMinecraft01 commented on #202
Hi there! Thanks for asking! Currently there is no 1.17 version as there is no 1.17 forge version available; however once there is, I'll be sure to update as soon as possible!

[2021-07-03 10:48] #202 closed, assigned to nobody

[2021-07-03 11:06] CJMinecraft01 commented on #158
Thanks for reporting this, it appears that this has now been fixed :)

[2021-07-03 11:06] #158 closed, assigned to CJMinecraft01

[2021-07-03 13:54] CJMinecraft01 commented on #199
Thanks for reporting this! This is now fixed in the latest version :)

[2021-07-03 13:54] #199 closed, assigned to CJMinecraft01

[2021-07-03 13:54] CJMinecraft01 commented on #196
Hi there! I believe that this is now fixed in the latest version :)

[2021-07-03 13:54] #196 closed, assigned to CJMinecraft01

[2021-07-03 13:55] CJMinecraft01 commented on #193
Hi there! Apologies for the delay, this is now fixed in the latest version. Thank you for your patience

[2021-07-03 13:55] #193 closed, assigned to CJMinecraft01

[2021-07-03 13:55] CJMinecraft01 commented on #179
Hi there! Apologies for the delay, this is now fixed in the latest version. Thank you for your patience

[2021-07-03 13:55] #179 closed, assigned to CJMinecraft01

[2021-07-03 13:55] CJMinecraft01 commented on #173
Hi there! Thank you for reporting this and apologies for the delay, this is now fixed in the latest version. Thank you for your patience

[2021-07-03 13:55] #173 closed, assigned to CJMinecraft01

[2021-07-03 13:56] CJMinecraft01 commented on #170
Hi there! Sorry for the delay, this is now fixed in the latest version :)

[2021-07-03 13:56] #170 closed, assigned to CJMinecraft01

[2021-07-03 13:58] CJMinecraft01 commented on #161
Hi there! Apologies for the delay, this is now fixed in the latest version. Thank you for your patience :)

[2021-07-03 13:58] #161 closed, assigned to CJMinecraft01

[2021-07-03 13:58] CJMinecraft01 commented on #149
Hi there! Apologies for the delay, this is now fixed in the latest version. Thank you for your patience :)

[2021-07-03 13:58] #149 closed, assigned to CJMinecraft01

[2021-07-03 14:00] CJMinecraft01 commented on #147
Hi there! Thank you for your suggestion, in order for the vertical slabs to work with **any** regular horizontal slab, they must be dynamically created. Unfortunately the issue you are witnessing is related to how I try to be more efficient when rendering vertical slabs by culling faces you shouldn't see; however there was an issue in the old version. This has now been fixed in the latest version,

[2021-07-03 14:00] #147 closed, assigned to CJMinecraft01

[2021-07-03 14:01] CJMinecraft01 commented on #140
Hi there! Apologies for the delay, this has finally been fixed in the latest version :)

[2021-07-03 14:01] #140 closed, assigned to CJMinecraft01

[2021-07-03 14:01] CJMinecraft01 commented on #130
Hi there! Thanks for reporting this and apologies for the delay, this should now be fixed in the latest version. Thank you for your patience :)

[2021-07-03 14:01] #130 closed, assigned to CJMinecraft01

[2021-07-03 14:02] CJMinecraft01 commented on #127
I am sincerely sorry for the delayed response but I believe that this is fixed in the latest version. Thank you for your patience

[2021-07-03 14:02] #127 closed, assigned to CJMinecraft01

[2021-07-03 14:03] CJMinecraft01 commented on #200
Hi there! Thank you, I will add this in the next version :)

[2021-07-04 04:59] xelotex commented on #140
don't worry take your time, thank you for fixing this issue.

[2021-07-09 13:03] GerbilPL opened #203 "Server Crashes"
Hi!
When I use Double Slabs on my 1.12.2 server (because of some other mods) it crashes. I also tried removing other mods but that did not work.

Here crash report (load.jar is just forge server/loader so i thats not important).

Thank you for this amazing mod anyways!
[crash.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/6791467/crash.txt)

[2021-07-12 07:53] #95 closed, assigned to CJMinecraft01

[2021-07-12 07:58] CJMinecraft01 commented on #90
Would you mind testing this in the latest version to see if this issue still persists?

[2021-07-12 09:15] CJMinecraft01 commented on #83
Hi there! Sorry for the extreme delay, I believe Create has fixed this :)

[2021-07-12 09:15] #83 closed, assigned to CJMinecraft01

[2021-07-12 09:15] CJMinecraft01 commented on #177
Hi there! Apologies for the delay, would you mind checking this in the latest version please?

[2021-07-12 09:31] CJMinecraft01 commented on #201
Also, would you mind checking if the latest version of sodium forge fixes this issue? I've just tested this and it appears to work

[2021-07-12 09:35] CJMinecraft01 commented on #203
Hi there! This issue has been resolved in the latest version.. please update :)

[2021-07-12 09:35] #203 closed, assigned to nobody

[2021-07-12 10:40] JeanetJules commented on #177
I just tried, no crash anymore yay ! However, the textures appear as undefined, like it's the black & purple squares instead of the slab texture you know ?

[2021-07-12 10:42] CJMinecraft01 commented on #177
Thanks for the swift response! I'll take a look. Are you on the latest create version?

[2021-07-12 10:50] Pikabyte commented on #177
Sorry for not giving an update.

The crash supposedly was fixed on Create's end, though I honestly haven't tested it.
https://github.com/Creators-of-Create/Create/issues/845

[2021-07-12 10:51] JeanetJules commented on #177
I am on the 3.2a version of Create. I think it's the latest available on curseforge.

[2021-07-12 11:26] CJMinecraft01 commented on #103
Hi there, my sincerest apologies for the delay.. Would you mind testing this in the latest version please?

[2021-07-12 13:21] IoanCiobanescu commented on #103
Ah, I should've mentioned this earlier, but after an update (forgot from which end), this bug ended up getting fixed. So this isn't a problem anymore.

[2021-07-12 16:59] CJMinecraft01 commented on #103
Thanks for getting back to me and again, sorry for the delay

[2021-07-12 16:59] #103 closed, assigned to CJMinecraft01

[2021-07-13 17:15] WenXin20 commented on #90
Hmm, looks like it still happens with v3.5.3, and connected textures aren't working either. I haven't used optifine in a while though, since I now use the ctm mod for connected textures. Although that has its own minor bug I'll create a separate issue for.

[2021-07-13 17:23] WenXin20 opened #204 "CTM Mod Compat"
`Minecraft v1.16.5`
`Forge v36.1.32`
`Double Slabs v3.5.3`
[`CTM v1.1.2.6`](https://www.curseforge.com/minecraft/mc-mods/ctm)
Resource Pack: [MC Connected CTM](https://www.curseforge.com/minecraft/texture-packs/mc-connected-ctm)

If the ctm mod is installed and my resource pack is applied, double slabs and vertical slabs don't work with connected textures.

![2021-07-13_12 17 33](https://user-imag

[2021-07-14 10:06] CJMinecraft01 commented on #90
Okay, I'm not too sure what else I can do to fix this unfortunately. I am no longer doing any hacky thing to make the slabs work, they are simply the vanilla models being combined. I'm wondering if there's anything that can be done on a resource pack side?

[2021-07-14 15:50] WenXin20 commented on #90
Yeah, I'm not sure. I haven't used optifine's CTM methods in quite a while. Maybe their wiki for it will help? https://github.com/sp614x/optifine/tree/master/OptiFineDoc/doc

[2021-07-17 10:32] #200 closed, assigned to CJMinecraft01

[2021-07-17 10:32] #201 closed, assigned to CJMinecraft01

[2021-07-20 00:56] Alfatossa opened #205 "not wokring on latest froge 1.12.2"
I wanted to add this mod but im running forge 14.23.5.2855 and it just crashes

[2021-07-23 10:19] CJMinecraft01 commented on #205
Can you show the crash log please?

[2021-07-25 14:40] JeanetJules commented on #177
Hello, sorry for asking again, because I do not know who's fault it might be, but i still wanted to update you : the textures still appear as undefined when i activate the contraption, maybe you have an idea as to why ? It also does this with Quark's veritcal slabs.

[2021-07-27 18:40] wchen1990 opened #206 "SlabSupport.java should not use net.minecraft.client.Minecraft"
This causes a startup error on dedicated servers, since the class does not exist for dedicated servers. If SlabSupport is supposed to be a client side utility, should probably change the call to reflect that in DoubleSlabs.java's constructor method.

[2021-07-28 11:29] CJMinecraft01 commented on #206
Thanks for reporting this, I'll update with your patch shortly.

[2021-07-28 11:29] #206 closed, assigned to nobody

[2021-07-29 10:01] SethbotStar opened #208 "Weird Campfire lighting absence"
![2021-07-29_04 42 05](https://user-images.githubusercontent.com/30171402/127471995-16992aac-ec9e-4f10-8da7-8af107305857.png)
So the doubleslabs campfire does not emit light and looks like this when put on non-transparent blocks and slabs... so it probably is mainly just that a light level needs to be added to blocks that contain a campfire.

(This is what it looks like at night, separated to real

[2021-07-29 20:24] TomberWolf opened #209 "Conflicts wwith Conquest Reforce (MC 1.16.5)"
Great mod but sadly it conflicts with Conquest Reforge's thin slaps.
It doubles the slaps automatically.

MC 1.16.5

[2021-07-30 16:31] #209 closed, assigned to nobody

[2021-07-30 16:31] TomberWolf commented on #209
Nevermind, sorry. Wasn't your mod.

[2021-08-10 01:39] Angular-Angel commented on #49
Seems to have poor compatibility with my mod, Rustic Regenerated: https://www.curseforge.com/minecraft/mc-mods/rustic-regenerated

I'm trying to figure out how to fix all the issues, I'll post here as I learn more.

[2021-08-10 01:50] Angular-Angel commented on #49
Okay, so, I have to add both versions of my crossed logs to the crafting blacklist so it doesn't prevent turning normal ones back into sticks. Can I have my mod modify the default config options for that or something? Also, my slabs have a couple of wierd rendering issues:
![image](https://user-images.githubusercontent.com/938571/128796058-e42d2600-b797-4388-a5df-524ce58cc354.png)
![image](https:/

[2021-08-12 16:55] Angular-Angel opened #210 "Rustic Regenerated Compatibility"
Okay, so, I have to add both versions of my crossed logs to the crafting blacklist so it doesn't prevent turning normal ones back into sticks. Can I have my mod modify the default config options for that or something? Also, my slabs have a couple of wierd rendering issues:

![image](https://user-images.githubusercontent.com/938571/129236747-78a6bf6c-54b0-4566-85af-76457313931f.png)

![image](https

[2021-08-13 13:30] #205 closed, assigned to CJMinecraft01

[2021-08-13 13:36] CJMinecraft01 commented on #208
Hi there! Apologies for the delayed response. What minecraft and mod version are you using? :)

[2021-08-13 20:19] Angular-Angel commented on #210
Oh, the source code for my mod is here, in case you need it. I'm happy to help also, if you need any. XD

https://gitlab.com/AngularAngel/rustic-regenerated

[2021-08-14 21:30] CerbTheOne opened #211 "Breaking and placing full double slab block very quickly causes game to crash (might be related to WorldEdit)"
I discovered this bug when playing on a personal modpack. It appears to be something related to replacing a mixed double slab block very quickly. It happened to me once by replacing the block by hand (pressing left and right mouse buttons simultaneously), but I haven't been able to do it again this way with only double slabs and no other mods.
I have been able, however, to reproduce it successfull

[2021-08-22 22:05] Angular-Angel opened #212 "Slab placement issues"
Rightclicking on chests with slabs, without holding shift, places the slabs, instead of opening the chest. You can also place a slab on top of another slab you're standing on the side of when sneaking - which has repeatedly killed my friend in our skyblock game because it keeps pushing them into the void.

Additionally, you can break half a cobblestone double slab with your hand and get the slab b

[2021-09-07 00:39] gatoborrachon opened #213 "[Issue-1.12] DoubleSlabs breaks textures of Advanced Rocketry"
**What is happening**
When i use AdvancedRocketry and Double Slabs the textures from Advanced Rocketry break (the classic purple and black missing texture color)

**Steps to reproduce**
1. Add Double Slabs, [Advanced Rocketry](https://www.curseforge.com/minecraft/mc-mods/advanced-rocketry) and its lib: [LibVulpes](https://www.curseforge.com/minecraft/mc-mods/libvulpes)
2. Chech the textures of Adv

[2021-09-12 07:36] SethbotStar commented on #208
It's no issue, i also have delayed responses from time to time, and you're working on mods and probably other things so yeah.

**I was using Double Slabs 1.16-3.5.3 with Forge 1.16.5 36.2.2**

It's my first time actually using double slabs, though it is in a modpack. I just assumed this was like an accidental oversight when adding campfires as a slab or something. (It only happens whenever using c

[2021-09-15 05:22] WenXin20 opened #214 "Better Nether slabs render incorrectly"
`Minecraft v1.16.5`
`Forge v36.2.4`
`Double Slabs v3.7.1`
[`Better Nether Reforged vbeta2`](https://www.curseforge.com/minecraft/mc-mods/betternether-reforged)

Slabs from Better Nether Reforged render incorrectly as vertical slabs.

![2021-09-15_00 16 02](https://user-images.githubusercontent.com/12000593/133375236-da67b363-0476-4036-a8f5-4ef51700612b.png)

[2021-09-16 21:35] BeansBeefBroccoli opened #215 "Question"
Are there plans for porting to Fabric? If not, how hard it would be? I really like this mod, and I might attempt porting it myself as long as you think it could work and you're ok with it.

[2021-09-17 04:35] WenXin20 opened #216 "Lord of the Rings slabs render incorrectly"
`Minecraft v1.16.5`
`Forge v36.2.4`
`Double Slabs v3.7.1`
[`Lord of the Rings v4.6`](https://www.curseforge.com/minecraft/mc-mods/the-lord-of-the-rings-mod-renewed)

Slabs from Lotr render incorrectly as vertical slabs.

![2021-09-16_23 33 23](https://user-images.githubusercontent.com/12000593/133725167-08a44286-f41d-4d33-974d-c09e8ad489e5.png)

[2021-09-17 06:51] WenXin20 opened #217 "Prefab slabs render incorrectly"
`Minecraft v1.16.5`
`Forge v36.2.4`
`Double Slabs v3.7.1`
[`Prefab v1.6.5.10`](https://www.curseforge.com/minecraft/mc-mods/prefab)

The grass slab and the glass slab from prefab both render incorrectly as vertical slabs.

![2021-09-17_01 46 50](https://user-images.githubusercontent.com/12000593/133737661-341beb10-f494-4bf9-b136-35ac5950cd1c.png)

[2021-09-17 07:11] Zackonark opened #218 "Crash When Placing Vertical Slabs on Non-Full Blocks"
I found this with this simple set up: any full block next to biomesoplenty:plant_0 (aka short grass). Try to place a normal slab (not one from the vertical slabs creative menu) on the grass by clicking the side of the full block next to it (to place it as a vertical slab), and the game will crash. Tried with vanilla saplings, flowers, and shrooms and in every case I could not place the slab (I wou

[2021-09-19 10:09] Axelouuu-dev opened #219 "[1.16.5] Crash randomly"
Hey !

I repport that issue because I don't know how what appends and how to fix it :o

# crash logs #
https://pastebin.com/M8Td8EBV

[2021-09-20 02:55] Atrodei opened #220 "[1.16.5] Waterlogged vertical slabs deleting randomly"
Apologies for any formatting issues, first time putting in a github issue. Love the mod, using it in a large personal modpack on lan 1.16.5. Mod Version: 1.16-3.6.0 (I am aware its out of date, waiting on another mod to update in our pack to update all mods to current 1.16.5 versions, however I did check changelog and didn't see anything that seemed like a fix for this issue, unsure if it replicat

[2021-09-21 02:37] Atrodei commented on #220
My apologies that I didn't include this in the first post, but I am using optifine. Its required for a few visual resourcepacks I'm running, however all other rendering seems fine so far.

[2021-09-21 03:42] Handeril opened #221 "Various 1.12.2 Errors [Compatibility]"
![2021-09-20_20 23 15](https://user-images.githubusercontent.com/83894721/134108438-2e321091-7793-4cb4-a154-352862705d4a.png)
![2021-09-20_20 23 16](https://user-images.githubusercontent.com/83894721/134108442-3b2f580e-413b-4bcc-ad64-68d3b6649ab9.png)
![2021-09-20_20 35 43](https://user-images.githubusercontent.com/83894721/134108448-6d406f4d-f935-405d-be86-4a70ba1efba1.png)
![2021-09-20_20 35 47]

[2021-09-27 18:14] GerbilPL opened #222 "Air Slabs"
you read that right
[crash-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/7238409/crash-client.txt)
![1](https://user-images.githubusercontent.com/50273945/134963218-90dd2c06-9b1f-46df-ac49-75ed3fcb43ff.png)
![2](https://user-images.githubusercontent.com/50273945/134963221-bbe33dcc-d5fe-408a-9a9b-21ad514d8dbb.png)

[2021-09-29 03:06] pseudoble opened #223 "Crash when interacting with glitched slab block"
I have a build with a lot of vertical slabs. Recently, even updated to 3.7.2 on 1.16.5, I have had problems where a ton of them load in without any texture (transparent). If I try to break of of these blocks, even in creative, it crashes my client with the following error. No evidence of anything wrong on the server logs.

28/09/2021 22:36:55 PM] [22:36:55] [Render thread/FATAL] [minecraft/Minecra

[2021-10-21 15:09] ChestnutTheOwl opened #224 "Waterlogged Vertical Slab Movement (1.17.1)"
When a vertical slab is waterlogged, making any contact with the empty half of the block region slows your movement to a crawl

[2021-11-01 21:03] DrUltraLux opened #225 "Crash when mining 1.5 height block of slabs"
Crash when mining a triple slab. It tries to render a single block and gets confused. Needs a 1.5 height block for mining triple slabs.
It renders purple and black squares right before the crash.

[crash-2021-11-02_07.47.27-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/7456116/crash-2021-11-02_07.47.27-client.txt)

[2021-11-12 00:23] Nikofluff opened #226 "Waterlogged slabs"
so
Vertical slabs underwater display a black and purple missing texture not present in version 8/13/2021
DoubleSlabs-1.16-3.6.0.jar. not sure what causes it.

[2021-11-15 12:01] joonas-erho opened #227 "1.12.2 Server crashes"
Here's the error:
[code]

I am using 1.12.2 and Forge 1.12.2-14.23.5.2855

This crash does not occur if I remove your mod.

Here's the modlist:
[code]

[2021-12-06 19:03] Flexz9 opened #228 "Port 1.18"
Would it be possible to port to 1.18? As far as I understood of other mods it's not too different from 1.17.

Thank you for this amazing mod!

[2021-12-09 02:09] Goht opened #229 "Missing Textures"
Hey, so I added this to Crucial 2, but I have noticed that the textures for slabs are becoming... slightly less reliable. I keep running into an issue where the "missing texture" texture replaces the whole block space, until I remove the slab and replace it. This happens with both vertical and regular horizontal slabs. And it doesn't affect all the slabs in the area... just one... and only every o

[2021-12-11 16:36] dimasasus opened #230 "Missing textures on vertical and double slabs containing different slabs when used in moving contraptions from create mod [1.16.5]"
![2021-12-11_18 27 54](https://user-images.githubusercontent.com/62846740/145684270-cbf025ca-f893-473e-be40-84396a7d8218.png)
Using vertical slabs or two different slabs combined in moving contraptions (any type) causes a missing texture bug. Game version 1.16.5, Double slabs v3.7.2, Create mod v0.3.2f.

[2021-12-25 23:08] MagmaSlime123 opened #231 "[1.12.2] Vertical Slabs crash the game."
See the report.
[crash-2021-12-25_16.06.45-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/7776346/crash-2021-12-25_16.06.45-client.txt)

[2021-12-29 17:55] starmun-0010 opened #232 "0.2.0 version of Observables mod breaks Double Slabs mod"
**Description**
- Placing down a vertical slab in the presence of Observable mod causes a crash.
- I have opened an issue on Observable's issue tracker with all the details
- Adding link here for reference

https://github.com/tasgon/observable/issues/23

[2022-01-05 20:57] h4vok-git opened #233 "Double slabs freezing mobs whilst using performant"
I have discovered a bug when running performant alongside the double slabs mod, when using performant on my server alongside the double slabs mod (DoubleSlabs-1.16-3.5.2) it causes mobs to freeze they still collide with the player but cannot move whatsoever even breaking the slabs below them or using water results in the mob still being frozen in mid air as the mob is not affected by gravity. To r

[2022-01-06 18:38] someaddons commented on #233
found the issue and left a note of whats happening/what should be fixed in a comment at https://github.com/someaddons/performant_issues/issues/215

[2022-03-20 00:14] SunnyMenkov opened #234 "1.16.5 client crash & betterstorages"
The game crashed whilst rendering block entity
Error: java.lang.ClassCastException: cjminecraft.doubleslabs.common.tileentity.SlabTileEntity cannot be cast to io.github.tehstoneman.betterstorage.common.tileentity.TileEntityTank
[crash.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/8310366/crash.txt)

[2022-04-04 23:11] VivianneAleksander opened #235 "Crash with Connected Textures Mod and Thaumcraft 6"
Attempting to break a silverwood slab with another slab on top of it while in survival mode crashes the game.

https://pastebin.com/b7AUdPAs

Seems to have something to do with CTM, although I tried disabling connected textures in the options menu and it didn't work.

[2022-05-02 19:26] Morabert commented on #216
I have this issue as well, _"LotR:Renewed"_ have integrated Slabs.
I've noticed that any mod that has integrated verticality for slabs has a render conflict (see: cushions in _"Wily Textiles"_ Mod)

[2022-05-02 19:30] Morabert commented on #211
I've had this issue with any block copying utility: _"WorldEdit"_, _"Structurize"_ & even the apps _MCASelector_ & _Amulet_. Sometimes the copied blocks are invisible, with no missing texture render. At all instances interacting with the block causes a crash.

[2022-05-07 00:41] InuYasha86000 opened #236 "Crash when mixing any tinkers construct slabs 1.12.2"
here is the crash report:

---- Minecraft Crash Report ----
// Daisy, daisy...

Time: 2022-05-06 17:34:35 PDT
Description: Exception in server tick loop

net.minecraftforge.fml.common.LoaderExceptionModCrash: Caught exception from Railcraft (railcraft)
Caused by: net.minecraft.util.ReportedException: Loading Railcraft Module
    at mods.railcraft.common.modules.RailcraftModuleManager.processStage(

[2022-05-07 00:51] InuYasha86000 commented on #236
just tried the mod in singleplayer and it crashed when I went to place 2 modded slabs together:

---- Minecraft Crash Report ----
// There are four lights!

Time: 2022-05-06 17:49:19 PDT
Description: Exception ticking world

java.lang.NullPointerException
    at net.minecraft.world.WorldServer.tick(WorldServer.java:229)
    at net.minecraft.server.MinecraftServer.updateTimeLightAndEntities(Minecra

[2022-05-09 06:28] InuYasha86000 commented on #236
I forgot to mention my server is running mhoist-1.12.2-321, and if you need, my modpack i'm trying to add it to is my own The Valley: https://www.curseforge.com/minecraft/modpacks/the-valley-1-12-2

[2022-05-28 15:32] #215 closed, assigned to nobody

[2022-07-03 08:49] wavy-cat commented on #219
The same problem in 2022.

[2022-07-04 20:10] MikelEFG opened #237 "Corrupted my world (presumably)"
I was on my world a few weeks ago, and while I was testing out this mod the game suddenly crashed. I reopened the world and all of the blocks were randomized, and after a few seconds the game crashed again.

Here's the mods I have active:
 ![image](https://user-images.githubusercontent.com/51886657/177212201-c28b4194-e83a-446a-b272-be09ab1aa957.png)

Here's the crash report:

[2022-07-11 12:11] gozzie01 commented on #230
same for 1.18.2

[2022-07-12 09:54] CJMinecraft01 commented on #211
Apologies for the massive delay in responding to this, been a hectic year at university so have only just got round to looking at the issue. It should be fixed in the next version :)

[2022-07-12 09:54] #211 closed, assigned to CJMinecraft01

[2022-07-12 09:57] CJMinecraft01 commented on #208
Hi there! Apologies for the extremely long delay in responding to this, I've had a really hectic year at university and have only just had the chance to take a look. From my own testing, I believe this is fixed in the latest version, if you wouldn't mind checking that would be great :)

[2022-07-12 09:57] #208 closed, assigned to CJMinecraft01

[2022-07-12 10:05] CJMinecraft01 commented on #218
Hi there! Apologies for the extreme delay, I've had a really hectic year at university so haven't had chance to look at any of the issues. Which Double Slabs version does this occur on? Thanks

[2022-07-12 10:10] CJMinecraft01 commented on #219
Hi there! Apologies for the extreme delay in responding to this issue. I've been really hectic at university this year and have only just had a chance to look through the issues. I think I have fixed this and will add the fix in the next version.

[2022-07-12 10:10] #219 closed, assigned to CJMinecraft01

[2022-07-12 10:13] CJMinecraft01 commented on #220
Hi there! Apologies for the delayed response, had a really hectic year at university so have only just got round to checking the issues with the mod. Does this still happen and if so would you mind checking what the F3 screen says (I'm assuming it will say something that the top and bottom slab is null in the debug info). Thanks!

[2022-07-12 10:14] CJMinecraft01 commented on #222
Hi there! Apologies for the extremely delayed response to this issue, had a really hectic year at university so haven't got round to checking the issues with the mod. Can you explain to me how you produced this? Thanks

[2022-07-12 10:25] CJMinecraft01 commented on #223
Hi there! Apologies for the slow response, I've had an extremely hectic year at university and have only just got round to looking at the issues. I think I have just fixed it and so this will hopefully be fixed in the next version

[2022-07-12 10:25] #223 closed, assigned to CJMinecraft01

[2022-07-12 10:26] CJMinecraft01 commented on #225
Hi there! Apologies for the extremely long delay in response, I've had a hectic year at university and have only just had chance to look at the issues with the mod. I believe I have just fixed this so this should be fixed in the next version

[2022-07-12 10:26] #225 closed, assigned to CJMinecraft01

[2022-07-12 10:28] CJMinecraft01 commented on #228
Hi there! Apologies for the delay in responding to this. It took me a while to update the mod, primarily due to irl commitments (I've had a hectic year at university this year). You should see that there is now a 1.18 (and 1.19) version of the mod. Again, sorry for the delay

[2022-07-12 10:28] #228 closed, assigned to nobody

[2022-07-12 10:28] CJMinecraft01 commented on #226
Hi there! Apologies for the delayed response, had a really hectic year at university. Would you mind checking this is still the case in the latest version?

[2022-07-12 10:31] CJMinecraft01 commented on #229
Hi there! Apologies for the delay in responding to this, I've had a really hectic year at university and have only just got round to checking the issues. Does this still occur? Also which double slabs version are you using? And lastly if you could provide the debug log file that would be fantastic! Thanks

[2022-07-12 10:36] #232 closed, assigned to nobody

[2022-07-12 10:44] CJMinecraft01 commented on #233
Thank you so much! I have changed what you suggested. Also I apologise for the delay in making this change, had a really hectic year at university so have only just got round to taking a look at all the issues with the mod. Sorry about that

[2022-07-12 10:44] #233 closed, assigned to CJMinecraft01

[2022-07-12 10:50] CJMinecraft01 commented on #234
Hi there! Apologies for the delayed response, had a really hectic year at university. I just wondered how you were able to create this error?

[2022-07-12 10:54] CJMinecraft01 commented on #237
Hi there! The link you provided to the crash report doesn't contain any text. I wondered if you wouldn't mind attaching it to your response? Thanks :)

[2022-07-12 13:31] CJMinecraft01 commented on #214
Hi there! Apologies for the delayed response, I've had a hectic year at university and have only just got round to checking the issues with the mod. I have now fixed this I believe and will add the fix in the next version

[2022-07-12 13:31] #214 closed, assigned to CJMinecraft01

[2022-07-12 13:42] CJMinecraft01 commented on #217
Hi there! Apologies for the slow reply (as per your other issue). In regards to the grass slab issue, you need to add it to the `uvlockModelBlacklist` in the client config and that should fix the texture issue. I am looking into the glass slab issue now

[2022-07-12 14:18] CJMinecraft01 commented on #217
Fixed the glass slab issue, it seemed that the glass slab item was being recognised as a valid slab so it allowed the slab to be placed vertically, but the glass slab block wasn't recognised so no vertical slab variant was generated. This will be fixed in the next update

[2022-07-12 14:18] #217 closed, assigned to CJMinecraft01

[2022-07-12 17:34] GerbilPL commented on #222
Hi! No problems, school and work are important things.
I saw that air slab in my mod pack and i tested this mod only with jei and latest forge (2860).
You can also get it without jei, with commands.
Very interesting block ngl.

I would either keep it and add some properties (because it crashes when player tries to break it or walks into it) or default slab`s properies to stone slab.

Crash only oc

[2022-07-12 19:19] Baggytrousers27 opened #238 "[1.19] Error loading with 41.0.96"
Picked a heck of a time to debut in 1.19
As with 96% of forge mods versions 41.0.64 and 41.0.94 have breaking changes (no big surprise).

[Crashlog](https://pastebin.com/aqJzr7py)

[2022-07-13 02:38] WenXin20 commented on #217
Thanks!

[2022-07-13 02:40] WenXin20 commented on #214
No problem! College can be busy for sure

[2022-07-13 10:12] RenoIsHere opened #239 "(1.18.1) Game crashing after double slabs are placed"
So it appears that whenever you go to place two different slabs on top of eachother in this specific version. The game crashes and gives the following error code.

`The game crashed whilst tesselating block model
Error: java.lang.NoSuchMethodError: 'net.minecraftforge.registries.tags.ITagManager net.minecraftforge.registries.IForgeRegistry.tags()'
Exit Code: -1`

Not too sure if this is specifical

[2022-07-13 10:44] CJMinecraft01 commented on #238
Thanks for reporting this, bad timing on my part. Have just published a new version which will fix this

[2022-07-13 10:44] #238 closed, assigned to CJMinecraft01

[2022-07-13 10:48] CJMinecraft01 commented on #239
Hi there! Would you be able to provide the full crash log please?

[2022-07-13 11:16] CJMinecraft01 commented on #216
Thanks for the issue, the LOTR slabs should now place and appear correctly when I release the next version!

[2022-07-13 11:16] #216 closed, assigned to CJMinecraft01

[2022-07-13 21:12] RenoIsHere commented on #239
[https://pastebin.com/Ka4nHJTE](url)

[2022-07-14 08:51] Atrodei commented on #220
Hello!

That's understandable lol, I honestly haven't played with the mod in a
while however I will see if I still have the pack hanging around and see if
I can find a vanished one to check the f3!

On Tue, Jul 12, 2022, 6:13 AM CJMinecraft ***@***.***> wrote:

[2022-07-14 09:34] CJMinecraft01 commented on #220
Awesome! Thank you so much!

[2022-07-14 09:39] CJMinecraft01 commented on #239
Hi there! Thanks for posting this! Is this something you could test in 1.18.2 for me. I suspect there was a name change between versions which is causing this issue

[2022-07-14 23:16] RenoIsHere commented on #239
Works perfectly fine in 1.18.2, as you can see in the following image

[https://imgur.com/a/K8GPqVT](url)

[2022-07-15 08:12] CJMinecraft01 commented on #239
Awesome! It seems that I am correct, do you specifically need a 1.18.1 version? (I will update the mod page accordingly)

[2022-07-15 20:33] RenoIsHere commented on #239
If that's possible. That would be wonderful!

[2022-07-16 15:18] Oaking2000 opened #240 "Double Slabs failed to load correctly on Forge 41.0.63"
Here's a crash log.

[double_slabs_crash_log.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/9126201/double_slabs_crash_log.txt)

[2022-07-16 18:26] Goht commented on #229
I retired that world. I kinda ebb and flow with Minecraft, y'know? Anyways, I remember it was one of the stone slabs I was using on the roof of one build, but that's about all. Of course, I don't have a debug log file at this point. Sorry! If that's too vague, feel free to archive this problem!

[2022-07-22 07:28] lordudi opened #241 "crouching is a nightmare with Double Slabs"
When I played my modpack with Double Slabs, I had to hold the shift key for half a minute before it did crouch animation, but when i removed it, the crouch worked normally.
I will send you all the mods and config so you could recreate it, since I didn't find the problem in the logs, and since GitHub has file size limit you can download them from this google drive link: https://drive.google.com/fil

[2022-07-25 01:56] juntalis opened #242 "Crashing when looking at mixed double slabs (1.18.2)"
This doesn't appear to be the same issue as #239 so I figured I'd post. I've been seeing this crash a handful of times over the last few days while working with mixed double slabs. (only been using horizontal, so I can't speak for vertical) The slabs in question are not part of any Create contraption nor are they subject to any movement.

[code]

[2022-07-26 13:28] SheReyy commented on #226
I can confirm that this still applies to the version DoubleSlabs-1.16-3.7.3.jar

[2022-07-27 14:09] BeeBlob-Enby opened #243 "Error as soon as run"
---- Minecraft Crash Report -------- Minecraft Crash Report ----// There are four lights!
Time: 2022-07-27, 7:12 p.m.Description: Mod loading error has occurred
java.lang.Exception: Mod Loading has failed at net.minecraftforge.logging.CrashReportExtender.dumpModLoadingCrashReport(CrashReportExtender.java:55) ~[forge-1.19-41.0.63-universal.jar%23159!/:?] {re:classloading} at net.minecraftforge.clie

[2022-07-27 16:02] CJMinecraft01 commented on #243
Hi there! Thanks for the report. It seems like the issue is due to a breaking change in forge at version 41.0.94. Please would you mind using a later version of forge and checking if this is fixed?

[2022-07-29 01:44] InuYasha86000 commented on #236
have there been any updates about the crash in 1.12.2? I will be trying to add it back into my modpack again to see if it's any better.

[2022-07-29 02:17] InuYasha86000 commented on #236
I just tried it in single player again and the problem with the single player crashing seems to be with tinkers smeltery slabs.

[2022-08-04 01:25] HeraMain opened #244 "Double Slabs, Structurize Incombatibility (Build Tool) 1.16.5"
I am running the latest versions of Structurize and DoubleSlabs for my Minecraft version. No other open issue is the same as mine at the time of posting.

    Minecraft Version: 1.16.5
    Structurize Version: 1.16.5 (structurize-1.16.5-1.0.418-ALPHA.jar_
    Related Mods and their Versions: 1.16.5 (DoubleSlabs-1.16-3.7.3.jar)

**Expected behavior**
Use build tool to place blueprints in creative m

[2022-08-04 11:12] ArctixFox opened #245 "Vertical Slabs"
I have a problem with the vertical slabs not working. I know the mod is working from the double slabs, but it doesn't do anything when I crouch to place a slab. I am running the 1.12.2 version along with other mods. I can't get it to work with vanilla blocks and my other mods don't mess with the blocks so I'm confused.

[2022-08-05 21:00] ZEROX7 opened #246 "RND Crash while playing"
Idk  why it happens

[crash-2022-08-05_22.58.19-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/9271633/crash-2022-08-05_22.58.19-client.txt)

[2022-08-18 07:35] WenXin20 opened #247 "Vertical Campfire Bugs"
Minecraft v1.18.2
Forge v40.1.73

Vertical campfires from Infernal Expansion, Pokecube AIO, and Biomes You'll Go don't look correct when placed.
![image](https://user-images.githubusercontent.com/12000593/185336938-df233c1a-b136-4e10-9188-b590bd19579e.png)

[2022-08-20 23:31] Nikofluff commented on #226
hi there, sorry sorry, I havent viewed this thread in a whiilllee. yes, it still does
![image](https://user-images.githubusercontent.com/94094487/185769376-c018bc98-5d93-4340-a708-fb482116db74.png)

[2022-08-25 10:12] Hahahavana opened #248 "[Bug] Having to Double Click with Carry-On and Block Placement 1.18.2"
With Double Slabs installed I've found I have to double right-click to place any non-slab blocks while crouched, and also to pick up entities using the Carry-On mod. Sometimes even more than just double-clicking. This also applies to any other block interaction like hoe-ing, sowing, creating paths, and similar.

[2022-08-28 05:14] Hahahavana commented on #248
I looked into it more and it seems to be a soft compatibility issue with Just Enough Keys, as it has a odd interaction with it's expanded hotkey functions.

[2022-08-28 05:14] #248 closed, assigned to nobody

[2022-08-30 22:21] Catomax262 opened #249 "Vertical slab placement even if shift isn't pressed"
Is this intentional? I kinda hate it because i can't place horizontal slabs.

[2022-09-10 01:41] Flugel3 opened #250 "Vertical Cobblestone Slab texture bug"
Hey, so this is a strange issue that seems to happen while a vertical slab is waterlogged and unloaded and reloaded... I have some screenshots here.

It also happened when a slab was waterlogged but then un waterlogged, when I came back those ones were also bugged like this.

VERSION: 1.18.2

MODVERSION: 1.18-5.0.0

![2022-09-09_21 38 23](https://user-images.githubusercontent.com/78325529/18946406

[2022-09-10 01:41] Flugel3 commented on #250
The missing slabs are ones that I broke, those are the ones that were waterlogged and then un-waterlogged manually. The ones below were always waterlogged.

[2022-09-10 14:37] RainbowSaber opened #251 "[1.18.2] Add Blacklist for vertical placement"
Crash in combination with SlabGen,. This mod adds slabs with special behaviour (gravity enabled gravel slabs, Dirt slabs that can grow grass). These slabs both cause missing texture and rendering bugs, aswell as server crashed due to conflicting behaviour. Could you add a server-side blacklist for blocks to be affected by your placement/doubleslab logic?

Crash report: [Pastebin](https://pastebin.

[2022-09-12 09:44] Anettei commented on #249
i have same problem. its really annoying and i just might remove it from my mods tbh

[2022-09-12 14:14] CJMinecraft01 commented on #249
Hi there! Have you checked what placement option you have in the doubleslabs-client.toml config file? It shouldn't always place, it depends on how you are facing etc assuming you are on the DYNAMIC placement method. Let me know if changing the placing method fixes this for you?

[2022-09-22 03:12] InterruptingOctopus opened #252 "[Suggestion] disable vertical slabs"
mostly for the purpose of trying out other mods' functionality for vertical slabs but dont offer doubleslabbing functionality.

[2022-10-13 14:34] USS-Corvan opened #253 "Slab placing causes confusion."
I accidentally put one vertical slab somehow, yet afterwards no matter what I do I just can't put a vertical one. It confuses me.

[2022-10-13 14:38] USS-Corvan commented on #253
I don't understand. I can't interact with interactable blocks with slabs in my hand because I would instead put a vertical slab. Yet when it comes to not interactable blocks I would place a vertical slab while placing a horizonal one with shift held.

[2022-10-22 18:56] JaboyKoral opened #254 "Can't interact with blocks while holding slab"
1.18.2, DoubleSlabs-1.18-5.0.0

While holding a slab, I can't interact with doors, chests, etc. Instead, it places the slab, either in horizontal or vertical orientation.

[2022-11-02 13:26] Artheow opened #255 "crash client when placing slabs (1.19.2)"
On forge 43.1.47
On a server
Using a modpack
Apparently caused by optifine.

Some logs:

[14:21:50] [Render thread/WARN]: [OptiFine] *** Exception outside of method ***
[14:21:50] [Render thread/WARN]: [OptiFine] Method deactivated: public static void net.minecraftforge.client.ForgeHooksClient.onScreenCharTypedPost(net.minecraft.client.gui.screens.Screen,char,int)
[14:21:50] [Render thread/WARN]:

[2022-11-10 04:08] Numerosityy opened #256 "Wooden vertical slabs don't act as fuel"
Title says it all. Would be a useful feature

[2022-11-13 16:02] 23KiaraMinecraft opened #257 "Double Slabs Crashes With Hardcore Item Stages"
[crash-2022-11-12_21.07.42-client.txt](https://github.com/Tschipp/HardcoreItemStages/files/9997676/crash-2022-11-12_21.07.42-client.txt)

I'm playing on 1.12.2 with the latest version of Forge and am using a custom modpack. When the modpack starts loading, it crashes. Double Slabs and Hardcore Item Stages appear to conflict with each other.

[2022-11-18 00:41] 0DeltaWaves commented on #229
Old issue, but I'm experiencing the same thing in my world. Installed mod, placed a stone brick slab on top of a dark oak slab, all was well. Saved & quit. When I reloaded the world, it's a missing texture.
Here is my debug log: https://paste.ee/p/vTA0F

[2022-11-18 01:10] InuYasha86000 commented on #236
it appears others are having the same issue I am with the mixed double slabs. have there been any updates on a possible fix?

[2022-11-21 03:23] Bitslayn opened #258 "Crash when breaking and interacting with vertical slabs in survival"
Game crashes when I break a double vertical slab and interact with it. The first image is of me loading the world and how it's supposed to be normally. Circled is the exact block which I interacted with when it was broken. I have had issues losing items while playing around with the broken slab however I'm unsure of how exactly I did that. None of this is an issue with horizontal slabs.
[https://m

[2022-11-23 22:50] shannahrose opened #259 "Crash When Opening Game"
[crash-2022-11-23_16.40.11-fml.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/10079585/crash-2022-11-23_16.40.11-fml.txt)