[2019-11-19 01:38] T4ge opened #1 "Server Crash"
https://pastebin.com/raw/npdatZEV
Not quite sure what caused this. Suspecting it could be a coremod or wrong Forge version.
I don't have much information as this was discovered during debugging only logs for a friend.
Will gladly assist more if additional information is  required.

[2019-11-19 19:40] Pival81 opened #2 "Crashes with terrafirmacraft slabs."
I tried placing a tfc slab on top of another tfc slab and it crashed.

https://paste.dimdev.org/zuhumalavi.rb

[2019-11-19 20:08] Pival81 commented on #2
Actually, this just happened with thaumcraft slabs too.

[2019-11-20 08:53] CJMinecraft01 commented on #1
From the error file you've gave, I can identify that it more than likely is my mod (sorry).
`| LE    | doubleslabs                       | 0.0.2                    | DoubleSlabs-1.12-0.0.2.jar                        | None                                     |`
suggests that there was a loading error when loading the double slabs jar. I have (I believe) tracked down the issue, and it's a really si

[2019-11-20 08:55] CJMinecraft01 commented on #2
Okay, while investigating this issue, the source of this issue is due to the fact that I'm accessing a private field which I've made public using an access transformer. I'll continue to have a look but if this is happening with multiple mods, be sure to send the log file, that would be super helpful! Thanks for your patience

[2019-11-20 09:34] CJMinecraft01 commented on #1
Should be resolved in the latest update

[2019-11-20 09:34] #1 closed

[2019-11-20 09:34] CJMinecraft01 commented on #2
Should be resolved in the latest update

[2019-11-20 09:34] #2 closed

[2019-11-20 15:00] T4ge opened #3 "Blacklist"
![2019-11-21_01 25 31](https://user-images.githubusercontent.com/8440488/69249685-9463b980-0bae-11ea-886f-63b6bbab9de2.png)
Would it be possible to get a blacklist to avoid issues like these, even just temporarily if compatabily is being looked at? I know blockcraftery slabs aren't supported, but would be nice if we could disable it so it can't be exploited.

[2019-11-20 19:05] CJMinecraft01 commented on #3
Added in the latest update

[2019-11-20 19:05] #3 closed

[2019-11-21 00:41] supersaiyansubtlety opened #4 "Crash when placing vanilla slab on aether legacy slab"
My game crashed when placing a sandstone slab on top of an aether legacy skyroot slab (log below).
I've also noticed only half-compatibility with Tinker's Construct slabs: Tinker's slabs can be bottoms of double slabs but not tops (specifically, I couldn't put two different Tinker's slabs in a double slab and I couldn't put a Tinker's slab on top of a vanilla slab)

Forge 1.12.2 - 14.23.5.2847
Dou

[2019-11-21 05:04] T4ge opened #5 "Blacklist not working as intended"
The new blacklist feature does work to a degree, but there's a minor issue when placing a non-blacklisted slab on a slab that is blacklisted.
![image](https://user-images.githubusercontent.com/8440488/69305560-bb5cd280-0c24-11ea-883b-b9a8b86d075d.png)

    # The list of slab types and variants to ignore when creating double slabs
    # Example: minecraft:purpur_slab
    # Example: minecraft:stone_

[2019-11-21 05:16] T4ge commented on #5
After some additional testing, the blacklist doesn't seem to make a change to this behavior.
I can place any slabs ON a Blockcraftery slab, but I can't place Blockcraftery slabs onto other slabs.

[2019-12-09 20:43] CJMinecraft01 commented on #5
Sorry for the delay. I've managed to figure out the issue (it's partially due to the variant property that blockcraftery uses for slabs but should be fixed in the latest version)

[2019-12-09 20:43] #5 closed

[2019-12-09 20:46] CJMinecraft01 commented on #4
Sorry for the delay. The bug should be fixed in the latest version

[2019-12-10 04:59] yukinagatosc2 opened #6 "[suggestion] Block breaking speed/harvest level depends on which half you're breaking"
Once klee slab behavior is implemented it'd be nice if the slab you tried to break has the same harvesting behavior that a lone slab would.  i.e. same hardness, explosion resistance and harvest level

[2019-12-10 07:24] T4ge commented on #5
Awesome, we've just tested it and it works flawlessly.
Thanks a lot for getting around to it!

[2019-12-12 08:24] supersaiyansubtlety commented on #4
Still getting a crash under the same conditions with version 0.1.1
[new crash log](https://pastebin.com/KFhctdc2)

[2019-12-12 22:37] T4ge opened #7 "Crash with WAILA"
https://paste.dimdev.org/ezipewoxaj.mccrash
Don't have much information at this time regarding this, just forwarding the crash from a user of the modpack this is in.

[2019-12-12 22:39] T4ge commented on #7
![Screenshot_20191212-234018_Discord](https://user-images.githubusercontent.com/8440488/70754871-9e558400-1d38-11ea-9d94-26071faf3fcd.jpg)
Additional info from user

[2019-12-14 11:36] CJMinecraft01 commented on #7
Would you happen to have a link to the modpack so I can try to recreate the bug?

[2019-12-14 19:04] T4ge commented on #7
https://www.curseforge.com/minecraft/modpacks/dojopack
There you go :)

[2019-12-16 12:49] T4ge commented on #7
Any news on this issue or estimates for a potential fix?

[2020-01-13 15:59] CJMinecraft01 commented on #7
Hi, sorry for the delay.. I've took a look into this and I haven't been able to recreate this issue. What I will do, is I will place an extra precaution at the position that the error occurred so that this issue should not happen again. The new version should release shortly. If it does happen again, be sure to let me know!

[2020-01-13 15:59] #7 closed

[2020-01-13 16:10] CJMinecraft01 commented on #4
This should now (hopefully :D) be fixed in the latest version

[2020-01-13 16:10] #4 closed

[2020-02-05 07:03] scottwilson0308 opened #8 "Can't place slabs next to each other without first completing the block"
Hey there! First off, thanks for your time and effort that's gone into the mod :)

I've just started using the mod and when I try to place oak slabs one beside another by right clicking the side of a slab while holding another (building a 1/2 block floor), I end up placing the slab above/below the one I've clicked on.. Is it not possible to place slabs using the sides of other slabs while this mod

[2020-02-08 00:58] Syndaryl commented on #8
I'm having the same issue, when you're making a slab floor, it's enough to drive you bonkers.

This is a really cool mod idea, and I'm very reluctant to give it up because of this quirk, so right now I'm doing a lot of stuff with scaffolding to work around it. I'd rather it Just Worked though ;)

[2020-02-08 00:59] Syndaryl commented on #8
I believe Vanilla uses raytracing to determine at what angle you're clicking on the block to decide if you need to put a slab on the side or make a doubleslab or whatever. You could look into this?

[2020-02-08 09:08] CJMinecraft01 commented on #8
Sorry for the delay, I'm looking into this issue and suspect it is something to do with how I ported the 1.12 version to 1.14 (assuming this is on the 1.14 version). What I suspect is, as you can place slabs on top of a slab by clicking on the side of the block, I have accidentally forgot to check whether you intend to place it on the side of the block or the top. I'll try to get this fixed as soo

[2020-02-08 10:34] CJMinecraft01 commented on #8
This should now be fixed in the latest version, if you have any more issues, be sure to let me know!

[2020-02-08 10:34] #8 closed, assigned to CJMinecraft01

[2020-02-10 18:31] WenXin20 commented on #8
I found out this can still happen if the upper half of a slab is right-clicked to placed another slab above. It'll instead make the block below into a double slab.

[2020-02-10 18:37] WenXin20 opened #9 "Game Freeze with Hywla"
`Minecraft v1.14.4`
`Forge v28.2.0`
`Hwyla v1.10.6-B67`
`Double Slabs v1.0.1`

The game froze after creating a double slab out of just two spruce slabs.
[Log](https://gist.github.com/WenXin20/3e2250bd63ccbefe0a5239e0583389ad)

[2020-02-17 01:37] WenXin20 opened #10 "Game froze breaking a double glass slab"
`Minecraft v1.14.4`
`Forge v28.2.0`
`Double Slabs v1.0.1`
[`Vanilla Things v0.4.6`](https://www.curseforge.com/minecraft/mc-mods/vanilla-things)

After creating a double glass slab using the mod Vanilla Things, I tried to break it, but my game froze.
[Here](https://gist.github.com/WenXin20/267d3df1fc038b66d6a902de0d9c4b0b) is the log.

The double glass slab was also opaque instead of clear, ~but I

[2020-03-07 13:15] Naxanria opened #11 "Game crash when breaking double oak slab"
[crash-2020-03-07_14.07.46-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/4301834/crash-2020-03-07_14.07.46-client.txt)

A spruce/oak combo didnt crash. Using an axe didnt crash, but pickaxe did.

[2020-03-07 13:23] Naxanria opened #12 "Need full block before placing slab on top"
Trying to place a slab above another slab that is the top half of the slab, it completes the block instead of placing it above.

[2020-03-16 14:35] UQuark opened #13 "Crash when trying to set slab on world-generated slab"
(May be an issue with Lost Cities Mod)

When I try to place slab on another slab, generated in world by Lost Cities Mod, it crashes the game with [this](https://paste.dimdev.org/vusiqijuku.mccrash) crash report.

[2020-03-18 10:33] CJMinecraft01 commented on #10
Yes that is correct, the mod assumes that all slabs aren't transparent which is an oversight on my part. I do plan to rework the rendering of slabs to take this into account in the near future but in the mean time, I'll work on fixing that issue you had

[2020-03-18 13:03] WenXin20 commented on #10
Thanks!

[2020-03-18 13:53] CJMinecraft01 commented on #10
Ok so I've been working on this for quite a few hours and have got it working! The only issue is, is that because the double slab block is dynamic I am going to have to make a compromise.
You see, to make a block that is transparent render the sides of neighbouring blocks, I have to tell the game that the block is not solid and that the block should always rendering neighbouring sides, even if the

[2020-03-18 14:17] WenXin20 commented on #10
Alright, whichever is best. :)
I wasn't using it to build anything, just testing the mod out.

[2020-03-18 15:40] CJMinecraft01 commented on #13
Should be fixed in the latest version

[2020-03-18 15:40] #13 closed, assigned to CJMinecraft01

[2020-03-18 15:40] CJMinecraft01 commented on #12
Should be fixed in the latest version

[2020-03-18 15:40] #12 closed, assigned to CJMinecraft01

[2020-03-18 15:40] CJMinecraft01 commented on #11
Should be fixed in the latest version

[2020-03-18 15:40] #11 closed, assigned to CJMinecraft01

[2020-03-18 15:41] CJMinecraft01 commented on #10
Should be fixed in the latest version!

[2020-03-18 15:41] #10 closed, assigned to CJMinecraft01

[2020-03-18 15:41] CJMinecraft01 commented on #9
Should be fixed in the latest version

[2020-03-18 15:41] #9 closed, assigned to CJMinecraft01

[2020-03-19 01:11] SoyJetixXD opened #14 "Crash the game"
Information: Hello, download your mod because I find it interesting so I added it to my modpack, I just try it, all correct, but when I break the block my game crashes.
![Captura de pantalla (5)](https://user-images.githubusercontent.com/60457424/77021405-93704800-6954-11ea-8b1e-ca5170cf6985.png)
Link:https://paste.dimdev.org/utudozifoy.mccrash

[2020-03-19 04:16] flatbea-t opened #15 "Missing Textures"
When unloading a chunk that has a mixed slab, upon reloading the texture is missing. Only occurs with vanilla slabs, glass slabs from Glass Cutter mod are unaffected.

[2020-03-19 07:33] CJMinecraft01 commented on #15
Which Minecraft version are you using?

[2020-03-19 07:34] CJMinecraft01 commented on #14
Thanks for the bug report. I have an idea of what this possibly may be and I'll get round to fixing it as soon as possible

[2020-03-19 11:51] flatbea-t commented on #15
1.15.2

[2020-03-20 04:51] texaswriter opened #16 "crash while placing a slab on top of another slab"
What I was doing:
 I was placing a slab on top of another slab on a SMP server when the client crashed. Relogging was fine.

Attached is a crash report.

[crash-2020-03-19_23.32.41-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/4357961/crash-2020-03-19_23.32.41-client.txt)

Useful snippet from crash report:

---- Minecraft Crash Report ----
// Would you like a cupcake?

Time: 3/19/

[2020-03-20 11:07] CJMinecraft01 commented on #16
Hi, thanks for the bug report. Have you tried updating DoubleSlabs to the latest version?

[2020-03-20 11:08] CJMinecraft01 commented on #15
Thanks, and which version of the mod?

[2020-03-20 22:10] BigPingo2 commented on #16
Same happened with me, I was placing a floor down and I accidentally placed another slab underneath the same type and game crashed, logged back in and whenever I tried breaking it it kept crashing. Removed the mod and works fine now.

[2020-03-20 22:18] BigPingo2 commented on #16
Oh yeah, I just tried it out and placing 2 different slabs on top of eachother worked fine, but it was when I break any 2 slabs that are on eachother, different or not, the game crashes. Here's what it says:
java.lang.IllegalArgumentException: Cannot get property PropertyEnum{name=variant, clazz=class net.minecraft.block.BlockPlanks$EnumType, values=[oak, spruce, birch, jungle, acacia, dark_oak]}

[2020-03-21 14:48] CJMinecraft01 opened #17 "[suggestion] Double Slabs should work with slabs which use a colour map"
Quark adds turf which uses a colour map to shade in the slabs which is currently unsupported by double slabs

[2020-03-21 16:24] CJMinecraft01 commented on #16
The second issue you mentioned @BigPingo2 is a duplicate of #14. Was the first issue fixed with the newer version?

[2020-03-21 18:38] BigPingo2 commented on #16
It was not fixed in the newest version @CJMinecraft01

[2020-03-23 11:42] CJMinecraft01 commented on #14
Fixed in the latest version

[2020-03-23 11:42] #14 closed, assigned to CJMinecraft01

[2020-03-23 11:45] CJMinecraft01 commented on #16
I can't seem to recreate your first issue. Could you please try and update to the latest version and tell me which slabs you tried to place together?

[2020-03-23 11:46] CJMinecraft01 commented on #6
This is now partially implemented. Whilst I don't have the klee slab behaviour yet, the block hardness, harvest level etc. does depend on the slabs which make up a double slab

[2020-03-23 13:05] KenyMylankca opened #18 "Placement Lag (1.12.2@F2847)"
It lags (game freezes) like 1 second or bit less when i place a double slab. it happens in my modpack so dunno how it goes in other situations. can u fix this please. thanks.
my modpack: https://www.technicpack.net/modpack/kenijeys-modpack.1441336

[2020-03-23 18:39] Shagum96 opened #19 "Mod lädt beim forge nicht"
Ich habe den forge modloader mit einigen anderen mods installiert.
Der double slabs mod wird in minecraft in mods nicht angezeigt, demzufolge kann ich ihn auch nicht benutzen.
Woran liegt der Fehler?

[2020-03-23 18:56] yukinagatosc2 commented on #6
nice.  keep up the good work

[2020-03-23 19:11] CJMinecraft01 commented on #19
Für welche Minecraft Ausführung? (Mein Deutsch ist nicht sehr gut)

[2020-03-24 21:01] Unicoranium opened #20 "Incompatible Slabs"
Some modded slabs don't appear to work as expected.
Trying to place these slabs on top of a vanilla stone slab will instead place them in the block above as it would in vanilla.

![image](https://user-images.githubusercontent.com/22139259/77476631-eaf53480-6de8-11ea-9e55-df3d2ceb7d94.png)

The slabs that aren't connected are from actually additions (left) and jaopca (right)

Looking at their sourc

[2020-03-24 21:24] CJMinecraft01 commented on #20
Yes, this is correct. They have implemented the slabs in a slightly different way than vanilla slabs but it would be possible I believe for me to make this work through making a change to the code I'm using. For which Minecraft version btw?

[2020-03-24 21:37] Unicoranium commented on #20
Currently running MC 1.12.2 with DoubleSlabs-1.12-0.1.4.jar

There's also another bug with these slabs, which will probably be fixed with this already, but I'll state it anyways just in case. If I place one of these slabs and use it to place a double slab above it, it creates a vanilla double slab

![image](https://user-images.githubusercontent.com/22139259/77479347-9bfdce00-6ded-11ea-90bd-689bb61

[2020-03-24 22:02] CJMinecraft01 commented on #20
Thanks for this. I'll take a look and fix these as soon as possible

[2020-03-26 00:42] ElmoooTheFlooper opened #21 ""The game crashed whilst tesselating block model" -Minecraft Version 1.14"
This is the problem for the two most recent versions. I can't place a slab on top of itself, or on top of another without crashing.

---- Minecraft Crash Report ----
// I let you down. Sorry :(

Time: 3/26/20 8:32 AM
Description: Tesselating block model

java.lang.NullPointerException: Tesselating block model
	at cjminecraft.doubleslabs.client.model.DoubleSlabBakedModel.getQuads(DoubleSlabBakedMod

[2020-03-29 23:18] iN0053 opened #22 "Minecraft 1.15.2 - 2.0.3 server crashing"
Today my server community came across a consistent crash after updating from version 2.0.2 to 2.0.3.

It appears our turtle pen, built utilizing the double slabs mod was causing a server crash, we had to eventually /kill @e all the turtles in the area to prevent the server crash for players in the area. We've had been playing with 2.0.2 for a while without this issue and the double slabs mod is th

[2020-04-02 10:49] CJMinecraft01 commented on #22
Sorry for the delay, upon looking into this I've discovered a really simple error I had made when porting to 1.15 (a method got renamed but the old one was now client side only). This will be fixed in the latest version!

[2020-04-02 11:54] #22 closed, assigned to CJMinecraft01

[2020-04-02 11:54] CJMinecraft01 commented on #21
Should be fixed in the latest version. (although I couldn't reproduce the issue I have placed more code to prevent crashes)

[2020-04-02 11:54] #21 closed, assigned to CJMinecraft01

[2020-04-04 06:37] D3nnis3n opened #23 "Crash"
Got a crash on placing slabs:
https://paste.dimdev.org/cofulobisu.mccrash

[2020-04-04 12:09] CJMinecraft01 commented on #20
Okay so the first issue should now be fixed regarding JAOPCA slabs, they should now work with the mod as well as a bunch more other mods. Let me know if the other issue is still present. Thanks :)

[2020-04-04 12:10] CJMinecraft01 commented on #20
It is available in the latest update (forgot to mention that)

[2020-04-04 12:10] CJMinecraft01 commented on #23
This should be fixed in the latest version!

[2020-04-04 12:10] #23 closed, assigned to CJMinecraft01

[2020-04-04 13:54] i-o-u opened #24 "[compatibility] Quark's Vertical Slabs"
Could support for Quark's vertical slabs be added?

[2020-04-04 14:32] CJMinecraft01 commented on #24
I do plan to add vertical slabs to double slabs and when I do I will add compatibility with other mods such as with Quark

[2020-04-04 14:32] CJMinecraft01 commented on #17
This has now been added in the latest version!

[2020-04-04 14:32] #17 closed, assigned to CJMinecraft01

[2020-04-04 15:20] dagantang opened #25 "Server Crash"
---- Minecraft Crash Report ----
// Surprise! Haha. Well, this is awkward.

Time: 2020-04-04 20:47:30 CST
Description: Exception in server tick loop

java.lang.NoClassDefFoundError: cjminecraft/doubleslabs/blocks/BlockDoubleSlab
    at cjminecraft.doubleslabs.Registrar.<clinit>(Registrar.java:21)
    at net.minecraftforge.fml.common.eventhandler.ASMEventHandler_333_Registrar_onBlockRegister_Regist

[2020-04-04 15:40] CJMinecraft01 commented on #25
Yep, I've just spotted what I've done 🤦‍♂ . Should be fixed in the latest version

[2020-04-04 15:40] #25 closed, assigned to CJMinecraft01

[2020-04-04 15:45] pimalel233 commented on #20
Hi, I will add some more mods that have slabs not working well still:
Plants, Engineer's Decor.
@CJMinecraft01 I noticed that when using Double Slabs, chunk update tick (seen as teal line in optifine's lagmeter) doubles/triples for me when making those slabs creating a noticeable short freeze. Is it possible to somehow optimize it?

[2020-04-04 16:54] CJMinecraft01 commented on #20
Hi, thanks for the other mods which have slabs which don't work. Through looking at how those mods implement slabs, it is apparent that they implement their slabs in a means which cannot be detected by my mod. One way that this can be rectified is if the mod authors were to attach some extra code which adds integration directly with my mod. Regarding lag please use the #18 issue to post reports th

[2020-04-04 17:38] CJMinecraft01 commented on #18
Do you happen to have Dynamic Surroundings installed?

[2020-04-04 17:40] KenyMylankca commented on #18
what????????

[2020-04-04 17:53] CJMinecraft01 commented on #18
In the modpack you were using and were experiencing placement lag, did you have the Dynamic Surroundings mod installed? I think there may be a compatibility issue between my mod and theirs

[2020-04-04 18:55] KenyMylankca commented on #18
yes i had dynamic surroundings.

[2020-04-04 20:54] D3nnis3n opened #26 "Keeping original slabs when they are not two different ones"
Would there be a possibility to keep the minecraft or mod slabs when you do double slabs from the same type?

Everytime i place two normal stone slabs to get double slabs they now switch to doubleslabs, causing them to be displayed differently to the existing minecraft / mod double slabs due to SereneSeasons changing color and due to texturepacks.

I think it would only be required to use your sla

[2020-04-04 22:02] pimalel233 commented on #18
I confirm that removing Dynamic Surroundings from my test pack solved the placement lag - Current mod list: https://pastebin.com/ym0uDDZ7

[2020-04-04 22:02] pimalel233 commented on #20
@CJMinecraft01 Yeah, it was Dynamic Surroundings. I posted mod list in that thread, so far only problems I noticed were those two mods I mentioned and DS. Do you plan any fix for DS compatability? Maybe also add whitelist to the config file where we could add custom slabs that does not work?

[2020-04-05 09:05] CJMinecraft01 commented on #20
Yeah I do plan to fix compatibility with DS, have been trying to figure out how. The issue with adding a whitelist is that I need to know which half of the block is already present and be able to set which half to use which is easy for vanilla like slabs as I have access to the block state property but with other mods I don't which is where the issue is. I will try my best though!

[2020-04-06 10:15] CJMinecraft01 commented on #26
This is entirely possible and I will hopefully add this as a configuration option soon!

[2020-04-06 11:36] D3nnis3n commented on #26
That would be great, thank you very much for considering this. :)

[2020-04-08 14:52] Pulz-TCP commented on #18
Jumping on this issue to confirm the same problem, and as the last few comments suggested- I do have Dynamic Surroundings. Is that a problem you'd be able to fix @CJMinecraft01 or would it be better to open an issue on their side?

Here is a crash log provided by a user, vanillafix threw them to the menu and provided it:
https://paste.dimdev.org/izuvetosic.mccrash

Thanks

[2020-04-08 18:29] CJMinecraft01 commented on #18
I am currently working on a fix for this but unfortunately I won't be able to include this into DoubleSlabs itself as it uses classes from DS. I will have to make a PR on DynamicSurroundings to try and fix this as this is a behaviour that is due to the type of blockstate I'm using meaning this issue may occur with other mods as well

[2020-04-09 16:23] CJMinecraft01 commented on #26
This has now been added in the latest version!

[2020-04-09 16:23] #26 closed, assigned to CJMinecraft01

[2020-04-09 16:24] CJMinecraft01 commented on #18
Thanks for the help in confirming that this issue was to do with Dynamic Surroundings. I've managed to create a patch within double slabs which means in the latest version the placement lag should be eradicated! Let me know if you have any further issues!

[2020-04-09 16:55] Pulz-TCP commented on #18
Thanks for the speedy response @CJMinecraft01, but after updating from 0.2.1 to that new 0.3.0 build I get a crash!
Edit; Not a crash, but the server hangs.
https://gist.github.com/PulzHF/ad3e488ff0071627578c9b437dd2b701

[2020-04-09 17:19] dagantang opened #27 "Server Crash 1.12.2"
---- Minecraft Crash Report ----
// Surprise! Haha. Well, this is awkward.

Time: 2020-04-10 01:14:29 CST
Description: Exception in server tick loop

java.lang.NoClassDefFoundError: net/minecraft/client/particle/Particle
    at cjminecraft.doubleslabs.Registrar.<clinit>(Registrar.java:20)
    at net.minecraftforge.fml.common.eventhandler.ASMEventHandler_341_Registrar_onBlockRegister_Register.invok

[2020-04-09 17:40] CJMinecraft01 commented on #27
Should be fixed in the latest version :)

[2020-04-09 18:45] CJMinecraft01 commented on #18
Should be fixed in the latest version!

[2020-04-09 20:37] #27 closed, assigned to CJMinecraft01

[2020-04-09 23:56] SoyJetixXD opened #28 "Bug With the doors"
Information: Hello, We see each other again, I use your mod with my friends to make some constructions in our survival and one of my friends discovered a small fault, in the slabs, they do not let us put the doors.

VANILLA:
![2020-04-09_18 04 47](https://user-images.githubusercontent.com/60457424/78950209-9eba1d80-7a93-11ea-82fc-aaba55c3d7f6.png)
DOUBLE SLABS:
![2020-04-09_18 49 20](https://user-

[2020-04-10 06:26] SoyJetixXD opened #29 "Crash In Multiplayer"
Information: Hello, see you again, I was playing with my friend, until he told me that he was crashing the game, vanillafix said that there could be 2 nosy mods, and the crashing starts when he places the slabs several times.
Thank you for reading.
![Captura_de_pantalla_18](https://user-images.githubusercontent.com/60457424/78968455-40f4f800-7aca-11ea-9d3c-484865ffb2a2.png)
Link:https://paste.dimd

[2020-04-10 07:32] Unicoranium commented on #20
I can confirm some slabs that were originally not working are now working. However some still do not work as they would be expected to.

Modded slab on top
![image](https://user-images.githubusercontent.com/22139259/78960204-f61bb600-7ab2-11ea-820d-ee8e1b8cb05a.png)
Modded slab on bottom
![image](https://user-images.githubusercontent.com/22139259/78966385-659aa100-7ac5-11ea-93b7-2376722f14f9.png)

[2020-04-10 08:00] CJMinecraft01 commented on #20
Yes when testing with JAOPCA slabs I noticed that the top half of the slab renders as the bottom but with the hitbox of the top. Is this the same for you?

[2020-04-10 10:22] CJMinecraft01 commented on #18
Let me know if everything is working okay and then I can close this issue :)

[2020-04-10 10:22] Pulz-TCP commented on #18
Looking into it now

[2020-04-10 10:46] Pulz-TCP commented on #18
@CJMinecraft01 The crash is gone, and I can't seem to replicate the lag issue

[2020-04-10 10:47] CJMinecraft01 commented on #18
Fantastic! Thanks for all the help testing this!

[2020-04-10 10:47] #18 closed, assigned to CJMinecraft01

[2020-04-10 10:48] KenyMylankca commented on #18
i will debug into it also and will give info to here if i find any issues

[2020-04-10 10:49] CJMinecraft01 commented on #18
Sweet. Keep me posted!

[2020-04-10 11:14] Pulz-TCP opened #30 "[1.12-0.3.1] Vanishing slabs"
Hi, on 0.3.1 I'm seeing a placement bug.

**Part one**
Placing two slabs on top of a _regular_ block is fine visually, but as per 'part two' of the report they will disappear.
Placing two slabs on top of a doubleslab or slab1/slab2 block causes it to either vanish and reappear in the inventory on the next place or causes the block below to be.
https://streamable.com/yjpvtd

**Part two**
Hitting an

[2020-04-10 15:07] CJMinecraft01 commented on #30
Could you please send a mod list for the mods that you are using?

[2020-04-10 15:14] Pulz-TCP commented on #30
Sure, https://www.technicpack.net/modpack/the-classic-pack-beta/mods

[2020-04-10 17:36] Unicoranium commented on #20
Yes, it does the same, which I thought was weird since The One Probe (and f3) says its still a JAOPCA block, but at the same time JAOPCA hasn't updated their slabs in a long time so nothing on their end should've changed

[2020-04-10 17:37] CJMinecraft01 commented on #20
Do the slabs work fine without my mod?

[2020-04-10 17:37] CJMinecraft01 commented on #20
I think they might have a model issue

[2020-04-10 17:44] Unicoranium commented on #20
Just loaded a pack with just the JAOPCA mods and it has the same top half issue, but only for single slabs, double slabs appear as full blocks as expected

[2020-04-10 18:27] CJMinecraft01 commented on #29
This should be fixed in the latest version!

[2020-04-10 18:27] #29 closed, assigned to CJMinecraft01

[2020-04-10 19:16] Opareds opened #31 "(1.15.2) Aurum's More Blocks Incompatibillity"
When i try to mix two colors of glass slabs or one glass slab and any slab like smooth stone slab does this thing. At first image it is with any slab, left slab is without mixing. At right is mixing with vanilla slab. Second one is two glass slabs mixed.
![2020-04-10_22 13 15](https://user-images.githubusercontent.com/63459953/79016788-840da480-7b78-11ea-8608-a062d0061546.png)

![2020-04-10_17 02

[2020-04-10 19:31] WenXin20 commented on #24
Mubble is another mod that adds vertical slabs.

[2020-04-11 11:20] CJMinecraft01 commented on #31
This should be fixed in the latest version!

[2020-04-11 11:20] #31 closed, assigned to CJMinecraft01

[2020-04-11 11:21] CJMinecraft01 commented on #30
This should hopefully be fixed in the latest version!

[2020-04-11 11:24] CJMinecraft01 commented on #20
Regarding the other mods that you were having compatibility issues, apparently Twilight Forest and Erebus slabs don't work. The only way I can see to fix this is for the mod authors of the other mods to add direct compatibility with my mod which shouldn't be too hard hopefully. I'm going to have a go at adding this to their mod and doing a PR

[2020-04-11 12:58] CJMinecraft01 commented on #20
The compatibility with Erebus, NetherEx and Atum 2 has been added in the latest version. I do plan to work on adding better support for Blockcraftery at a later date but I will have to alter how the slab creation and rendering works

[2020-04-11 12:59] #30 closed, assigned to CJMinecraft01

[2020-04-11 12:59] #19 closed, assigned to nobody

[2020-04-12 08:31] Wakatsu opened #32 "Game crashes whenever a block is right-clicked"
[crash-2020-04-12_16.27.17-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/4466064/crash-2020-04-12_16.27.17-client.txt)
[crash-2020-04-12_16.18.01-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/4466065/crash-2020-04-12_16.18.01-client.txt)

Game crashes whenever a block is right-clicked. Crashlog indicates this mod's erebus compatibility part being the case.

Please

[2020-04-12 22:15] Cebasdian opened #33 "Game crashes when break double slabs"
Hi, everytime I break a double slab my game crash.
Can someone help me, please?
Thx
[crash-2020-04-12_23.56.35-server.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/4467261/crash-2020-04-12_23.56.35-server.txt)

[2020-04-14 13:24] CJMinecraft01 commented on #33
Could you tell me which slabs you were trying to break when this happened please?

[2020-04-14 13:40] CJMinecraft01 commented on #32
This should be fixed in the latest version!

[2020-04-14 13:40] #32 closed, assigned to CJMinecraft01

[2020-04-14 13:41] CJMinecraft01 commented on #28
Should be fixed in the latest version!

[2020-04-14 13:41] #28 closed, assigned to CJMinecraft01

[2020-04-15 02:32] floral-qua-floral opened #35 "Using /clone to copy multiple mixed slabs throws an error in chat & produces missing-texture blocks that cause crashes"
While testing for another issue, I noticed an issue when using /clone to duplicate a platform of mixed slabs. Crash report is available [here](https://paste.dimdev.org/enelovuqeg.mccrash). Another mod, Alternate Spawn System, is loaded because I'm trying to identify a potential conflict between them. That issue report will probably be posted soon, once I've finished identifying that problem. I don

[2020-04-15 02:57] floral-qua-floral opened #36 "Crash with Alternate Spawn System"
A crash occurs when DoubleSlabs is loaded alongside [Alternate Spawn System](https://www.curseforge.com/minecraft/mc-mods/ass). Report is available [here](https://paste.dimdev.org/xucedujono.mccrash) - I believe it occurs when checking if a mixed slab is available for spawning, as I've only observed the issue happening once I've moved a reasonable distance away from the slab.

Steps to reproduce:

[2020-04-15 11:26] pimalel233 commented on #20
@CJMinecraft01 there should be a PR now that could work for compatability with Engineer's Decor but might need some more testing. I have not forwarded the topic to the dev of Plants as I have found out he is not developing the mod anymore.

[2020-04-15 11:28] CJMinecraft01 commented on #20
Fantastic, I'll add it as soon as possible!

[2020-04-16 13:49] CJMinecraft01 commented on #35
This should be fixed in the latest version!

[2020-04-16 13:49] #35 closed, assigned to CJMinecraft01

[2020-04-16 13:49] CJMinecraft01 commented on #36
Should be fixed in the latest version!

[2020-04-16 13:49] #36 closed, assigned to CJMinecraft01

[2020-04-16 16:08] Cebasdian commented on #33
It was a double smooth stone slab.
I didn't try to break different slabs.

[2020-04-17 19:14] torterra2234 opened #37 "1.14 cannot place double slabs below y 32"
Slabs work fine at and above y32, y31 and below however dont seem to work

image below of this in an otherwise vanilla install, so does not seemm to be mod compat based (previously observed with create slabs)

![image](https://user-images.githubusercontent.com/6496072/79605264-7cee1580-80e7-11ea-81d3-d24cf38f7687.png)

[2020-04-18 21:04] BlackQuests opened #38 "Blacklisted slab (from other mod) causes crash"
When trying to place another slab on top of any slab from midnight the game will give the following crash:
https://paste.dimdev.org/urofubekaw.mccrash
I've blacklisted all of midnight's slabs and even tried to disable "Replace Same Slab". My blacklist looks like:
S:"Slab Blacklist" <
        midnight:shadowroot_slab
        midnight:dead_wood_slab
        midnight:dark_willow_slab
        midnight

[2020-04-18 21:09] BlackQuests commented on #38
I see that the method is being called here: [DoubleSlabsConfig.java#L37](https://github.com/CJMinecraft01/DoubleSlabs/blob/dd60dbad5821049b6d720f18773a5b74fa0ec4d6/src/main/java/cjminecraft/doubleslabs/DoubleSlabsConfig.java#L37)
Which I'm guessing is the cause of the crash, seeing as it is always run regardless of blacklisting (at least, that's my guess I don't know the full implementation). Is t

[2020-04-19 12:35] CJMinecraft01 commented on #33
Have you tried this in the latest version. From your crash log it appears you are in version 0.1.4 for 1.12 but we are now on version 0.4.0

[2020-04-19 12:49] CJMinecraft01 commented on #38
This should be fixed in the latest version! Thanks for the report!

[2020-04-19 12:49] #38 closed, assigned to CJMinecraft01

[2020-04-20 10:55] Cebasdian commented on #33
Thank you! I don't know why I installed the wrong version but it is working now. Thanks ^^

[2020-04-20 11:04] CJMinecraft01 commented on #37
This is certainly not a bug I was expecting to find but I think I may have found where the issue is coming from and will fix this in the next version which I'm working on atm

[2020-04-20 11:04] #33 closed, assigned to CJMinecraft01

[2020-04-20 11:53] CJMinecraft01 commented on #37
Fixed in the latest version!

[2020-04-20 11:53] #37 closed, assigned to CJMinecraft01

[2020-04-22 16:32] Rogrom73 commented on #15
Hello,
I have the same problem. I AM playing version 1.15.2 with double slabs version  1.15-2.2.5. for some double slabs (my feeling being twice the same slab), the texture is sometime replaced by black and pink block.

[2020-04-23 08:26] CJMinecraft01 commented on #15
Can you tell me which slabs you combined for this to occur so I can see if I can reproduce. Also is there anything in the console which may be useful?

[2020-04-23 08:44] Rogrom73 commented on #15
I have the problem even with simple double birch slabs.
Except the fact that the block isn't correctly displayed, I don't have
other issue. When I restart the Map it is back to normal.
I am playing single player.

Kind regards

Le jeu. 23 avr. 2020 à 10:26, CJMinecraft <notifications@github.com> a
écrit :

[2020-04-23 08:55] CJMinecraft01 commented on #15
Do you have any other mods installed?

[2020-04-23 09:04] Rogrom73 commented on #15
Lol, more or less 89 mods

Le jeu. 23 avr. 2020 à 10:55, CJMinecraft <notifications@github.com> a
écrit :

[2020-04-23 09:18] CJMinecraft01 commented on #15
Can I have a mod list please to see if there are any conflicts? I'm going to try and see if I can recreate the issue myself. Might help me figure out why this is happening ☺️

[2020-04-24 09:03] cech12 opened #39 "Slabs with light values"
I am the developer of the [Extended Mushrooms](https://www.curseforge.com/minecraft/mc-mods/extended-mushrooms) mod and I like your mod! Our mods are really compatible. The only thing I noticed is: I added a slab block with a light value (Glowshroom Slab).

When I place the Glowshroom Slab and on top of it for example an Oak Slab the light value is overridden and seems to be 0.
The same thing happ

[2020-04-24 09:22] CJMinecraft01 commented on #39
Hi, yes this is a feature which I've not yet implemented but I hope to do so soon and will put this out in the next version!

[2020-04-24 10:37] CJMinecraft01 commented on #39
Added in the latest version!

[2020-04-24 10:37] #39 closed, assigned to CJMinecraft01

[2020-04-24 10:44] cech12 commented on #39
Nice thanks a lot!

[2020-04-24 12:36] Rogrom73 commented on #15
Sorry for late answer,

Busy with my work, it happens some time ;)

Please find in attachment the list of the files I have in mod folder for
the moment.

Kind

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Garanti
sans virus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_con

[2020-04-24 12:45] Rogrom73 commented on #15
In attachment a screenshot for Birch planks double slab

Regards,

Rogrom73

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Garanti
sans virus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

Le ven. 24 avr. 2020 à 14:36

[2020-05-01 23:15] Alkiasan opened #40 "[1.14.4] when reloaded, double-slabs revert to a missing texture."
Hi, using v1.2.5 of DoubleSlabs with minecraft 1.14.4.
Whenever a double-slab is placed (In this case, a double stone bricks slab), the texture works normally, however, upon unloading and loading the chunks (Serverside, reloading the chunks clientside doesn't cause it), the texture changes into a missing texture.
![2020-05-02_00 08 34](https://user-images.githubusercontent.com/62717881/80847978-84

[2020-05-01 23:18] Alkiasan commented on #40
Update: removed my resource packs, and the texture changed to this.
![2020-05-02_00 17 11](https://user-images.githubusercontent.com/62717881/80848218-7644bf80-8c0a-11ea-940e-bbcaedf7ff98.png)
Really strange.
Cycles every time i change resourcepacks, probably just minecraft trying to fill in the gap lol

[2020-05-01 23:31] Alkiasan commented on #40
Update 2: Found this error clientside
![image](https://user-images.githubusercontent.com/62717881/80848760-4696b700-8c0c-11ea-8136-cbaf86cce72a.png)

[2020-05-03 01:53] MrbikerFR opened #41 "The game crashes with Double Slabs and OptiFine 1.15.2 HD U G1 pre14"
I installed the last preview OptiFine 1.15.2 HD U G1 pre14 and when I joined my game Minecraft crash, I read the error report and I noticed that double slabs was the problem I l removed from the mods folder and now I can properly join my world.
[crash-2020-05-03_03.40.49-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/4569481/crash-2020-05-03_03.40.49-client.txt)

[2020-05-03 18:35] NielsPilgaard opened #42 "Ticking Entity Crash after pushing Slab"
Hello!

I received a report from a player that his game crashed while pushing a slab with a Piston. Stacktrace indicates DoubleSlabs and Engineer's Decor, so I thought I'd report it both places.

https://gist.github.com/NillerMedDild/e5f403bc3bc957fcfa2db93eb6a3ca67

- DoubleSlabs-1.15-2.2.6
- engineersdecor-1.15.2-1.0.20-b6

[2020-05-06 13:43] stfwi commented on #42
Hi CJ, related issue is https://github.com/stfwi/engineers-decor/issues/95, I'll check at the weekend if a redef of the slabs in 1.15/1.14 on my side will do the trick, otherwise we have to apply the PR #34 (for 1.12) also to 1.14/1.15. Cheers -

[2020-05-06 14:59] mouse0270 commented on #15
So if you want to replicate this issue with a short mod list, Use immersive portals and your mod.

1. Place two slabs together (do this a few times with multiple slabs variations as sometimes they work fine, others they don't)
2. move outside of the double slabs render distance and build a nether portal.
3. Enter the portal and than return to the overworld through the portal.
4. Go to the position

[2020-05-06 15:19] CJMinecraft01 commented on #42
I've just realised what I've done, I might should be able to fix this. I've simply forgot to use the support code for the causes suffocation check. I'm not 100% certain but hopefully I can fix this as soon as possible. Thanks for the issue!

[2020-05-06 15:28] CJMinecraft01 commented on #41
Hi! Thanks for the report. Please try if updating Optifine to the latest version will fix this issue (at the time of writing this that is pre16) and use with the recommended forge version for Optifine which is 31.1.63. I believe in older versions of Optifine there was compatibility issues with forge so please let me know if this issue remains in the latest version! Thanks

[2020-05-06 15:32] Rogrom73 commented on #15
Hello,

First of all, thanks for your investigations.
It is fun you report that today as I just told half an hour ago to a friend
that apparently some issues I encounter in the game, out of double slabs,
seems to occur when I am coming back to my main location where all the
portals are located.
For example, I can play for hours in exploration and when I Come back to
the basement, pouffff, pressure

[2020-05-06 15:43] CJMinecraft01 commented on #15
So just to clarify, this is a compatibility issue between DoubleSlabs and Immersive Portals?

[2020-05-06 15:47] mouse0270 commented on #15
@CJMinecraft01 I will confirm this is the only way I have been able to get this issue to replicate. In my testing I found the steps were a great way to reproduce the issue. I can't confirm if it is immersive portals specifically or the way a chunks are loaded.

Because if you add the slabs outside of the portal and walk to the other side, you will see the missing textures icon, though it appears w

[2020-05-06 15:53] Rogrom73 commented on #15
I think so.
I am not able anymore to produce the issue with double slabs 🙂

I just send a comment on the immersive portals page to inform the creator.

Have a good day.

Rogrom73

Le mer. 6 mai 2020 à 17:43, CJMinecraft <notifications@github.com> a écrit :

[2020-05-06 15:58] CJMinecraft01 commented on #15
Same here. I feel like it has something to do with chunk loading and syncing the data to the client as the missing texture is only provided when my custom DoubleSlab model cannot find the slab from within the TileEntity.
The reason why the slab does not fix itself, is that inside of the custom model, it stores a cache of models which are generated when the model first renders for the unique block

[2020-05-06 16:03] mouse0270 commented on #15
I am reading some of the issues on immersive portals, and people appear to be having this type of issue across multiple mods. Meaning its likely to be a major issue with how immersive portals loads chucks. Meaning, I appreciate the work you are going to do, and I hope it will work. But I suspect this is something, that will most likely need to be fixed on that mods end.

Edit: And like I said befo

[2020-05-06 16:06] CJMinecraft01 commented on #42
Should be fixed in the latest version!

[2020-05-06 16:06] #42 closed, assigned to CJMinecraft01

[2020-05-06 16:07] CJMinecraft01 commented on #15
Thank you and yes, Immersive Portals just feels like something vanilla should have and should add in 1.16 especially with the improvements on loading speed between dimensions. Hopefully they will take a look into it!

[2020-05-06 17:02] mouse0270 commented on #15
@CJMinecraft01 just testing out your changes. They seem more stable. Like I can't replicate the issue as easily as before, it now just seems more random.

Also, interestingly it seems to not have the missing textures when looking through the portal like before.

[2020-05-06 17:07] mouse0270 commented on #15
I'll do more testing later today and can try to provide more feedback, though from my quick and dirty testing, I think it is as we suspected an issue with the loading of chunks and how Immersive portals is doing it.

[2020-05-06 17:48] NielsPilgaard commented on #42
Awesome, thanks!

[2020-05-15 15:52] CJMinecraft01 commented on #40
I believe this is a duplicate of #15 and may be due to having Immersive Portals installed

[2020-05-16 11:39] CJMinecraft01 commented on #6
This will finally be added in the latest version! The blocks now break separately in survival and the speed of mining the individual slab depends on which tool you are using and for which slab you are targeting!

[2020-05-16 11:39] #6 closed

[2020-06-03 03:40] #40 closed, assigned to nobody

[2020-06-04 13:36] FuryOfFools opened #43 "Server crush 1.15.2"
I have no idea why.
mod - 2.4.0
[crash-2020-06-04_17.32.07-server.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/4730353/crash-2020-06-04_17.32.07-server.txt)

[2020-06-04 14:24] CHead2000 commented on #43
Same Issue

Log: [2020-06-04-2.log.gz](https://github.com/CJMinecraft01/DoubleSlabs/files/4730633/2020-06-04-2.log.gz)

Crash Report: [crash-2020-06-04_14.15.10-server.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/4730639/crash-2020-06-04_14.15.10-server.txt)

[2020-06-04 15:35] CJMinecraft01 commented on #43
Should be fixed in the latest version! Sorry about that (I'd left some old redundant code in)

[2020-06-04 20:20] FuryOfFools commented on #43
@CJMinecraft01 Sorry but new vertical slab feature still trigger server crash and massive lags. Maybe it was worth creating a new crash report, but the problem is almost the same.
Mod - 2.4.1
[crash-2020-06-05_00.09.52-server.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/4732498/crash-2020-06-05_00.09.52-server.txt)

[2020-06-05 10:01] CJMinecraft01 commented on #43
I think I've spotted the issue and that should be resolved in the latest version! Sorry about that. Let me know if there are any further issues

[2020-06-05 10:43] FuryOfFools commented on #43
Ok, the client on server starts to lag when I try to break the vertical slab. More precisely, the client simply dies. Heals only alt + f4. Is it normal that vertical slabs cannot be doubled?
Edit: Hmm... For some reason this is not happening anymore. Something is wrong here.

[2020-06-05 12:45] CJMinecraft01 commented on #43
Do you have the log to see what has errored? Also, which slabs were you trying to combine and which were you trying to break?

[2020-06-05 13:21] maxim0p opened #44 "[1.15.2] Bugs with vertical slabs + UV Lock suggestion"
**1)** There is a lighting bug that occurs typically when there are full blocks next to or on a full block , this is only visible with smooth lighting turned on of course.
![](https://i.imgur.com/iJsqNz6.png)

![](https://i.imgur.com/ItTZ3Cg.png)

**2)** One side of a double vertical slab becomes invisible when one of the sides is covered by a block
https://i.imgur.com/1ygcaoQ.mp4

I would also li

[2020-06-05 14:18] ArturilloD opened #45 "Improved stations disappear"
When placing two normal slab furnaces on top of each other, when they are extracted with a pick they disappear and a transparent block remains. I do not know if it happens with other ovens or work tables.

[2020-06-05 17:56] FuryOfFools commented on #43
Sorry I forgot crash report and logs attached. I used prismarine slab, but I think which block I used is not very important.
[crash-2020-06-05_14.33.29-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/4737577/crash-2020-06-05_14.33.29-client.txt)
[2020-06-05-2.log](https://github.com/CJMinecraft01/DoubleSlabs/files/4737666/2020-06-05-2.log)

I repeated the error. In survival mode, I

[2020-06-05 18:40] warcommando2 opened #46 "1.14.4 double slab issue upon removing 1.4.0"
had a issue lastnight with update DoubleSlabs-1.14-1.4.0, went to remove the slab and it would crash me every time i go to remove it, not sure if it was due to me being in creative mode or not

pastebin link:
https://pastebin.com/sJBQifbK

[2020-06-05 19:26] BentoGambin opened #47 "1.15/1.14 SP Crash on map load."
The game crashes as soon as the map loads to 100%
Mod Ver. DoubleSlabs-1.15-2.4.2
don't  know if it has anything to do with it, (judging by the report, probably not) but i'm am using optifine pre 18.
`(
---- Minecraft Crash Report ----
// You should try our sister game, Minceraft!

Time: 05/06/20 16:21
Description: Ticking block entity

java.lang.IllegalArgumentException: Cannot get property Direc

[2020-06-05 21:27] BentoGambin commented on #47
My guess is that it happens because I updated a few versions of DS without booting the map.

[2020-06-05 21:31] CJMinecraft01 commented on #47
The issue is not related to anything that you have done. I've made a mistake on my part due to when other mods are trying to interact with a double slab. To reuse code I'm using some of the vertical slab code, however I forgot to tweak how it works with capabilities. I should be able to get a fix out for tomorrow. Sorry for the delay (I've been working solid on this for a week)

[2020-06-06 08:58] CJMinecraft01 commented on #46
Duplicate of #47

[2020-06-06 08:58] #46 closed, assigned to nobody

[2020-06-06 09:00] CJMinecraft01 commented on #45
Could you post the console log so I can see if an error has occurred. Also which mod are you using for the slab furnaces?

[2020-06-06 10:51] CJMinecraft01 commented on #44
Thanks for these suggestions and bug reports! These should be fixed in the next version. If there are any further graphical issues please let me know! And just to let you know that this doesn't use blockstates but in fact rotates the original half slab model retaining all of the properties of the original model. To fix this, I'm just rotating it again so they all align in the same direction.

[2020-06-06 11:37] CJMinecraft01 commented on #47
This should be fixed in the latest version!

[2020-06-06 11:37] #47 closed, assigned to CJMinecraft01

[2020-06-06 11:37] CJMinecraft01 commented on #44
I've tweaked how this works and so it should be fixed in the latest version!

[2020-06-06 11:37] #44 closed, assigned to CJMinecraft01

[2020-06-06 11:39] CJMinecraft01 commented on #43
I've tried reproducing this myself and it feels very on occasion for me (it happens when I break the double variant). Try out the latest version and see if the error still persists.

[2020-06-06 11:40] CJMinecraft01 commented on #24
Support for both mods suggested has been added in the latest versions for 1.14/1.15

[2020-06-06 11:40] #24 closed, assigned to CJMinecraft01

[2020-06-06 11:40] CJMinecraft01 commented on #15
Does this error still persist in the latest versions for 1.15/1.14?

[2020-06-06 12:02] Rogrom73 commented on #15
It's a long Time I didn't encounter the missing texture issue :). I didn't
test yet with new vertical slabs feature. My "personal" computer is
solicited most of the time by some strange creatures commonly called
children :'(  :D

Le sam. 6 juin 2020 à 13:41, CJMinecraft <notifications@github.com> a
écrit :

[2020-06-06 12:03] Rogrom73 commented on #15
Will inform you if I encounter issues with the new version as soon as
possible

Le sam. 6 juin 2020 à 14:02, Romuald Rogge <romuald.rogge@gmail.com> a
écrit :

[2020-06-06 12:13] CJMinecraft01 commented on #15
Sweet thank you!

[2020-06-06 21:46] BentoGambin commented on #47
Great!

[2020-06-07 04:13] WenXin20 opened #48 "Crafting Station Compat Error"
`Minecraft v1.15.2`
`Forge v31.2.5`
`Double Slabs v2.4.3`
`Crafting Station v3.1.0`

If I right-click a crafting station double slab, my log prints the following error.
[Log](https://gist.github.com/WenXin20/66936356532338fe3f3b0444fb15ec7b)

[2020-06-07 07:15] erisdev opened #49 "Vertical Slab Compatibility"

[2020-06-07 07:17] erisdev commented on #49
~~Whoops, I downloaded the updated version but forgot to actually install it. Ignore this!~~

Oh wait, uh, actually it supports Quark but not other mods that add vertical slabs when Quark is installed. Not sure if I should reopen but I don't want to spam.

[2020-06-07 09:52] CJMinecraft01 commented on #48
Hi, thanks for the issue! I am aware of this as an error and will try my best to fix this. Did the game crash?

[2020-06-07 09:53] CJMinecraft01 commented on #49
If you could list the other mods which aren't supported for the vertical slab feature that would be great!

[2020-06-07 10:00] ArturilloD commented on #45
Sorry for not answering yet, I've been working and haven't had much time. As soon as I can I pass the error. Thanks in advance.

[2020-06-07 10:02] CJMinecraft01 commented on #45
That's fine. Take all the time you need

[2020-06-07 10:03] CJMinecraft01 commented on #49
One I've found is abnormals core which seems to add them and is used by quite a few mods

[2020-06-07 11:40] ArturilloD commented on #45
You only have to change the .zip to .rar, since .rar is not supported. It is a video where what happens is shown, there is also an error when mining iron and gold, certain spikes do not extract anything, they just disappear, although I do not know how to discover which mod is causing this, I do not think this is it. Regards.

Here I send a video and the crash report file

[Minecraft_ 1.15.2 - Un j

[2020-06-07 16:09] FuryOfFools commented on #43
Client is still dying

[2020-06-07 16:12] CJMinecraft01 commented on #43
Same error?

[2020-06-07 16:17] FuryOfFools commented on #43
Yes
[crash-2020-06-07_20.08.08-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/4742428/crash-2020-06-07_20.08.08-client.txt)

[2020-06-07 17:24] WenXin20 commented on #48
No crash, it just didn't open the GUI thankfully.

[2020-06-07 17:47] CJMinecraft01 commented on #48
From looking into this a bit more I'm not too sure how I can fix this on my side. It's not intrinsically due to my mod or the crafting station mod but to how GUIs are handled itself.
Basically to explain what is happening here I'm going to briefly explain how the double / vertical slabs work within my mod to hopefully help explain what the issue is.

When you create a vertical slab or double slab

[2020-06-07 17:51] CJMinecraft01 commented on #43
Can you please check this still occurs in the latest version?

[2020-06-07 17:54] CJMinecraft01 commented on #49
Abnormal's core is supported in the latest version

[2020-06-07 17:55] CJMinecraft01 commented on #45
Please check this is still an issue in the latest version when you can :D

[2020-06-07 17:57] erisdev commented on #49
Oh awesome, that's the one! Thank you!

[2020-06-07 18:18] WenXin20 commented on #48
Yeah, that sounds complicated! I was on my server, but that probably doesn't make too much of a difference.

[2020-06-07 20:19] FuryOfFools commented on #43
It works! It seems that somehow it does not break correctly with visual bugs, and sometimes it is absolutely normal, but it breaks and does not crash.
Sometimes after breaking a block a technical texture appears or the breaking animation freezes

[2020-06-07 20:23] CJMinecraft01 commented on #43
Yeah I've noticed this myself but I'm not too sure how I can fix this. I'll leave this issue open cause I've only fixed the crash and not the visual issue

[2020-06-07 20:33] #43 closed, assigned to CJMinecraft01

[2020-06-07 20:59] FuryOfFools commented on #43
@CJMinecraft01 I'd rather create a new one. Another problem anyway.

[2020-06-07 21:07] FuryOfFools opened #50 "Visual bug when breaking a vertical slab"
Sometimes after breaking a block a technical texture appears or the breaking animation freezes

[2020-06-07 22:17] ArturilloD commented on #45
Go go go 👏👏 works perfect, I see that apart from fixing that, it no longer crashes and has also corrected the position of the slabs. Congratulations, good work. Now I just need to find the rest, heh.

[2020-06-08 04:38] phlane opened #51 "Crash when joining world."
Here is the description of the crash. I am not sure what other information to give, I know this is lacking.

Description: Exception ticking world

java.lang.NullPointerException: Exception ticking world
	at cjminecraft.doubleslabs.blocks.BlockDoubleSlab.lambda$canCreatureSpawn$34(BlockDoubleSlab.java:454) ~[?:2.4.5] {re:classloading}
	at cjminecraft.doubleslabs.blocks.BlockDoubleSlab$$Lambda$15199

[2020-06-08 08:01] #45 closed, assigned to CJMinecraft01

[2020-06-08 08:02] CJMinecraft01 commented on #49
I'm adding Enhanced Mushrooms to the list of unsupported vertical slabs

[2020-06-08 13:58] Rogrom73 commented on #15
Hello,

Just to confirm you that all the features of your mod are working
perfectly. I did numerous attempts to force the missing texture bug with no
success.

Thank you again for the great job :)

You can now start to work on diagonal vertical slabs 😋😉 (or Glass) or
item to place/hang on slab or ...

Have a good day

Le sam. 6 juin 2020 à 14:13, CJMinecraft <notifications@github.com> a
écrit :

[2020-06-08 14:25] CJMinecraft01 commented on #15
Sweet glad it's finally fixed!

[2020-06-08 14:25] #15 closed, assigned to CJMinecraft01

[2020-06-08 17:48] WenXin20 commented on #49
[World of Wonder](https://www.curseforge.com/minecraft/mc-mods/world-of-wonder)  is another, added in it's most recent update.

[2020-06-08 18:10] agentwolf88 opened #52 "Vertical slabs are invisible with Optifine installed"
When i place a slab with shift, the slab is invisible.

[2020-06-08 21:36] CJMinecraft01 commented on #52
Which slab was you trying to place and can you show me the log please?

[2020-06-08 21:51] NielsPilgaard opened #53 "[1.15.2] Crash on server startup"
`DoubleSlabs-1.15-2.4.5` seems to crash on server startup. This does not happen on fresh worlds, so I suspect a Double Slab must be placed for it to occur.

Latest log: https://gist.github.com/NillerMedDild/f65013eb52e94bf6d244657bd67fe495
Crash report: https://gist.github.com/NillerMedDild/db663baf83e2cd0e68c3b19a36b63114

[2020-06-09 00:47] SpiderKolo opened #54 "[Suggestion] Alternative Texture for Vertical Slabs [Long Post]"
So... I really like your Vertical Slabs a lot! I'm currently using Quarks Vertical Slabs, but with this feature I consider completely swapping to this since it expands on Slabs way more.

There is one thing which personally doesn't fit in my mind, but it's mostly an opinion, nor an actual issue:
I'm not sure if I like rotation of texture which is implemented when placing vertical slabs.
At least o

[2020-06-09 02:38] WenXin20 commented on #49
Some other mods that add vertical slabs include Extended Mushrooms & Endergetic Expansion.
I've also noticed that normal slabs cannot be placed together with vertical slabs. Is that intended?

Cattail & Duckweed Thatch Vertical Slabs from Swamp Expansion was also missed.

[2020-06-09 07:17] Xelbayria opened #55 "[Enhancement] 1/2 of the slab & Mixed slabs in Vertical state"
Current Version: DoubleSlabs-1.12-0.6.0.jar
Current Forge: forge-14.23.5.2854

Hello, I would like to suggest:

~~1) add double slabs for vertical where I can place 2 mixed slabs in the vertical state~~
2) using 1/2 of the slab to fill the corner using Vertical slab (Or using 1/4 of the block)
3) using 4 mixed slabs (1/2 of the slab) into a full block. I'll add the link to show the example.
4) 1/2

[2020-06-09 14:09] agentwolf88 commented on #52
I use vanilla slabs.

Log is on dropbox. 9MB
https://www.dropbox.com/s/92xlt5q1pay9sp9/latest.log?dl=1

[2020-06-09 16:24] EtainDelbaeth commented on #53
Hey
I got the same issue and i play  Minecraft version 1.12.

Crash report -> [https://gist.github.com/EtainDelbaeth/09d1115abe786094f2d1506cdd027708](url)

[2020-06-09 16:27] EtainDelbaeth opened #56 "Server Crash"
Hey
I got an issue with my Minecraft server 1.12.
I got this Crash log : [https://gist.github.com/EtainDelbaeth/09d1115abe786094f2d1506cdd027708](url)

Bye and thank

[2020-06-10 11:32] CritFlaw commented on #56
Getting the same crash

[2020-06-10 20:45] mew2keegan opened #57 "Crash upon breaking a DoubleSlab block."
https://hastebin.com/henijoloqu.md

Received this crash when I broke a Double Slab in my Valhelsia server. It was a Cobblestone top slab, and an Oak Plank bottom slab.

[2020-06-12 21:45] WenXin20 opened #58 "Blast Proof Slabs"
The mod [Savage and Ravage](https://www.curseforge.com/minecraft/mc-mods/savage-and-ravage)  adds a slab and vertical slab that is blast-proof, but that is no longer the case once combined into a double slab.

[2020-06-12 21:49] WenXin20 opened #59 "Slime Slabs"
The mod [Alike Tools](https://www.curseforge.com/minecraft/mc-mods/aliketools) adds in a slime slab, but it is no longer bouncy once combined into a double slab.

[2020-06-12 21:54] WenXin20 commented on #49
The mod [Lord of the Rings](https://lotrminecraftmod.fandom.com/wiki/Updates/Renewed) also adds in vertical slabs, but these are placed by placing regular slabs on the side of blocks or by holding shift.

[2020-06-13 05:57] WenXin20 commented on #49
The mod [Cubic Villager](https://www.curseforge.com/minecraft/mc-mods/cubic-villager) adds in a villager slab, which can be placed on any block face.

[2020-06-13 20:17] agentwolf88 commented on #56
https://pastebin.com/028AbByv

[2020-06-14 12:22] CJMinecraft01 commented on #57
H, sorry for the delay in response. Please try updating to the latest version of Double Slabs for 1.15 as I believe this is a duplicate of #43

[2020-06-14 12:24] CJMinecraft01 commented on #49
What do you mean by normal slabs cannot be placed together with vertical slabs? Please ensure you are not sneaking when trying to combine slabs with vertical slabs

[2020-06-14 12:26] CJMinecraft01 commented on #58
Hi, thanks for this report! This has been an oversight on my behalf. Currently the mod uses the smallest blast resistance to use as the blast resistance for the block however I believe it is better to use the larger value for this case. I will change this and add this in the next version!

[2020-06-14 13:07] CJMinecraft01 commented on #59
Hi, thanks for this issue. This seems to be an oversight on my side that I hadn't considered slime slabs so I'll add support for this in the next version!

[2020-06-14 13:28] CJMinecraft01 commented on #52
Hmm. Can you also send a screenshot please? The console doesn't seem to show any errors related to my mod. Could you try to replicate this without Optifine installed as well please?

[2020-06-14 13:45] CJMinecraft01 commented on #56
This should be fixed in the latest version!

[2020-06-14 13:45] #56 closed, assigned to CJMinecraft01

[2020-06-14 13:47] CJMinecraft01 commented on #51
Which slabs were you using when this occurred?

[2020-06-14 14:17] agentwolf88 commented on #52
https://i.imgur.com/KtpgVfV.png
https://i.imgur.com/ICVvU3k.jpg

[2020-06-14 15:47] CJMinecraft01 commented on #53
This should hopefully be fixed in the latest version!

[2020-06-14 17:19] WenXin20 commented on #59
Thanks!

[2020-06-14 17:23] WenXin20 commented on #49
Oh, by that I meant that I cannot combine Quark's vertical slabs with a normal horizontal slab from vanilla or other mods.

Vertical slabs from this mod works correctly with normal slabs.

[2020-06-14 19:18] CJMinecraft01 commented on #49
Weird, that should work. Just check that you aren't holding shift when combining them.

[2020-06-14 21:43] WenXin20 commented on #49
I'll try again to be sure

[2020-06-15 09:23] CJMinecraft01 commented on #59
Added support for this in the latest version. With vertical slabs, ensure you land on the side which is the slime slab!

[2020-06-15 09:23] #59 closed, assigned to CJMinecraft01

[2020-06-15 09:23] CJMinecraft01 commented on #58
Added this in the latest version!

[2020-06-15 09:23] #58 closed, assigned to CJMinecraft01

[2020-06-15 09:24] CJMinecraft01 commented on #53
If there are no more issues, I'm going to close this 😄

[2020-06-15 09:24] #53 closed, assigned to CJMinecraft01

[2020-06-15 09:26] CJMinecraft01 commented on #49
The Lord of the Rings mod, from what I've seen as they don't provide any source code, physically replaces the default behaviour of regular slabs to make them work with vertical slabs. Hopefully it is possible for me to add support for this but there may be compatibility issues

[2020-06-15 09:27] CJMinecraft01 commented on #49
That should be fixed in the latest version!

[2020-06-15 09:27] CJMinecraft01 commented on #51
Can you please check this error is still present in the latest version?

[2020-06-15 09:30] CJMinecraft01 commented on #48
This should hopefully be fixed / improved in the latest update. I have added some support for Crafting Station and Improved Stations to enable their GUIs to open. I do believe there is an issue with Crafting Station at the moment and I'll create a simple PR over there to fix the issue related to my mod (I think it's an easy fix - famous last words) but please let me know if this works for you!

[2020-06-15 09:31] CJMinecraft01 commented on #20
From what I can see this issue has been fairly quiet, unless there are any other compatibility issues, I'm closing this now.

[2020-06-15 09:31] #20 closed, assigned to CJMinecraft01

[2020-06-15 09:33] CJMinecraft01 commented on #52
One thing which may fix this issue is to try and reload the textures. I cannot seem to recreate this myself

[2020-06-15 09:33] CJMinecraft01 commented on #50
Could you check if this still occurs in the latest version please?

[2020-06-15 09:39] CJMinecraft01 commented on #55
Thanks for the suggestions! What you're describing seems to be like 1/4 of a block slices I'm assuming? I think these would be really cool additions to Minecraft but I'm not sure how best this would work with my mod, as my mod simply enhances the behaviour of slabs.

One way I could see this being done is through the use of a saw which splits blocks in half but I believe this has been implemented

[2020-06-15 09:54] CJMinecraft01 commented on #54
This is a fantastic idea! I completely agree regarding the rotation of the texture. For most blocks, I tested using stone brick slabs, this tiles perfectly but for planks it is clear that it does not.

I also love the idea of using a configuration option, as it is merely an aesthetical change which is dependent on the user.

Regarding how I would implement this, I'm not too sure. At the moment, I

[2020-06-15 13:38] agentwolf88 commented on #52
Optifine is the problem. When i use "internal shader" the slabs are invisible.

[2020-06-15 16:43] WenXin20 commented on #48
Thanks, I'll check it out!

[2020-06-15 16:51] WenXin20 commented on #49
Thanks! With Lord of the Rings installed, I can't place a slab horizontally when right-clicking on the side of a block because the behavior for that mod is to shift-right-click to get the horizontal slab, while this mod requires the opposite, shift-right-click to get the vertical slab... Which was the main issue for me. :D

Is there a config option to require shift-right-click to get a horizontal

[2020-06-16 06:59] WenXin20 commented on #48
Welp, my server crashed after right-clicking a vertical double slab block that contained the Crafting Station. :D
[Crash Report](https://gist.github.com/WenXin20/919dd90de1f2bba1a6c073f50bbd1c5e)

[2020-06-16 07:30] WenXin20 commented on #49
Also, I think the Endergetic Expansion mod was missed for its vertical slabs

[2020-06-17 07:22] tslindsay commented on #52
I can confirm that this is also an issue with MC 1.15.2, mod version 2.5.1. When using OptiFine's "internal shader", vertical slabs are invisible on all or all-but-one face of the slab.

[2020-06-17 20:45] WenXin20 opened #60 "Double Slabs Render Incorrectly Underwater"
`Minecraft v1.15.2`
`Forge v31.2.19`
`Double Slabs v2.5.1`

If a double slab is created underwater, it renders incorrectly, with water flowing down it's sides.

[2020-06-18 00:09] ButterBuddy1213 commented on #52
I have only had this issue in 1.15.2. Vertical slabs only have texture on 1 side. Im running BSL shaders with optifine pre25

[2020-06-18 01:37] Xelbayria commented on #55
Ah, I don't realize that your goal was to enhance the Vanilla+ experiences. you can forget my suggestions. After reading your comment, I had to find another mod that could provide a similar ideal and I found one and it's good enough for now.

Thanks for replying and I'll just close this suggestion.

[2020-06-18 01:37] #55 closed, assigned to nobody

[2020-06-18 09:51] CJMinecraft01 commented on #52
This seems to be an issue for all versions of the mod when Optifine is installed. I'm not 100% certain why this is happening cause I don't know what Optifine changes to improve FPS but I will try to take a look and see what I can do. It does seem that this occasionally happens with other mods too with Optifine but I will hopefully figure this out!

[2020-06-18 10:08] CJMinecraft01 commented on #60
Do you have a screenshot so I can see what you mean please?

[2020-06-18 10:13] CJMinecraft01 commented on #49
Endergetic Expansion should have been included. Which slabs are not working?

[2020-06-18 11:04] CJMinecraft01 commented on #52
I've been doing some testing to try and identify the error and have noticed that the error doesn't occur on every block. Trying this with Improved Station's crafting slab seems fine for some reason.

[2020-06-18 12:21] CJMinecraft01 commented on #52
In 1.15 this should now be fixed. I've slightly tweaked the rendering of vertical slabs but this may cause visual issues with ambient occlusion. Please let me know if this is fixed for you. I will begin downporting soon! Tested with preview_OptiFine_1.15.2_HD_U_G1_pre26.jar

[2020-06-18 12:26] CJMinecraft01 commented on #48
I have created a pull request for both Crafting Station and Improved Stations which both have this issue. The issue you faced before should be fixed and now we just have to wait for the other mods to accept the PR and everything should be working. From what I've tested it should work fully now once the PR is approved :)

[2020-06-18 14:09] CJMinecraft01 commented on #52
This should be fixed in the latest versions!

[2020-06-18 14:09] #52 closed, assigned to CJMinecraft01

[2020-06-18 15:32] jouki opened #61 "[1.15.2 / 31.1.63] Crash at loading the game/server"
Hi,
as the title says.
**Forge version**: 31.1.63 (1.15.2)
**Crash Log**: https://pastebin.com/QWfUdzQ6
**Log Dump**: https://pastebin.com/wC8f6xYv
**Mod List**: https://pastebin.com/JKf5VPti
Client-side has Optifine_pre24

Cheers,
Jouki

[2020-06-18 16:37] WenXin20 commented on #48
Nice!

[2020-06-18 16:56] WenXin20 commented on #60
The double slab is a stone bricks and wood planks slab.
![2020-06-17_15 42 01](https://user-images.githubusercontent.com/12000593/85049692-aca6b180-b15a-11ea-96f4-8b8dddbde42f.png)

[2020-06-18 18:27] solarblindfull commented on #61
I have exactly the same crash at the loading of my server. I'm on Forge 31.2.20 with Optifine pre24. The crash occurs with the 2.6.0 version of the mod. Thanks for the report.

[2020-06-18 22:04] ClaudiusMinimus opened #62 "Placing Crafting Station on Lower-half Slab Crashed Server"
A player, upon attempting attempted to place a crafting station half-slab onto a stone brick slab resulted in a server crash. The stone brick slab was on the lower half of the adjacent block. See screenshot below:
![2020-06-18_15 58 21](https://user-images.githubusercontent.com/17887664/85076103-c953e100-b17c-11ea-98cb-b90ea25478f1.png)

I'm not sure if this is related to issue: https://github.com

[2020-06-19 07:11] tslindsay commented on #61
Yep, class loading errors here too with 2.6.0

(Thanks for the work you're putting into getting these issues fixed - this is a great mod!)

[2020-06-19 09:39] CJMinecraft01 commented on #61
I think this should be fixed in the latest version! Sorry about that!

[2020-06-19 09:39] #61 closed, assigned to CJMinecraft01

[2020-06-19 09:39] CJMinecraft01 commented on #62
Hi! This is related to that issue. If you update to the latest version 2.6.1 it should be fixed. There should be a Crafting Station update soon once my PR is accepted

[2020-06-19 09:39] #62 closed, assigned to CJMinecraft01

[2020-06-19 09:47] CJMinecraft01 commented on #60
Hmm. Okay. Thank you for the report! I will take a look and see what I can do. Not too sure what would be causing this.

[2020-06-19 10:39] solarblindfull opened #63 "Crash at the server load - 1.15.2 - Forge 31.2.20 / Optifine pre26"
Hello ! Thank for this excellent mod. Unfortunately, your fix on the 2.6.1 version of your mod don't work with my server config. Can you see what's wrong please ? Sorry for inconvenience and thank very much.

EDIT : Same crash with Optifine pre27.

**THE LASTEST LOG**

<details>
  <summary>Click to expand</summary>

Double Slabs (doubleslabs) encountered an error during the common_setup event phas

[2020-06-19 12:40] FuryOfFools commented on #50
Has something changed? I don’t see a difference

[2020-06-19 15:50] WenXin20 commented on #60
It's similar to how glass used to render underwater. Some mod glass still does this, so it might be related to transparency.

[2020-06-19 17:15] SomeGuyNamedJon opened #64 "Vertical Slabs not rendering properly with shaders"
Top and thin sides of slab will render invisible when placed vertically with shaders enabled through optifine

[2020-06-19 17:34] CJMinecraft01 commented on #64
Thanks for the report, can you show me a screenshot please and for which mod, Minecraft and OptiFine version are you using?

[2020-06-19 17:53] SomeGuyNamedJon commented on #64
![image](https://user-images.githubusercontent.com/60898789/85164477-06c27800-b22a-11ea-8422-bf86c1c0a29e.png)

The block is also completely see through from one of the large faces.

![image](https://user-images.githubusercontent.com/60898789/85164741-6751b500-b22a-11ea-8d2e-7f66a144e3b1.png)

using Optifine 1.14.4 HD U F5 with compatibility through OptiForge (client will crash otherwise without i

[2020-06-19 17:54] SomeGuyNamedJon commented on #64
Upon further testing, the culprit is somewhere along that modlist, testing with only optiforge, optifine, and double slabs does not produce this issue. I'll look into this further.

[2020-06-19 18:32] SomeGuyNamedJon commented on #64
Okay... it's not anything in that list. It's something to do with a mod I had installed and removed, but I can't for the life of me figure out what mod that would have been. Gonna keep digging, but I have no clue why this issue occurs and I can't seem to reproduce it through recreating the modpack as is. Gonna have to find what mod I installed and removed caused this issue.

[2020-06-19 18:37] CJMinecraft01 commented on #64
Please try using the latest version of my mod as I included a specific fix for OptiFine in the update

[2020-06-19 18:58] SomeGuyNamedJon commented on #64
Yeah, that fixed it. Wow you work fast. 👍

[2020-06-19 18:59] CJMinecraft01 commented on #64
I fixed it yesterday 😂 glad that works. Let me know if you have any further issues!

[2020-06-19 18:59] #64 closed, assigned to nobody

[2020-06-19 20:29] retrogatling opened #65 "Random crash I've never had before"
I didn't even go near one of the double slabs
java.lang.IllegalArgumentException: Cannot set property EnumProperty{name=type, clazz=class net.minecraft.state.properties.SlabType, values=[top, bottom, double]} as it does not exist in Block{minecraft:air}
	at net.minecraft.state.StateHolder.func_206870_a(SourceFile:104) ~[?:?] {re:classloading}
	at cjminecraft.doubleslabs.client.model.DoubleSlabBake

[2020-06-19 21:57] CJMinecraft01 commented on #65
Which Minecraft and mod version is this for?

[2020-06-20 02:37] tplc10 opened #66 "Crash when quickly placing two slabs on top of each other"
Specifically, I had this crash when quickly placing two jasper brick slabs on top of each other in the Valhelsia 2 modpack.

[crash-2020-06-19_20.29.22-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/4807256/crash-2020-06-19_20.29.22-client.txt)
[crash-2020-06-19_20.17.45-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/4807257/crash-2020-06-19_20.17.45-client.txt)

[2020-06-20 04:09] WenXin20 opened #67 "Invert Sneak Config Option Works Incorrectly"
Minecraft v1.15.2
Forge v31.2.19
Double Slabs v2.6.1

After switching the config option `invert_sneak_vertical_slab_placement` to `true`, I found out that it works incorrectly. Vertical slabs will place weather or not I'm holding the shift button, so it always places vertical slabs.

I'm also wondering, would it be possible to have a config option for vertical slabs to place if right-clicking the

[2020-06-20 04:12] WenXin20 commented on #49
The mod [Styled Blocks](https://www.curseforge.com/minecraft/mc-mods/styled-blocks-mod) also adds in vertical slabs, called Upright Slabs.

I'll try to check the Endergetic mod, I forgot what the blocks were called.

[2020-06-20 05:54] retrogatling commented on #65
1.15.2 and 2.6.1

[2020-06-20 07:48] retrogatling commented on #65
*2.2.0

[2020-06-20 12:59] CJMinecraft01 commented on #65
Hi! Please try updating to a newer version as this has most likely been fixed!

[2020-06-20 13:07] CJMinecraft01 commented on #67
Hi! Thanks for the report. I'm thinking of favouring an alternate system like the one you suggested as it feels more intuitive which can be disabled using a config option. I may remove the invert sneak option as I feel it might be redundant with the placement as you suggested. Please let me know your thoughts on this!

[2020-06-20 13:51] CJMinecraft01 commented on #60
So I've looked into this and it seems to be due to the fact that a double slab and a vertical slab are not classed as solid blocks to enable compatibility with slabs that have transparency which causes the game to render the flowing water textures on the side. From what I've seen, there is no apparent way to fix this unfortunately but I will continue to investigate

[2020-06-20 13:53] CJMinecraft01 commented on #63
Hi, thanks for the report. I think I may have fixed this issue and will put this out in the next update; however, I'm not sure OptiFine is supposed to be installed on a server and that may have contributed to this potentially,

[2020-06-20 14:15] solarblindfull commented on #63
Thank for your quick answer. I don't know if Optifine enhance servers performances as does in client side... That runs perfectly with it so why not ? I searched on web and don't find anything about that in recent years. If someone knows better about this, I would like more infos.

[2020-06-20 14:34] CJMinecraft01 commented on #63
I'm not 100% certain myself. I think its more of a client side thing. Anyway the issue should be resolved in the version I've just released. Let me know if it is fixed please :)

[2020-06-20 14:35] CJMinecraft01 commented on #66
Hi thanks for this bug report! This should be fixed in the latest versions for 1.15/1.14!

[2020-06-20 14:35] #66 closed, assigned to CJMinecraft01

[2020-06-20 14:37] CJMinecraft01 commented on #67
This has now been released in the latest 1.14/1.15 version!

[2020-06-20 15:07] CJMinecraft01 commented on #67
And now for 1.12. Please let me know your thoughts on the new system!

[2020-06-20 15:58] solarblindfull commented on #63
I tested and everythings works fine ! Thank very much for your very quick fix ! You can even place vertical double slabs ! Awesome ! Do you plan to make "vertical stairs" too ? :D

EDIT: The custom vertical placement prevent me from placing horizontal slabs so I disable it and all works fine now.

[2020-06-20 16:04] CJMinecraft01 commented on #63
There's an option to tweak how vertical slabs are placed. The original system was that when you sneak it will place a vertical slab and when you aren't sneaking it will place the horizontal slab. The alternate system is that it will place vertical slabs when placed on the side of a block when not holding shift and placed if holding shift on the bottom or top of a block. Hope that makes sense and I

[2020-06-20 16:04] #63 closed, assigned to CJMinecraft01

[2020-06-20 16:57] WenXin20 commented on #67
Thanks! I'll give it a try!

[2020-06-20 17:09] WenXin20 commented on #60
Hmm, how does glass handle it? Looks like there is a method from forge to avoid that [here](https://github.com/MinecraftForge/MinecraftForge/commit/f93289e01c7a5a36aa8105c5ade2eb8402a6a49c), maybe this'll help?

[2020-06-20 17:28] CJMinecraft01 commented on #60
That is only applied for the bottom side of the block and not for every side of the block unfortunately

[2020-06-20 17:37] WenXin20 commented on #60
Hmm, I reported a similar issue at CyclopsMC/ColossalChests#126 at while ago, maybe this will help?

[2020-06-20 18:00] CJMinecraft01 commented on #60
Hold on, I think you're right. I misread that it was part of a for loop. Whoops :D.
I'll see about patching that right away for you!

[2020-06-20 18:03] #60 closed, assigned to CJMinecraft01

[2020-06-20 18:05] #67 closed, assigned to CJMinecraft01

[2020-06-20 18:21] WenXin20 commented on #60
Thanks!

[2020-06-20 23:01] Phyksar opened #68 "Placing a vertical slab inside block makes it dissapear"
Using latest version 2.7.1 at the moment, game version 1.15.2, Forge 31.2.21. No other mods installled.
![ezgif-4-7c6ff28472e8](https://user-images.githubusercontent.com/13320416/85213098-94a17e80-b362-11ea-86ec-1ebcdf1beae0.gif)

[2020-06-21 06:48] Lithobraker opened #69 "Crash when placing a slab on the upper half of a block"
[crash-2020-06-21_02.47.14-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/4809012/crash-2020-06-21_02.47.14-client.txt)
![2020-06-21_02 47 07](https://user-images.githubusercontent.com/6070905/85218584-9cb0ec80-b369-11ea-9225-25717d118e16.png)
Just as the title says here. I place a slab on the upper half of this block, and the game hard crashes.
This crash is 100% consistent, and h

[2020-06-21 09:40] CJMinecraft01 commented on #68
Well erm that was unexpected. I'll get to fixing that as soon as I can!

[2020-06-21 09:44] CJMinecraft01 commented on #69
Hmm. That is very strange. I'll take a further look and see if I can fix this

[2020-06-21 13:42] #68 closed, assigned to CJMinecraft01

[2020-06-21 13:42] CJMinecraft01 commented on #68
Fixed in the latest version

[2020-06-22 10:25] AxolotlAccount opened #70 "Crash when an entity or a player walks to a vertical slab."
Minecraft Version: 1.12.2
Mod Version: DoubleSlabs-1.12-0.7.1
Forge Version: 14.23.5.2854
Crash Report: https://hastebin.com/yikeseguju.php

Description: Game crashes when an entity or a player touches to a vertical slab. This crash occurs again instantly when you enter your world back.

[2020-06-24 08:59] maettuu opened #71 "texture loss when combined with mrcrayfish's glasscutter"
I'm currently using forge v31.2.0 (MC 1.15.2) with the mods MrCrayfish's Glasscutter v1.0.1 and DoubleSlabs v2.7.2. When a MC slab is combined with a glass half slab crafted with the glasscutter the whole block loses its texture after reloading the world.

[2020-06-24 09:53] Kedmun0 opened #72 "Server-side crash"
When installing the 0.6.2 and up Double Slabs on a server. The server fails to run

[2020-06-24 11:38] CJMinecraft01 commented on #72
Can you show the crash log please?

[2020-06-25 22:11] DavidosWolfe667 opened #73 "Crash while walking over vertically placed slab."
Playing on Engineer's Life, got sick of not being able to combine slabs.

Seems to be triggered after walking over vertical planks.

See attached log.
[crash-2020-06-26_00.09.12-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/4834067/crash-2020-06-26_00.09.12-client.txt)
[crash-2020-06-26_00.05.54-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/4834068/crash-2020-06-2

[2020-06-25 22:38] DavidosWolfe667 commented on #73
Seems a very specific doorway only, any other passage way works, I don't get it.

[2020-06-26 07:41] DavidosWolfe667 opened #74 "Incompatibility with Bibliocraft."
Double Slabs breaks item rack functionality.

[crash-2020-06-26_09.40.34-server.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/4835661/crash-2020-06-26_09.40.34-server.txt)

[2020-06-26 10:43] CJMinecraft01 commented on #74
Is that the full error log? Also, which slabs were you using?

[2020-06-26 10:47] CJMinecraft01 commented on #73
This is a duplicate of #70

[2020-06-26 11:13] CJMinecraft01 commented on #71
I can't seem to recreate this issue so I'm not sure if I've fixed it. Maybe try updating forge to the latest version (I tested on 31.2.8 and it worked fine on reloading)

[2020-06-26 11:28] #73 closed, assigned to CJMinecraft01

[2020-06-26 11:29] CJMinecraft01 commented on #69
Please try this in the latest version as I think I may have fixed it :)

[2020-06-26 11:42] toontownlpz opened #75 "Configuration file not generating on servers"
I had to downgrade my modpack's version of Double Slabs to v2.6.1, as it seemed to me that v2.7.0 and above would not generate the config file correctly. This is important for my modpack as I do not have vertical slab placement enabled. Not really sure how to provide results to recreate this, but if you want you can use my modpack to test.

Simply download the latest version of my modpack from [he

[2020-06-26 13:17] DavidosWolfe667 commented on #74
Yes, that's the full error log.

The toolracks are placed one full block above (so 2 y spaces) above a spruce slab (top, MC) slag brick slab (bottom, engineer's Deco) combo.

The toolracks that are 2 full blocks above (ergo 3 y spaces) the slabs seem to work fine.

[2020-06-26 13:33] DavidosWolfe667 commented on #70
I have removed all surrounding blocks, and it seems the crashing has stopped. I will start adding the setup of blocks I had 1 by 1 to see what is causing the crash.

[2020-06-26 13:47] DavidosWolfe667 commented on #70
I've cleared every block around it except for the slabs and it still crashes, so it's entirely dependant on going from a top slab block to the vertical double slab.

[2020-06-26 18:42] DavidosWolfe667 commented on #70
Started a completely new world with a different tile set to rebuild, and it crashed under the exact same circumstances as above.
So even vanilla tilesets will do this.
[crash-2020-06-26_20.41.39-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/4838735/crash-2020-06-26_20.41.39-client.txt)
[crash-2020-06-26_20.40.30-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/483873

[2020-06-27 13:22] CJMinecraft01 commented on #75
Have you checked the serverconfig folder? Inside there should be the doubleslabs-server.toml config file

[2020-06-27 13:35] CJMinecraft01 commented on #74
Could you send me a screenshot or perhaps a video of the expected behaviour vs what is happening please?

[2020-06-27 14:08] DavidosWolfe667 commented on #74
I have figured that it's specifically the flint & Steel that is glitching out when trying to place it in Bibliocraft things. Everything else works fine. 😅

[2020-06-27 14:09] CJMinecraft01 commented on #74
Okay. Is it alright to close this if it works?

[2020-06-27 14:10] DavidosWolfe667 commented on #74
It doesn't, though.

[2020-06-27 14:10] DavidosWolfe667 commented on #74
It's supposed to place the object into the hovered over slot, like this.

![afbeelding](https://user-images.githubusercontent.com/36876454/85924159-a918d600-b890-11ea-8892-23c38c860449.png)

[2020-06-27 14:10] DavidosWolfe667 commented on #74
![afbeelding](https://user-images.githubusercontent.com/36876454/85924165-b766f200-b890-11ea-9a5f-43c60841d654.png)

Except it doesn't and just spams the same error.

[2020-06-27 14:11] DavidosWolfe667 commented on #74
When shift right clicking with this in hand, instead of opening the GUI it spawns a fake fire.
![afbeelding](https://user-images.githubusercontent.com/36876454/85924176-d06fa300-b890-11ea-86f8-52cf27c85fb0.png)

[2020-06-27 14:11] DavidosWolfe667 commented on #74
![afbeelding](https://user-images.githubusercontent.com/36876454/85924192-e3827300-b890-11ea-948a-04143e88ba27.png)
The fire stays put and doesn't really do anything.

[2020-06-27 14:12] DavidosWolfe667 commented on #74
![afbeelding](https://user-images.githubusercontent.com/36876454/85924195-ec734480-b890-11ea-8fac-3ea42eb938a9.png)
Right clicking the rack with the flint & steel just spouts error lines.

[2020-06-27 14:14] CJMinecraft01 commented on #74
I still don't understand the relevance of this to my mod. My mod only overrides the behaviour if the item which is right clicking a block is a slab which a flint and steel would be flagged as not being a slab. Does this error occur when my mod is not present?

[2020-06-27 14:15] DavidosWolfe667 commented on #74
No, it does not. So it has to be relevant. It only started happening after I installed this mod.

[2020-06-27 14:18] DavidosWolfe667 commented on #74
![afbeelding](https://user-images.githubusercontent.com/36876454/85924316-dc0f9980-b891-11ea-8b03-85984a810c01.png)
Disabling the mod, it works as usual, as you can see.

[2020-06-27 14:21] DavidosWolfe667 commented on #74
Mayhaps it is related to the blocks interacted with aren't traditional full blocks? I'm not knowledgeable enough in how MC works to make an educated guess.

[2020-06-27 14:37] #70 closed, assigned to CJMinecraft01

[2020-06-27 14:37] CJMinecraft01 commented on #70
Please try this in the latest version as hopefully this time I've fixed it :D

[2020-06-27 14:47] CJMinecraft01 commented on #74
This is really weird because I'm testing this in my development environment and it is working fine. Was there a block in front below where the fire went and was you sneaking?

[2020-06-27 14:55] toontownlpz commented on #75
Ah, I see. Is there a reason for this? It seems like you now have to set them based on the world rather than the entirety of Minecraft. If that's the case, I guess I can just stick with Double Slabs v2.6.1.

[2020-06-27 15:20] CJMinecraft01 commented on #75
The reason is intended for servers owners as the way the placement mechanism works, both the client and the server need to have the same placement options, so if say vertical slabs are disabled on the server, they should also be disabled on the client. By making this a server config, this is done automatically by forge without me needing to sync it over. I feel that ultimately this is the better m

[2020-06-27 17:10] JohnBrazil opened #76 "Missing textures for double slabs + inconsistencies with placing modded slabs (1.16.1)"
When placing two slabs together, the texture will not render, showing instead the typical purple-black checkered design typical to missing textures. This happens with vanilla slabs of same type or mixed, and also with vanilla+modded or modded+modded slabs, both for normal and vertical slabs.

Also, the placement for modded slabs seens to be messed up. Modded horizontal slabs will be primarily plac

[2020-06-27 17:21] CJMinecraft01 commented on #76
Slabs are placed vertically when placed on the side of a block and regularly when placed on the bottom or the top. To change the way the placement works you can alter the server config for the world to use the original placement mechanism. Also, could you send me a screenshot of the issue slabs and the console log please?

[2020-06-27 20:31] DavidosWolfe667 commented on #74
I did sneak, yes, it says I shift right clicked.

There were no blocks infront of it.

[2020-06-27 20:32] DavidosWolfe667 commented on #74
If it works properly for you, it must be conflicting with another mod in the engineer's life modpack. But how that causes specifically the flint and steel to have problems with bibliocraft is unknown to me.

[2020-06-28 09:19] CJMinecraft01 commented on #74
Do you have a link to the mod pack? I'll check it out and see if I can recreate and track down what the issue is for you

[2020-06-28 11:47] CJMinecraft01 commented on #74
From what I've seen, this issue regarding the fire is only brief and occurs when you sneak click on the block from bibliocraft and also occurs when you right click a vertical slab. The reason for this issue is that by sneak clicking, we override the default action to place items into the shelf and so it tries to use the item (use the flint and steel). This then places a fire block and then immedia

[2020-06-28 11:47] toontownlpz commented on #75
So to clarify, should I stick with v2.6.1? Both the client and server are supposed to have vertical slab placement disabled full-stop.

[2020-06-28 11:52] CJMinecraft01 commented on #75
That depends on your preference. I personally would recommend continuing to update as I no doubt fix bugs and add new features but I respect the fact that it is easier to have a global config for all worlds. I may take a look at adding a way to do so but I want the config to be consistent (and not have the same option appear in two places) if you get what I mean?

[2020-06-28 11:56] toontownlpz commented on #75
I would appreciate if you could potentially implement a choice for either, as due to my modpack's intent I've deliberately disabled vertical slab placement on both the client and server packs that are available for download. I just find this easier as it requires less intervention from users looking to play using my modpack, whereas with the newer versions I'd have to expect them to make the chang

[2020-06-28 12:32] CJMinecraft01 commented on #75
Upon further investigation I've discovered that this is actually available in forge already. Simply place the doubleslabs-server.toml file that you want to be default, into the defaultconfigs folder in the root directory and that should give you the desired outcome!

[2020-06-28 14:43] toontownlpz commented on #75
Hey, I've tried what you suggested and it does indeed work! However, there's an issue. My modpack is designed to be easy to use and upgrade to newer versions when desired, but when you move an existing world over to the new server pack with the defaultconfigs folder being used, it doesn't copy the defaultconfig folder's contents over to the existing world.

Any way to fix that? I don't know if thi

[2020-06-28 15:11] CJMinecraft01 commented on #75
I'm not sure there is a direct way to fix that unfortunately without instructing people to copy over the config to their world. And the second issue regarding the client and a weird visual disturbance is the reason I moved it over to the server config to resolve that issue. I'm not too sure what else to recommend, as I completely understand your position. If the config is not present though in the

[2020-06-28 16:15] toontownlpz commented on #75
I'm close to updating my modpack with the newest Double Slabs release, however I have one issue. The contents of the 'defaultconfigs' folder does not get copied over to new worlds automatically when I start up a new server. Any way to combat that?

I am essentially dealing with this same issue, except it just doesn't copy the defaultconfigs files into the server's worlds: https://github.com/Minecr

[2020-06-28 16:41] toontownlpz commented on #75
If you would like to test this using my modpack, you can find a 'beta' release with these changes here: https://www.curseforge.com/minecraft/modpacks/bees-and-beyond/files/2991267

Both client and server packs are offered.

[2020-06-29 00:29] gabo534 commented on #76
Hi, I got the same problem and I belive is caused by the error while placing the slabs, cause if I crouch and place it, it works fine (I don´t know where is the config so I still got it :v). I send you the screen, hope it helps o/
![Minecraft_ 1 16 1 28_06_2020 6_23_27 p  m](https://user-images.githubusercontent.com/67565039/85962279-329dd600-b96d-11ea-8920-b0abe41ee8fc.png)

[2020-06-29 02:44] Lithobraker commented on #69
Really sorry I didn't get back to you sooner- very distracted- but it does seem to have worked!
Very cool stuff. I'll be glad to include this mod in my pack!
![2020-06-28_22 44 10](https://user-images.githubusercontent.com/6070905/85967633-ed8b9b00-b990-11ea-8d5b-6a668269866e.png)

[2020-06-29 06:36] DavidosWolfe667 commented on #74
You can find the modpack here, using the twitch launcher.
https://www.curseforge.com/minecraft/modpacks/engineers-life

I've noticed other mods giving similar issues, so if anything it's probably something the dev slapped together and/or edited with the modtweaker at this point.

However, I'm still interested in your findings, if you're willing to dive deeper into it.

[2020-06-29 10:11] CJMinecraft01 commented on #75
Hi. Thank you for sending the link. In the download for the server, it has the old double slabs jar (2.6.1) and not the new one. When testing with the new one on an old world (generated using DoubleSlabs 2.6.1) the server config was added automatically (as it was not present in the old world) and so the vertical slabs were disabled. Like you said, creating a new world on the client works fine and

[2020-06-29 11:13] CJMinecraft01 commented on #76
Thanks for the screenshot. Could you send me the console log so I can see if any errors have occurred when placing?

[2020-06-29 11:13] CJMinecraft01 commented on #69
Glad it is fixed! Sorry about that :)

[2020-06-29 11:13] #69 closed, assigned to CJMinecraft01

[2020-06-29 11:13] CJMinecraft01 commented on #74
Could you send the error log again? Like the entire latest.log when the error occurred. I've tried this with the modpack with DoubleSlabs installed and whilst the fire spawns as described above (due to the vanilla implementation), I do not get an error in the console

[2020-06-29 12:14] toontownlpz commented on #75
Sometimes I am unable to comprehend my own stupidity. Thank you for helping me fix this! Of course, updating the mod on the server fixed it... I mean, why wouldn't it? -_-

I have now released my modpack update: https://www.curseforge.com/minecraft/modpacks/bees-and-beyond/files/2991944

[2020-06-29 12:25] CJMinecraft01 commented on #75
Fantastic. Glad to hear it is working for you and all the best with you modpack. Seems pretty neat!

[2020-06-29 12:25] #75 closed, assigned to nobody

[2020-06-29 17:09] toontownlpz commented on #75
Thank you!

[2020-07-01 15:44] WormaxPL opened #77 "Light Bug"
This bug is a huge problem for me as builder... Since I start using this mod in my modpack i have this bug... I don't  know is that a mods collision or something else, but sometimes near this dark area monsters (like creepers) can spawn. I love this mod because I really want vertical slabs in Minecraft! Please fix this

![2020-07-01_17 34 24](https://user-images.githubusercontent.com/67701059/8626

[2020-07-01 21:11] CJMinecraft01 commented on #77
Which version of my mod are you using?

[2020-07-02 02:30] WormaxPL commented on #77
It's a DoubleSlabs-1.12-0.7.4 but i have this bug since i start using this mod at version 0.7.2

[2020-07-02 08:48] CJMinecraft01 commented on #77
Thanks for reporting this. I believe the issue you're seeing here is due to an effect known as ambient occlusion. If you turn your graphics settings to not have smooth lighting I believe this goes away (this would be a temporary fix). I'll take a look and see what I can do

[2020-07-02 12:11] WormaxPL commented on #77
Okey. Thanks for advice and good luck with working at this

[2020-07-02 16:35] solarblindfull opened #78 "[mod incompatibility] Missing texture bug for vertical slabs with the last version of Immersive Portals"
Hello ! I'm on Forge 31.2.30 with Optifine pre30 (minecraft 1.15.2).

When I place a vertical slab (for exemple vanilla dark wood slab) in a world with DimensionStack of the last ImmersivePortals version, the slab texture disapear for the black&pink buggy one. It's random. For exemple, if I open a door near the vertical slabs the texture have one of two chance of disapearing.

Can you see what's w

[2020-07-03 14:47] CJMinecraft01 commented on #78
Hi! Thanks for the report. I believe the issue is due to how Immersive Portals overwrites the rendering and how my slabs use something known as Model Data. I believe that this is a known issue as there is a fix in the client config for immersive portals. Simply enable the model data fix (`model_data_fix = true`) and this issue should be resolved! Hope that works for you!

[2020-07-03 14:49] CJMinecraft01 commented on #15
I'm going to post this here as I believe it is relevant if you want to play with both Immersive Portals and Double Slabs. There is a fix that can be enabled on the immersive portals end using the client config. Simply change `model_data_fix = true` in the config and that should fix the issue with the missing texture showing. This does however come at the cost of performance but I thought this was

[2020-07-03 14:50] CJMinecraft01 commented on #77
Quick question, do you have OptiFine installed?

[2020-07-03 15:03] solarblindfull commented on #78
Thank very much for the info !
Unfortunately, I use these mods for a modpack on my personnal server. I can't ask all new players to change that config on their client manually...

[2020-07-03 15:07] CJMinecraft01 commented on #78
If it is your personal modpack, could you override the config and then put out a new version. I know it seems a pain, sorry

[2020-07-03 15:07] Rogrom73 commented on #15
Thanks for the info :)

In regard to the poor performances due to the immersive portals mod I
decided to work with another portal mod maybe basic but more efficient.
But I continue to use your mod especially with vertical slabs feature. I
definitively love it.

Are you now working on some new features or mod ?

Kind regards

Rogrom73

Le ven. 3 juil. 2020 à 16:49, CJMinecraft <notifications@github

[2020-07-03 15:18] CJMinecraft01 commented on #15
I'm not really working on much at the moment apart from trying to iron out as many bugs as possible with DoubleSlabs as I feel as a mod that it has all of the features I would want it to have and had planned to achieve. I have an idea for another mod that I want to work on but I don't think it will be quite as big of a change as this mod has been. Been really fun working on it though!

[2020-07-03 15:36] WormaxPL commented on #77
Yes, I do

[2020-07-03 15:43] CJMinecraft01 commented on #77
Does the error occur when OptiFine is not installed?

[2020-07-03 17:14] WormaxPL commented on #77
I don't know... I don't launch any mods without Optifine installed

[2020-07-05 01:12] Dabreu131 opened #79 "Lotta Terracota compatibility issues"
The Lotta Terracota vertical slabs don't seem to work with the double vertical slab feature. I have disabled the vertical placement feature for regular slabs.

[2020-07-05 02:20] Angela commented on #79
@CJMinecraft01 are you open to pull requests? If so, I am happy to do the work to add support for my two mods [Lotta Terracotta](https://github.com/RahalaBytes/LottaTerracotta)/[Sweet Concrete](https://github.com/RahalaBytes/SweetConcrete).

[2020-07-05 08:38] solarblindfull commented on #78
Sorry for the late reply. Change that config in "immersive_portals-client.toml" doesn't work for me.

EDIT : The issue occurs also with the lastest version of Immersive Portals. With "model_data_fix = true" the render bug doesn't appear in the same way. I need to place a vertical slab block at the side of another block while a vertical slab is on its side already to reproduce the issue.

EDIT 2 :

[2020-07-05 09:03] CJMinecraft01 commented on #79
Yes I am open for pull requests! You might find it useful to use my `VerticalSlabSupport` class as that generalises vertical slabs so you only need to give the names of the classes for reflection

[2020-07-05 09:22] CJMinecraft01 commented on #78
I'm going to leave this issue open as it technically isn't fully resolved but unfortunately I can't see a way of fixing this from my end as Immersive Portals completely changes the rendering and loading of blocks. I know from when I tested this in a client created world using a few mods it seemed fine so it could be related to latency from the server. Hopefully if there is a way to fix this I'll b

[2020-07-05 09:33] solarblindfull commented on #78
Thank for your quick reply ! I tested on a singleplayer world. I'll open another issue for ImmersivePortals. Maybe they will find a solution. I don't want to bother you any longer with this unimportant question. Thank very much and have a nice day.

[2020-07-07 14:22] CanINotUseTruth commented on #77
So I have the same issue with the version DoubleSlabs-1.12-0.7.4, I get similar issues to the pictures above with Optifine installed. When Optifine is disabled it still has a slight issue with the lighting but not as bad and yes Smooth Lighting off is a temporary fix, exclusively happening with vertical slabs :) Pictured below is the effect when Optifine is not installed but Smooth Lighting is Max

[2020-07-09 06:27] WenXin20 opened #80 "Incorrect Breaking Texture"
Minecraft v1.15.2
Forge v31.2.31
Double Slabs v2.7.6

When breaking a vertical slab, the breaking texture appears incorrectly. I also sometimes see a missing texture after the block is broken for half a second. Also, Immersive Portals is not installed.

![2020-07-09_00 54 56](https://user-images.githubusercontent.com/12000593/87004554-39a1c100-c183-11ea-8e92-47ff27070fc1.png)

[2020-07-10 14:06] CJMinecraft01 commented on #48
From what I've seen, both PRs have been accepted so I'm going to close this issue now :)

[2020-07-10 14:06] #48 closed, assigned to CJMinecraft01

[2020-07-10 14:58] CJMinecraft01 commented on #77
I have improved this further in the next update. Whilst not entirely fixed, the shading should be better for vertical slabs.
*Note: when OptiFine is installed, I have to remove a fix for shading which gives the line on the top of vertical slabs if a block is underneath as otherwise the block appears invisible. The fix simply reorders the vertices so that the ambient occlusion is aligned but unfort

[2020-07-10 15:38] WormaxPL commented on #77
I understand... Thanks for your time

[2020-07-10 16:20] #80 closed, assigned to CJMinecraft01

[2020-07-10 16:21] CJMinecraft01 commented on #80
This should be fixed in the latest versions!

[2020-07-10 16:22] WenXin20 commented on #80
Thanks!

[2020-07-10 16:27] CJMinecraft01 commented on #41
Closing due to inactivity

[2020-07-10 16:27] #41 closed, assigned to nobody

[2020-07-10 16:27] CJMinecraft01 commented on #16
Closing due to inactivity

[2020-07-10 16:27] #16 closed, assigned to CJMinecraft01

[2020-07-10 16:28] CJMinecraft01 commented on #65
Closing due to inactivity

[2020-07-10 16:28] #65 closed, assigned to nobody

[2020-07-10 16:28] CJMinecraft01 commented on #57
Closing due to inactivity

[2020-07-10 16:28] #57 closed, assigned to CJMinecraft01

[2020-07-10 16:29] CJMinecraft01 commented on #51
Closing due to inactivity

[2020-07-10 16:29] #51 closed, assigned to CJMinecraft01

[2020-07-10 16:30] CJMinecraft01 commented on #72
Closing due to inactivity. Please try updating to the latest version

[2020-07-10 16:30] #72 closed, assigned to nobody

[2020-07-10 17:08] FuryOfFools commented on #50
Thanks

[2020-07-10 17:08] #50 closed, assigned to CJMinecraft01

[2020-07-10 17:12] 0mayor opened #81 "Valhelsia 2 Crashes"
Hey! So I use this mod in the modpack Valhelisa 2 and it's the reason I've been having countless crashes recently. Here's the pastebin, just wanted this to be known! https://pastebin.com/Az39vC1Z

[2020-07-10 17:13] CJMinecraft01 commented on #81
Hi! Thanks for the report. Which slabs were you combining so I can check whether the support is correct

[2020-07-10 17:16] 0mayor commented on #81
I was using EmbellishCraft Old Brick Slabs, Vertical Brick Slabs from Quark and just regular Brick Slabs but with the shift ability to place them vertically. There was a lot of mix and matching...

[2020-07-10 17:18] CJMinecraft01 commented on #81
Thank you. I'll take a look and see if I can get this fixed as soon as possible!

[2020-07-13 17:49] SMHerobrine opened #82 "Clicking a block that under a vertical slab generates/drops random botania pebbels."
Clicking a block that under a vertical slab generates/drops random botania pebbels.

[2020-07-15 08:27] CJMinecraft01 commented on #82
Hi thanks for the issue! Sorry for the late response, which Minecraft and mod version is this using? I'm assuming MC 1.12?

[2020-07-15 08:42] CJMinecraft01 commented on #71
Closing due to inactivity

[2020-07-15 08:42] #71 closed, assigned to CJMinecraft01

[2020-07-15 08:43] CJMinecraft01 commented on #74
Closing due to inactivity

[2020-07-15 08:43] #74 closed, assigned to CJMinecraft01

[2020-07-15 10:26] CJMinecraft01 commented on #54
![image](https://user-images.githubusercontent.com/13885569/87534426-e8676500-c68d-11ea-85c7-86a0e7ca1e8f.png)
I think I've just managed to implement this finally so in the next update you should have this feature! By default all of the plank slabs will use the lazy model rendering

[2020-07-15 10:35] #81 closed, assigned to CJMinecraft01

[2020-07-15 10:36] CJMinecraft01 commented on #81
This should be fixed in the latest version!

[2020-07-15 19:54] Barerock opened #83 "Compatibility request for Create"
Using the non-standard placements for slabs on moving constructs causes the slabs to lose their texture and become pink/black checkered blocks. This isn't an issue with Quark vertical slabs, so maybe find pointers there? Here's a reference to the issue on Create's page. Also I mixed this and Klee slabs up and made a couple reports with those. These are the real ones.
Forge: 31.2.23
MC: 1.15.2
Crea

[2020-07-15 20:10] CJMinecraft01 commented on #83
Thanks for the report, I have a suspicion it may be due to something on the other mods side and how they render the constructs as the vertical slabs use something known as model data which allows any slab to be a vertical slab. When there is no model data, it reverts to the missing model texture hence the appearance shown. I'll take a look into this though and get back to you!

[2020-07-15 20:12] Barerock commented on #83
Huh. That sounds super cool. I figured you used something like that since there aren't extra blocks and it's a lightweight mod. Thanks for the quick response!

[2020-07-15 21:26] Jaeiya opened #84 "Compatibility with XNet facade's"
Currently if you try to place an XNet facade that has been set to mimic a vertical slab, it will crash the game.

[2020-07-16 07:02] SMHerobrine commented on #82
Yes 1.12.2

Kontakt CJMinecraft (<notifications@github.com>) kirjutas kuupäeval K, 15.
juuli 2020 kell 11:28:

[2020-07-16 07:02] SMHerobrine commented on #82
Yes 1.12.2

[2020-07-16 07:13] CJMinecraft01 commented on #84
Do you have the crash log please? And for which Minecraft and mod version is this for?

[2020-07-16 08:45] CJMinecraft01 commented on #79
This has been added in the latest version!

[2020-07-16 08:45] #79 closed, assigned to CJMinecraft01

[2020-07-16 12:23] CJMinecraft01 commented on #54
Added in the latest version!

[2020-07-16 12:23] #54 closed, assigned to CJMinecraft01

[2020-07-16 13:06] CJMinecraft01 commented on #82
Hi, please check but I think this may be fixed in the latest version :)

[2020-07-16 21:03] Jaeiya commented on #84
Minecraft version 1.15
DoubleSlabs version 2.8.2

Crash log:
[crash-2020-07-15_14.24.09-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/4934141/crash-2020-07-15_14.24.09-client.txt)

[2020-07-17 07:15] SMHerobrine commented on #82
Nope still dropping botania pebbels.

[2020-07-17 07:55] CJMinecraft01 commented on #82
Hi, sorry about that. How do you get pebbles to spawn using botania? I tried in a test world and it wouldn't spawn any so I'd assumed it was fixed

[2020-07-17 09:41] SMHerobrine commented on #82
1) have double slabs and botania installed
2) place a vertical slab by sneaking
3) Place the vertical slab
4) click on the block what is under the vertical (press with the key what places block) + be sneaking while clicking

See it in action: https://www.youtube.com/watch?v=70m4vwEP-Ds

[2020-07-17 13:50] #84 closed, assigned to nobody

[2020-07-17 13:50] CJMinecraft01 commented on #84
Should be fixed in the latest version!

[2020-07-17 13:54] CJMinecraft01 commented on #82
I'm assuming the behaviour you was expecting was that it would place the vertical slab? If so, vertical slabs can only be combined when not holding shift as holding shift would place the slab horizontally against that block. As you are standing there, it is highly likely that you are simply sneak right clicking on the grass block which is dropping the pebbles

[2020-07-17 15:33] SMHerobrine commented on #82
Yep you right.

[2020-07-17 15:33] #82 closed, assigned to CJMinecraft01

[2020-07-17 17:40] CJMinecraft01 commented on #76
Closing due to inactivity

[2020-07-17 17:40] #76 closed, assigned to CJMinecraft01

[2020-07-18 22:25] Jaeiya commented on #84
Thanks, I really appreciate it

[2020-07-20 02:30] MCXopjesh opened #85 "Request: add config option or keybind for kleeslabs-like functionality in creative mode"
Hi, so I found this mod recently, and I am a big fan of what you have done! I think it is the best slab mod I have found! As the title suggests, I'd like to request a keybind or config option for kleeslabs-like functionality in creative mode. I know that functionality is already in survival mode, but speaking as someone who primarily uses creative mode, I would love to have that feature added to i

[2020-07-20 02:37] MCXopjesh commented on #85
For some reason, the curseforge comment section skipped my mind when I was commenting this, sorry if this was the wrong place to put this!

[2020-07-20 19:47] SnikesBlue opened #86 "DoubleSlabs 1.12.2 not compatible with Conquest Forged (same version)"
Hi, as mentioned on the CurseForge mod page (and in the title), would love it if both mods (both 1.12.2) were compatible (the Conquest Reforged mod does come with vertical slabs btw).
Thanks!

[2020-07-22 06:06] Dominus-Sicarum opened #87 "Vertical Slab and Pane/Fence block state"
Fences, glass panes, walls and iron bars currently do not get block state (east/north/south/west) set to true when placed alongside vertical slabs.

Having those blocks extend to vertical slabs would allow for some interesting decoration options (like thin walls with glass windows, etc.).

[2020-07-22 09:39] Dominus-Sicarum commented on #87
![example](https://i.imgur.com/ZQP2uoh.png)

Currently posts work as you would expect (i.e. they form a connection with the north slab), but they don't form connection with sideways slabs (as those in east and west). I'm not sure about fences and walls in this case, but having glass panes connect with slabs to east and west would be useful for building windows and the like.

[2020-07-22 15:30] CJMinecraft01 commented on #85
Hi! Thanks for the report. This is the correct place to put it :). Do you reckon it would be okay to simply have it so that if you are sneaking it doesn't break both or do you think it'd be better to make it so if you aren't sneaking it breaks both by default? (Maybe an option to choose which preference). Please let me know your thoughts :)

[2020-07-22 16:03] MCXopjesh commented on #85
I think sneaking should make it break half! I think that is a good idea! My only concern is that often I am flying in creative mode, and while it is possible to sneak while flying, it's a little more annoying. But that's a minor inconvenience, and I do think the sneak functionality is a good idea!

[2020-07-22 16:06] CJMinecraft01 commented on #85
Yeah I get your point regarding flying as I have experience this myself but hopefully the sneak check should be sufficient. This should be available as soon as I release the next version :)

[2020-07-22 16:06] MCXopjesh commented on #85
Awesome! Thanks dude!

[2020-07-22 16:15] CJMinecraft01 commented on #87
Hi! Thanks for the issue. This will be fixed in the 1.12 version as soon as it is released. I'm working on fixing this in the newer versions but am really unsure how to change this behaviour as whether the pane connects now depends on the collision box for the vertical slab and whether it is a full face. This means that only the north face in the example you showed will connect and gives the behav

[2020-07-22 16:21] CJMinecraft01 commented on #86
Added in the latest version!

[2020-07-22 16:21] #86 closed, assigned to CJMinecraft01

[2020-07-22 17:53] agr21 opened #88 "Support for extinguished campfires"

[2020-07-22 23:22] NICHOLAS85 opened #89 "Crash when breaking top half of double slab when theres a slab on top"
Hello! I am currently running a 1.12.2 Forge server and tried adding this mod to the pack. When I tested this with an alternating tower of wood and cobblestone slabs I find that when I break a top half slab in this tower my client crashes, although the server keeps running. I tried adding this mod to [this mod pack ](https://www.curseforge.com/minecraft/modpacks/jasb-just-another-skyblock/) so the

[2020-07-23 08:17] CJMinecraft01 commented on #89
Should be fixed in the latest version!

[2020-07-23 08:17] #89 closed, assigned to CJMinecraft01

[2020-07-23 08:57] CJMinecraft01 commented on #88
What do you think about this? It has all the normal campfire functionality but can be combined with slabs (and even vertical slabs)
![image](https://user-images.githubusercontent.com/13885569/88268772-dfe4df00-ccca-11ea-86e0-fe92d04bec4d.png)

[2020-07-23 12:47] agr21 commented on #88
it looks great! i can even stack them on each other. though now the ones on the slab or vertically placed cant be extinguished now. (also for me they are "dark" and dont emit light,but it can be a problem with me specifically)

[2020-07-23 12:54] CJMinecraft01 commented on #88
Thanks. Could you show me a screenshot of how they look? I understand that they don't emit light (this isn't a supported feature yet)

[2020-07-23 13:14] agr21 commented on #88
![2020-07-23_15 09 52](https://user-images.githubusercontent.com/62674078/88290265-c6598c80-ccf6-11ea-9f93-cbdfa4176ab2.png)
not emitting light is fine imo,and apart from that they look good
and i add,works fine with soul campfires too!

[2020-07-23 13:36] CJMinecraft01 commented on #88
Nice. I think the lighting is due to the fact that they don't emit light and that you have shaders enabled. Once light support is enabled (as some slabs may have emit light) it should work perfectly :)

[2020-07-23 13:38] agr21 commented on #88
hope so! thanks for your work, its great! :)

[2020-07-23 14:02] CJMinecraft01 commented on #88
No problem :+1:

[2020-07-23 14:51] #85 closed, assigned to CJMinecraft01

[2020-07-23 19:11] WenXin20 commented on #88
Hello, I've noticed that campfires can't be extinguished with a shovel or when placed in water if it is a double slab. It also doesn't damage entities when it's lit. It also won't place sideways in water.

[2020-07-23 20:22] NICHOLAS85 commented on #89
Was able to confirm the latest version no longer crashes, thanks!

[2020-07-25 20:52] WenXin20 opened #90 "Optifine overlays appear on double slabs"
`Minecraft v1.15.2`
`Forge v31.2.31`
`Double Slabs v2.9.0`
`Optifine vHD U G1 pre30`

I created a resource pack that makes use of optifine's overlay textures, but when a double slab is created, all the different overlay textures are displayed at once. Is this something that can be fixed?

Resource Pack: [Minecraft Connected v1.5.zip](https://github.com/CJMinecraft01/DoubleSlabs/files/4976421/Minec

[2020-07-25 20:54] WenXin20 opened #91 "Vertical slabs place instead of replacing tall grass"
`Minecraft v1.15.2`
`Forge v31.2.31`
`Double Slabs v2.9.0`

When I right-click on the side of tall grass, it will instead place a vertical slab next to the tall grass.

[2020-07-25 21:30] CJMinecraft01 commented on #90
Hi thanks for the report. Is this with every combination or only with wooden slab combinations?

[2020-07-25 21:30] CJMinecraft01 commented on #91
I'm assuming that this should replace the grass with the slab?

[2020-07-25 22:02] WenXin20 commented on #91
Yeah

[2020-07-25 22:03] WenXin20 commented on #90
It happens with every slab combination.

[2020-07-27 17:54] CJMinecraft01 commented on #90
Hmm. Very strange. I'm can't currently access my PC at the moment but when I'm back I'll try and have a go at fixing this 👍

[2020-07-27 18:03] WenXin20 commented on #90
Thanks! Much appreciated! The bug has been around since the early days of the mod, and I finally decided to report it since it makes it harder to build if I want to keep the texture pack.
The interesting thing is that connected textures work pretty well, such as with the smooth stone slab, except when the slabs are placed vertically.

[2020-07-27 19:03] AechtRob opened #92 "Crash with snow ?"
I think this crash is caused by snow layers?
[crash-2020-07-27_18.54.26-server.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/4983969/crash-2020-07-27_18.54.26-server.txt)

Setting double-slabs down is fine. When it snows (eg. using Serene Seasons), the doubled-slabs render with the "broken" texture pattern (purple/black chequers), and within seconds of loading a chunk containing said dou

[2020-07-28 23:44] Gbergz opened #93 "[1.16.1] Entering any slab into the blacklist "doubleslabs-server.toml" will make the game crash."
Entering any slab item into the blacklist inside "doubleslabs-server.toml" will make the game crash because of an invisible entry?
MultiMC Crash report: https://hastebin.com/vifobakaqe.bash

The item ``"minecraft:purpurslab"`` is not even there inside the blacklist [].

### Versions
**MC:** 1.16.1
**Forge Version:** 32.0.77
**Double Slabs Version:** 3.2.0

**Real Crash-Report:** https://hastebin.c

[2020-07-29 10:58] Gbergz commented on #93
Somehow this doesn't happen anymore after regenerating the config. I'll reopen if further issues appear.

[2020-07-29 10:58] #93 closed, assigned to nobody

[2020-07-29 11:16] Gbergz opened #94 "[Suggestion-1.16.1] Add a blacklist config to allow disabling slabs to be placed Vertically."
Title^
Add a blacklist config to allow disabling slabs to be placed Vertically. Instead of an all On / Off config option. Would be helpful!
Using MC 1.16.1

Kind of like this that already exist but for Vertical Slabs
[code]

[2020-07-29 11:52] SnikesBlue opened #95 "Mod not compatible with Effortless Building 1.12.2"
As mentioned in the title and on the curseforge page, would love compatibility with the options and features that the Effortless Building mod adds, so that there wouldn't be gaps in between slabs when creating lines, diagonals, spheres, walls, cylinders and so on.
Thanks! :)

[2020-07-30 05:01] archonsd commented on #78
I have the same issue, with the same two mods.  MC 1.16.1 with forge 32.0.77.  ("forge-1.16.1-32.0.77-installer.jar")   Latest immersive portals ("immersive-portals-0.2-mc1.16.1-forge.jar") and latest double slabs.  ("DoubleSlabs-1.16-3.2.0.jar")  I will see if altering the config as suggested resolves the issue.  The issue only began for me after I built my first portal, crossed over, and crossed

[2020-07-30 05:23] archonsd opened #96 "Disappearing slabs when stacked in one block in 1.16.1"
I'm losing the top slab when I stack two slabs of different materials horizontally in the same single block.  The bottom slab is "mahogany" from "Oh the Biomes You'll Go", and the top slab is a Redwood slab, also from the same mod.  If I break the top (Redwood) slab, it shows the anim for breaking, but no slab item is left in the world for pickup.  It's completely reproducible.  This is an SMP ser

[2020-07-30 08:54] CJMinecraft01 commented on #96
Hi! Thanks for the issue. I'll take a look as soon as I'm back on my PC. Seems like a very unusual issue. Does anything appear odd in the console log?

[2020-07-31 04:18] archonsd commented on #96
There's a LOT of stuff in the console log, but Forge is still Alpha, so I expect a lot of garbage in the log.  Would providing any of the logs help?

[2020-07-31 07:57] CJMinecraft01 commented on #96
Yes. Providing the debug.log for when this happened would be great if you can!

[2020-07-31 15:49] archonsd commented on #96
Will do.  I’ll blow the old, lengthy debug.log away, restart the server, and repro the steps, so the debug.log is as short an relevant as I can make it.  Coming up.

  *   A

From: CJMinecraft<mailto:notifications@github.com>
Sent: Friday, July 31, 2020 3:58 AM
To: CJMinecraft01/DoubleSlabs<mailto:DoubleSlabs@noreply.github.com>
Cc: archonsd<mailto:archon_sd@hotmail.com>; Author<mailto:author@nore

[2020-07-31 16:46] archonsd commented on #96
I don't see a way to upload a file here, and pasting it in here is too long..  so here's a pastebin of the log.  https://pastebin.com/nbE01Mrd  If you need the actual file, I can throw it in OneDrive and link to it.

[2020-07-31 16:47] archonsd commented on #96
I literally just caused it to happen before logging off and pulling the debug.log file.  So it should be right near the bottom.

[2020-07-31 21:34] CJMinecraft01 commented on #78
Did altering the config work?

[2020-07-31 21:47] archonsd commented on #78
Crud, forgot. But this isn't the same issue that that recommendation was designed to cure. This issue is the top slab not being returned when broken.

Sent from my Verizon, Samsung Galaxy smartphone
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: CJMinecraft <notifications@github.com>
Sent: Friday, July 31, 2020 5:34:15 PM
To: CJMinecraft01/DoubleSlabs <Doubl

[2020-07-31 21:59] CJMinecraft01 commented on #78
That sounds like a completely different issue than with Immersive Portals. Would you mind creating an issue going into more detail about the issue including a log file if an error occurs?

[2020-07-31 22:08] archonsd commented on #78
Apologies,
You're responding to me under the immersive portals issue. I am experiencing that too, and forgot to test the config file fix because the missing slab one was more serious.

I did make a separate issue about it yesterday, #96, but I haven't attached the log to it.  I'll put the link to the debug.log there.

Apologies for conflating the two issues.

Sent from my Verizon, Samsung Galaxy s

[2020-08-03 16:29] AechtRob commented on #92
Ah, this was using MC 1.12.2 - it's in the log I think?

[2020-08-03 16:39] CJMinecraft01 commented on #90
From looking into this further, it appears that OptiFine thinks that the double slab block is a block that blocks can connect to, but it is assuming so for all blocks. I'm not too sure how to go about fixing it as OptiFine doesn't have public released code but I'll continue to try my best :)

[2020-08-03 16:45] CJMinecraft01 commented on #92
Sorry thanks :)

[2020-08-03 16:58] WenXin20 commented on #90
Thanks again!

[2020-08-03 17:38] Gbergz commented on #94
Saw you just released an update that includes this, just wanted to say thanks! :) 👍

[2020-08-04 07:40] CJMinecraft01 commented on #94
No problem!

[2020-08-04 07:40] #94 closed, assigned to CJMinecraft01

[2020-08-04 09:39] CJMinecraft01 commented on #96
Hi! Please try updating to the latest version as from my testing, this appears to be fixed :) (note I tested with just BYG, the issue you are experiencing may be due to immersive portals being installed)

[2020-08-04 13:26] archonsd commented on #96
Will do.  Thank you.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: CJMinecraft<mailto:notifications@github.com>
Sent: Tuesday, August 4, 2020 5:40 AM
To: CJMinecraft01/DoubleSlabs<mailto:DoubleSlabs@noreply.github.com>
Cc: archonsd<mailto:archon_sd@hotmail.com>; Author<mailto:author@noreply.github.com>
Subject: Re: [CJMinecraft01/DoubleSlabs] Disappearing sl

[2020-08-04 18:24] WenXin20 opened #97 "Crash w/ Optifine"
`Minecraft v1.15.2`
`Forge v31.2.31`
`Double Slabs v2.10.0`
`Optifine pre30`

After updating to the newest version of Double Slabs, my game now crashes immediately after rendering the double slabs. Seems to be related to Optifine.
[Crash Report](https://gist.github.com/WenXin20/266492023a3b647f2bd6d0d8f5925ac0)

[2020-08-04 18:30] CJMinecraft01 commented on #97
The crash report link doesn't seem to be working unfortunately

[2020-08-04 18:46] WenXin20 commented on #97
Whoops, forgot to actually include the link. :D
Should be fixed now.

[2020-08-05 01:15] TheOrionsun commented on #97
Same here with Forge v31.2.36 the only difference...

[2020-08-06 00:28] Camawama opened #98 "Strange Visual Bug with Optifine"
Latest Version of the Mod and Optifine. When a slab is placed atop another, a bunch of weird graphical bugs can be seen (water goes invisible, plants look weird) until the slabs are broken.

[2020-08-06 07:29] CJMinecraft01 commented on #98
Do you have a screenshot and which version of the mod, and Minecraft version? Does this happen in the version before?

[2020-08-06 13:02] #97 closed, assigned to CJMinecraft01

[2020-08-06 13:03] CJMinecraft01 commented on #97
Fixed in the latest version for 1.15.2. Tested in the same environment you provided :)

[2020-08-06 13:04] CJMinecraft01 commented on #90
Hi! I just tested this today using the resource pack you sent and it appears to work fine. I used the default OptiFine settings. The only issue I noticed was with vertical stone slabs and how they connect but this could potentially be fixed by changing the model type to be lazy (using the client config)

[2020-08-06 13:05] CJMinecraft01 commented on #91
Fixed in the latest 1.15 and 1.16 versions. Will be backporting to older versions

[2020-08-06 14:49] CJMinecraft01 commented on #88
Fixed in the latest version :)

[2020-08-06 14:49] #88 closed, assigned to CJMinecraft01

[2020-08-06 14:55] CJMinecraft01 commented on #95
Hmm. I'm not too sure how I can add this compatibility as from what I've seen, Effortless Building simply enhances the way you place blocks. If you are selecting a slab, it will by default place only one side of the slab which is something I can't change. I feel it might be better to create this issue on their page. I don't believe the mod is incompatible but rather has an oversight when it comes

[2020-08-06 15:08] CJMinecraft01 commented on #92
Should be fixed in the latest version :)

[2020-08-06 15:08] #92 closed, assigned to CJMinecraft01

[2020-08-06 15:08] CJMinecraft01 commented on #91
Completely backported now and fixed :)

[2020-08-06 15:08] #91 closed, assigned to CJMinecraft01

[2020-08-06 15:36] SnikesBlue commented on #95
That's fine, I tried reaching out to them, without luck, but no matter, just the fact that you've added compatibility with Conquest did wonders so far, thanks anyway!

[2020-08-06 15:48] TheOrionsun commented on #97
Thank you

On Thu, Aug 6, 2020, 8:03 AM CJMinecraft <notifications@github.com> wrote:

[2020-08-06 16:29] WenXin20 commented on #90
Thanks! I'll give it a try.
What does it mean if I change it to lazy?

[2020-08-07 08:49] CJMinecraft01 commented on #90
In the client options there's a list of lazy models which use a technique where the slab itself is not rotated, but rather the texture of an already defined vertical slab is replaced

[2020-08-07 10:29] WolfaRRR opened #99 "Optifine incompatibility during render regions feature[1.16.1]"
Whenever you place 2 slabs onto each other (doesn't matter if they are same or different) there appears an OpenGL error. It happens only when you have **RENDER REGIONS: ON** with Optifine. Well what I've experienced so far, when you have a big build filled with slabs, it breaks some of the chunks entirely and "removes" blocks from another. You can see this on the screenshots below. When you place

[2020-08-07 18:38] WenXin20 opened #100 "Campfire Issues"
`Minecraft v1.15.2`
`Forge v31.2.31`
`Double Slabs v2.10.1`

- The bottom campfire has culling applied to it.
- On separate issue, if there is a double campfire and the bottom campfire is broken, the top campfire switches to the bottom and anything that is cooking on it is deleted (if top or bottom is broken).
![2020-08-07_13 30 38](https://user-images.githubusercontent.com/12000593/89677266-c048d

[2020-08-07 22:51] WenXin20 commented on #90
I'm still seeing these overlays, even when using the lazy model rendering.

[2020-08-07 22:55] CJMinecraft01 commented on #90
Are you using any other mods?

[2020-08-07 23:30] WenXin20 commented on #90
I just tried with only Optifine & Double Slabs and I still get this issue. It looks like by default Connected Textures is off and should be set to Fancy, which is found under the Quality button.
Then the game has to be restarted after applying the resource pack to see this issue.
Strangely enough, if I reload my textures, this issue goes away, but returns when I reload the game. But this isn't ide

[2020-08-07 23:43] WenXin20 commented on #100
Looks like the campfire wasn't added to the culling blacklist in the config automatically after updating.

[2020-08-07 23:51] WenXin20 commented on #100
Another couple of things I've noticed:
- `Edit`: Hay blocks placed under hay bales doesn't set the `signal_fire` to true
- Double and double vertical Campfires are not waterlogged, which creates a weird outline.
- Vertical Campfires that are manually waterlogged do not become unlit.
- Double/Vertical Campfires still do not emit light.
- Double Campfires do not damage entities, only the vertical on

[2020-08-08 09:46] CJMinecraft01 commented on #100
Thanks for thoroughly testing these. A lot of these are oversights and assumptions I made when creating the double slabs initially. For every double slab, the assumption is made that it cannot be waterlogged and hence does not have a waterlogged property.
In regards to the lighting issue, does it occur when OptiFine is not installed? I do trigger a lighting update when the state is updated so it's

[2020-08-08 09:49] CJMinecraft01 commented on #90
I'm going to try and recreate this issue and to try and understand just what OptiFine is doing. Are these the only double slabs in the world? It could be that OptiFine is caching the value and updating it every time a new slab is combined and hence is giving the multiple connected textures but I'm not too certain.

[2020-08-08 17:15] WenXin20 commented on #90
It happens with any new slabs that I place as well, if the textures were not reloaded using F3+t. It's very strange.
Thanks!

[2020-08-08 17:19] WenXin20 commented on #100
No prob!
I haven't tried without Optifine yet, but I'll try that out.
For the double campfire, I stood on top, but wasn't damaged.

[2020-08-08 20:41] EldritchScream opened #101 "OpenGL Error 1281 With Current Mods"
I'm currently using the newest version of DoubleSlabs and these mods: https://imgur.com/a/arRx2Qv , most of which are from Serilum's "The Vanilla Experience" modpack (https://www.curseforge.com/minecraft/modpacks/the-vanilla-experience). I'm getting an OpenGL Error 1281 Removing AutoRegLib from the mods, or using an older version of DoubleSlabs (3.2.0) does not fix the issue.

Error only occurs wh

[2020-08-08 21:04] CJMinecraft01 commented on #101
Hi! Thanks for reporting the issue. From what I've heard, this issue only occurs when OptiFine is installed. I'm going to investigate further as I've noticed quite a few issues when using OptiFine with vertical slabs so I'll keep you posted.

[2020-08-08 21:13] CJMinecraft01 opened #102 "Crash due to invalid class loading"
The TileEntityRenderer class is loaded server side causing the server to crash. Console log: https://pastebin.com/teWie8Sp

[2020-08-15 04:11] IoanCiobanescu opened #103 "Crash when placed on Quark Paper panes."
This is a weird one to report, since I wasn't there to see it happen, but my server is clearly suffering the consequences of it. Someone placed a vertical slab of some kind next to a Paper Pane from Quark...so I've been told. Whenever that chunk is loaded, the server crashes with this being sent out in the console.

14.08 21:03:14 [Server] Server thread/ERROR Encountered an unexpected exception
14

[2020-08-15 04:32] IoanCiobanescu commented on #103
This happens in singleplayer when I replicated the process of placing the slab on the paper pane.

The game crashed whilst ticking particle
Error: java.lang.IllegalArgumentException: Cannot get property PropertyBool{name=double, clazz=class java.lang.Boolean, values=[true, false]} as it does not exist in BlockStateContainer{block=quark:paper_wall_big, properties=[east, north, south, west]}

[2020-08-16 19:50] FuryOfFools opened #104 "1.15.2 Client Crush"
[crash-2020-08-16_23.46.31-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/5081281/crash-2020-08-16_23.46.31-client.txt)

[2020-08-17 12:49] #104 closed, assigned to nobody

[2020-08-19 17:58] FeikoJoosten opened #105 "Client Crash on trying to access region render cache"
Hi, I got the following crash when quickly going to my base (I used a waystone).

https://pastebin.com/nzaKausX

I have a feeling you might have forgotten a nullpointer checker or something along those lines. 😄

[2020-08-20 18:07] STAUDER02 opened #106 "Incompatibility with Optifines Connected Textures"
Using a custom resource pack that edits slab connected textures using double slabs disables those visuals
![image](https://user-images.githubusercontent.com/39335834/90808658-ada5bc00-e320-11ea-8126-4dbaf4678c80.png)
these are all stacked slabs but the carved ones have been placed before enabling doubleslabs

[2020-08-20 18:14] STAUDER02 commented on #106
![image](https://user-images.githubusercontent.com/39335834/90809394-b054e100-e321-11ea-981d-5f6d8c39b76e.png)
here is the same problem with biome specific textures for vertical slabs

[2020-08-21 15:58] BluEagle-Dev opened #107 "Crash when you break vertical slabs!"
i don't know what to add more then that, it just crashes when i break a vertical slab

Im on version 1.12.2 of the game!

[2020-08-21 16:08] BluEagle-Dev opened #108 "When using slabs from another mod called "Block craftery" they appear invisible!"
So basically block craftery is a mod that adds some framed pieces(stairs, blocks, slabs) that you can right with a block to give it the texture of the block.

When i make a full block out of those slabs they appear invisible, same with vertical slabs!

AND, if you break a block made out of 2 vertical slabs of that mod the game crashes when you go near it! Creating an crash loop.
The only way to ge

[2020-08-22 08:45] CJMinecraft01 commented on #107
Could you provide the crash log please?

[2020-08-22 08:50] CJMinecraft01 commented on #108
Hi, thanks for the bug report. Would you mind showing the crash log so that I can investigate what is causing the crash. I am aware of the rendering issue, in fact this has been an issue since the start of the mod but I have recently had an idea which may fix the issue so I'll try my best to do that for you!

[2020-08-22 10:54] BluEagle-Dev commented on #108
Ok i will recreate the crash in another new world and send the crash log!

[2020-08-22 10:55] BluEagle-Dev commented on #107
Yes working on it

[2020-08-22 11:42] BluEagle-Dev commented on #108
Here is the crash log:  https://pastebin.com/KzTLAmwr

[2020-08-22 12:11] BluEagle-Dev commented on #107
here is the crash log:  https://pastebin.com/AWXdHy2N

[2020-08-23 19:45] SirBobb commented on #98
please please PLEEEEASE fix it. I use shaders a lot and it's extremely annoying

[2020-08-23 21:56] CJMinecraft01 commented on #98
Could you provide more information about the issue like a screenshot and which Minecraft and mod version you are using?

[2020-08-24 10:08] STAUDER02 commented on #106
Well apparently it is possible to use vertical connected textures as shown in the screenshots but it is "complicated" and horizontal textures don't work with that technique

[2020-08-24 10:13] CJMinecraft01 commented on #106
I believe that some of this issue is due to the nature of how Double Slabs stores and displays slabs. The mod renders the two slabs separately meaning that connected texture on the full block is lost likely to be broken. Would you mind providing a link to download this resource pack so that I can test it? I may find a way to render the full block when both slabs are of the same type

[2020-08-24 10:16] STAUDER02 commented on #106
it is the conquest resource pack
https://www.planetminecraft.com/texture-pack/conquest-32x32/

[2020-08-24 19:53] agentwolf88 opened #109 "Crash"
https://paste.ee/p/mPtVL

[2020-08-25 06:33] OiJockey opened #110 "Doubleslab schematic crash Valhelsia Origins"
The same issue was in the last verison and now its in 1.1.0 verison of Origins
When doing a build with doubleslabs and saving it to a schematic, when loading it into a server or just deploying, it will crash the entire game. Had a similar issue the second time as well but without doubleslabs and it was with fairylights.
https://gist.github.com/OiJockey/9d3e1713b198de9699c6acb363f470d7

[2020-08-25 10:13] CJMinecraft01 commented on #110
I believe the issue may be due to how create handles rendering of processing of schematics but I will try and see if I can fix this on my end :)

[2020-08-26 18:00] FSwordFoxA opened #111 "NPE: Tesselating block model (1.15.2)"
Minecraft version: 1.15.2
Forge version: 31.2.36
Optifine version: 1.15.2_HD_U_G1_pre30
GPU: MSI Radeon RX 580 ARMOR OC (4GB)

I was placing down some polished stone slabs to extend a new bridge to an abandoned city (lost cities mod) when the game crashed to desktop.

The crash was consistent for that particular chunk in subsequent attempts to finish the bridge. The one time the crash didn't happe

[2020-08-27 05:48] FSwordFoxA commented on #111
Disabling tessellation for javaw (aka "the game") through the Radeon Software panel does not resolve the issue.

Using Optiforge to increase Optifine's compatibility with Forge 31.2.36 doesn't resolve the crash. All it did was allow me to place down a few more slabs before it crashed.

Disabling Optifine or DoubleSlabs obviously resolves the crash.

[2020-08-28 19:13] WenXin20 opened #112 "Compat w/ Block Carpentry"
[Block Carpentry](https://www.curseforge.com/minecraft/mc-mods/blockcarpentry) is a new mod recently released for 1.15.2 that adds a slab that can be placed horizontally or vertically and take on the texture of any block when right-clicked with said block. Is support for this mod possible?

[2020-08-29 02:52] FSwordFoxA commented on #111
Further investigation suggests that this may have been triggered by Optifine 1.15.2_HD_U_G1_pre30 not having support for Forge versions newer than 31.2.21.

So it is either disable Optifine, disable Double Slabs, or run an older version of Forge _**and**_ disable any mods that aren't compatible with said older forge version.

This feels like an Optifine issue now, as they are still focused on 1.16

[2020-09-01 06:28] OiJockey commented on #110
Any update on this bug?

[2020-09-06 02:33] rwallac opened #114 "Crash with vertical slabs on Create contraption"
I found this crash while playing Valhelsia Origins, I had a vertical slab on a Crate contraption, as soon as I activated it, my game crashed, and every time I log into the server or another player goes near by, we are crashed out

[crash-2020-09-05_22.03.02-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/5178991/crash-2020-09-05_22.03.02-client.txt)

[2020-09-06 02:33] HonestAngel opened #115 "Tesselating block model"
Forge 1.16.2 33.0.37

I was trying to remove a side oak slab with a stone axe...

---- Minecraft Crash Report ----
// Sorry :(

Time: 9/5/20 7:28 PM
Description: Tesselating block model

java.lang.NullPointerException: Tesselating block model
	at cjminecraft.doubleslabs.client.util.SlabCacheKey.equals(SlabCacheKey.java:82) ~[?:3.4.0] {re:classloading}
	at com.google.common.base.Equivalence$Equals.

[2020-09-06 12:49] CJMinecraft01 commented on #115
Thanks for the report, this is now fixed in the latest version :)

[2020-09-06 12:49] #115 closed, assigned to nobody

[2020-09-09 00:42] jellyman552 opened #116 "Do not put a slab on top of a campfire (Within the same block)"
It crashes the server and causes an "Exception Ticking World" error.

[2020-09-09 07:07] CJMinecraft01 commented on #116
Could you provide the console log please? Also, which mod and Minecraft version are you using? Thanks

[2020-09-09 14:41] CJMinecraft01 commented on #110
This should hopefully be fixed in the latest version :)

[2020-09-09 14:42] CJMinecraft01 commented on #114
This should be fixed in the latest version :) Sorry for the delay

[2020-09-09 14:42] #114 closed, assigned to nobody

[2020-09-09 16:05] CJMinecraft01 commented on #112
Added in the latest version :)

[2020-09-09 16:05] #112 closed, assigned to nobody

[2020-09-09 16:05] CJMinecraft01 commented on #111
Can you try this in the latest version please?

[2020-09-09 16:05] #110 closed, assigned to CJMinecraft01

[2020-09-09 16:06] CJMinecraft01 commented on #105
Should be fixed in the latest version :)

[2020-09-09 16:06] #105 closed, assigned to CJMinecraft01

[2020-09-09 17:22] Bass2style opened #117 "[crash] [1.15.2] crash when initialising game."
Hi,

my game is crashing when loading a modpack with the actual latest update of the mod.

forge version : 31.2.36
mod version : DoubleSlabs-1.15-2.11.1

crashlog :
https://pastebin.com/ui02rj8Z
https://pastebin.com/nb2TwD37

have a nice day.

[2020-09-09 18:35] emanuele246gi opened #118 "Crash while trying to enter the world"
https://pastebin.com/dp8uZwdh

Here is all of what I can do

[2020-09-10 12:06] #118 closed, assigned to CJMinecraft01

[2020-09-10 13:12] AugustLandmesser8 opened #119 "Possible Incompatibility with WorldEdit"
GreenTartan35 on CurseForge:
Vertical slabs, when being attempted to be rotated by the WorldEdit //rotate command, led the game to crash.
Moreover, the unsuccessfully rotated vertical slabs' icons cannot be properly displayed by HUD as well.
Caused highly likely by DoubleSlab's current **incompatibility with WorldEdit**.

----------------------------------------------------------------------------

[2020-09-10 19:28] Bass2style commented on #117
Hi,

it's still crashing with 2.11.2 version, it seems identical than the two others, but here is the crashlog : https://pastebin.com/E5eCQj1h

idk if it's impacting, but here is my modlist, if that can help : https://pastebin.com/7vb90iQb

edit :
i've tryed with only JEI/ToP/JourneyMap/MaEssentials + DoubleSlabs, and it's running correctly, so, another mod seems conflicting.
edit 2 :
crashlogs ta

[2020-09-10 20:15] CJMinecraft01 commented on #117
Do you have a modpack link so I can download and test it more easily please?

[2020-09-10 21:31] Bass2style commented on #117
it's a custom pack, but i can create an instance with my launcher. i'm doing this now.

edit : posted it on my Mega, but i can share it elsewhere if needed : https://mega.nz/file/ylhVRQAL#Wwvdr1_HoDhWjm1UTLCR_ZlWs4ekZNtmZ5BMnG757cU

[2020-09-11 11:22] CJMinecraft01 commented on #102
Fixed in the latest version

[2020-09-11 11:22] #102 closed, assigned to CJMinecraft01

[2020-09-11 11:24] CJMinecraft01 commented on #100
This should be entirely fixed in the latest versions :)

[2020-09-11 11:24] #100 closed, assigned to CJMinecraft01

[2020-09-11 11:24] #98 closed, assigned to nobody

[2020-09-11 12:05] #117 closed, assigned to nobody

[2020-09-11 12:05] CJMinecraft01 commented on #117
Should be fixed in the latest version :)

[2020-09-11 17:19] Bass2style commented on #117
my pack is running with the last version, thanks for the support.

[2020-09-13 14:34] mrdeadlocked opened #120 "SMP crash 1.15.2"
Getting random crashes on newest version of double slabs (DoubleSlabs-1.15-2.11.4.jar). Running modpack TNP2 Version 2.2.0.

https://gist.github.com/mrdeadlocked/4f1398a6cb76bfd6c6330f169013914f Here's gist and I have attached the file.

[crash-2020-09-13_10.25.53-server.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/5214280/crash-2020-09-13_10.25.53-server.txt)

[2020-09-14 07:46] Bass2style opened #121 "[1.15.2] double bug with vertical slabs."
Hi,

i actually found two bugs with the vertical slabs,

the first one is that you can't mine vertical slabs back, when you break it, it's disappearing. (you get some back in some strange conditions.

the second one, is that when you craft a vertical slab, and place it, you can place it in an infinite amount when placed on a wall. (but it's used when placed on the floor)

i recorded those behavior

[2020-09-14 11:19] CJMinecraft01 commented on #121
Hi! Thanks for reporting this. I have discovered how to fix the issues and will post a new version as soon as possible :)

[2020-09-14 14:18] progz opened #122 "1.11.1 not working with Forge 28.2.0"
Hi,
I use your mod in this modpack : https://www.curseforge.com/minecraft/modpacks/zoo-de-lucyd

I try to update your mod at the last version : 1.11.1 but it's not working
Instant crash at launch.

The error is :
`Time: 9/14/20 3:01 PM
Description: Rendering overlay

java.lang.NoClassDefFoundError: net/minecraftforge/client/model/QuadTransformer
	at cjminecraft.doubleslabs.client.model.VerticalSla

[2020-09-14 16:30] #120 closed, assigned to nobody

[2020-09-14 16:30] #121 closed, assigned to CJMinecraft01

[2020-09-14 20:27] Bass2style commented on #121
Hi,

great and quick support, trying the update when i have a bit of time.

thanks for support.

[2020-09-14 21:21] FSwordFoxA commented on #111
So far so good. I'll continue tests on and off to see if it is truly resolved.

[2020-09-15 10:42] CJMinecraft01 commented on #122
Please try updating to the latest forge for 1.14 as I believe the class which is missing is present in that version (that's the version I used when compiling the mod)

[2020-09-15 19:08] gerb82 opened #123 "Weird crash on autobreaking of a slab"
Whenever i try to break a vertical slab with an engineer's decor small block breaker, the game dies

double slabs - 2.11.5
forge - 31.2.36
engineer's decor - 1.1.2
mc - 1.15.2
modpack - valhesia 2.2.8a with a few extra unrelated mods

crash log:
[crash-2020-09-15_21.59.54-server.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/5227198/crash-2020-09-15_21.59.54-server.txt)

totally didn't fi

[2020-09-16 14:12] A-T-L-A-S opened #124 "Crafting override"
Double slabs seem to override any crafting recipe that includes just one slab. Meaning if there is exactly one slab in the crafting the result will always be its's vertical variant; no matter which other items are present.

![grafik](https://user-images.githubusercontent.com/39281662/93348919-1e17fe00-f837-11ea-8582-f5ce5eb7aaef.png)

Minecraft version: 1.15.2  forge-31.2.36
Mod version: DoubleSla

[2020-09-16 14:49] gamrguy opened #125 "Vertical Slab recipe allowing arbitrary inputs"
The Vertical Slab special recipe doesn't abort if it finds anything that isn't a slab, so you end up with nonsense like this:
![image](https://user-images.githubusercontent.com/577969/93353238-b0a1a880-f809-11ea-9755-2ea385a5d516.png)
The user who reported this on the Create discord claimed it only occurred with Create items in the recipe, but the code would indicate this is a much more general bu

[2020-09-16 14:56] gamrguy commented on #125
Closed as duplicate of #124. Oops.

[2020-09-16 14:56] #125 closed, assigned to nobody

[2020-09-16 14:59] gamrguy commented on #124
According to the code, this would be because the recipe doesn't abort when checking the crafting inventory for valid slabs. I don't know why this would only trigger with Create items for you - it would seem as if this would happen in any arrangement where there is any number of crafting inputs but only one valid slab stack.

The relevant code, from what I can tell, is here: https://github.com/CJMi

[2020-09-16 15:03] CJMinecraft01 commented on #124
Hi, thanks for the issue and the responses. It seems that @gamrguy is correct in that the recipe does not check for any invalid items apart from multiple stacks which is an oversight on my behalf, sorry about that. I will get that patched and updated as soon as possible. Sorry for the inconvenience.

[2020-09-16 18:23] #124 closed, assigned to nobody

[2020-09-16 18:23] CJMinecraft01 commented on #124
Fixed in the latest version. Thanks for your patience

[2020-09-16 19:49] A-T-L-A-S commented on #124
WOW - That was fast! 🤩 Thank you so much

[2020-09-17 08:38] #123 closed, assigned to CJMinecraft01

[2020-09-17 08:38] CJMinecraft01 commented on #123
Fixed in the latest version :)

[2020-09-17 09:01] CJMinecraft01 commented on #119
Hi! Thanks for the bug report. From further investigation, it appears that this issue is a duplicate of #109 and #107 so please follow the issue there. Whilst the issue occurred under a different scenario, it crashes on the same function so will be fixed at the same time :)

[2020-09-17 09:01] #119 closed, assigned to CJMinecraft01

[2020-09-17 09:01] CJMinecraft01 commented on #109
Hi! Thanks for the bug report. From looking into this further, it appears that this issue is a duplicate of #119 and #107 so please follow the issue there. Whilst the issue occurred under a different scenario, it crashes on the same function so will be fixed at the same time :)

[2020-09-17 09:01] #109 closed, assigned to CJMinecraft01

[2020-09-17 09:06] #122 closed, assigned to nobody

[2020-09-17 09:06] #111 closed, assigned to CJMinecraft01

[2020-09-17 09:06] #116 closed, assigned to CJMinecraft01

[2020-09-17 12:08] inconnu2000 opened #126 "duplication glitch"
[https://imgur.com/a/KTlfXwM](url)

I tested this on the latest forge update and without any other mod on 1.16.2

[2020-09-17 15:39] halvors commented on #101
+1 I am also experiencing this issue, would be great if i could continue to use this with Optifine :)

[2020-09-17 17:24] CJMinecraft01 commented on #126
Hi, thanks for the report. The link doesn't seem to be working :)

[2020-09-18 00:10] inconnu2000 commented on #126
![bug double slab](https://user-images.githubusercontent.com/57439253/93540477-11d59300-f954-11ea-97b3-d08f5f34d0c2.gif)
Hope this will work this time :)

[2020-09-18 08:14] CJMinecraft01 commented on #126
Are you on the latest version as I thought I had fixed this issue? (I had spotted it myself just after release)

[2020-09-18 13:11] inconnu2000 commented on #126
![Capture d’écran 2020-09-18 150835](https://user-images.githubusercontent.com/57439253/93601089-ee94fd00-f9c0-11ea-9c16-2575a7653890.png)
it's the latest for 1.16.2

[2020-09-18 13:56] CJMinecraft01 commented on #108
This should be fixed in the latest version :)

[2020-09-18 13:56] #108 closed, assigned to CJMinecraft01

[2020-09-18 13:57] CJMinecraft01 commented on #107
This should be fixed in the latest version :)

[2020-09-18 13:57] #107 closed, assigned to CJMinecraft01

[2020-09-18 13:58] CJMinecraft01 commented on #101
Do you have render regions enabled?

[2020-09-18 14:04] CJMinecraft01 commented on #126
Fixed in the latest version :) Sorry about that :)

[2020-09-18 14:04] #126 closed, assigned to nobody

[2020-09-18 14:41] KenyMylankca opened #127 "Juts placed a vertical slab and it crashed"
[crash-2020-09-18_17.40.09-server.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/5246156/crash-2020-09-18_17.40.09-server.txt)

[2020-09-18 14:45] CJMinecraft01 commented on #127
Do you have a link to the modpack you are playing on so I can see if I can recreate this issue?

[2020-09-18 14:57] KenyMylankca commented on #127
[crash-2020-09-18_17.55.40-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/5246240/crash-2020-09-18_17.55.40-client.txt)
and here's another crash that says it crashes with snow real magic mod
yes i do have a [modpack](https://github.com/KenyMylankca/kenijeys-modpack) that i'm working on for years

[2020-09-18 14:58] KenyMylankca commented on #127
and the place i placed thr vertical slab was snowy.

[2020-09-18 14:59] CJMinecraft01 commented on #127
Thanks, I'll take a look and see what I can do :)

[2020-09-18 14:59] KenyMylankca commented on #127
thank you too

[2020-09-18 15:05] KenyMylankca commented on #127
and here's a few more crash reports i just got. i placed vertical slabs on sand(beach) and bla bla
and last time it crashed when i place regular slab(oak wood planks)
[crash-2020-09-18_18.03.09-server.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/5246314/crash-2020-09-18_18.03.09-server.txt)
[crash-2020-09-18_18.03.08-server.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/5246315

[2020-09-18 19:13] BluEagle-Dev commented on #107
Ok, thank you SO much! I can't live without this mod

[2020-09-19 02:54] WenXin20 opened #128 "Compat w/ Windowlogging Mod"
`Minecraft v1.15.2`
`Forge v31.2.36`
`Double Slabs v2.11.7`
[`Windowlogging v0.0.1`](https://www.curseforge.com/minecraft/mc-mods/windowlogging)

If I add the `doubleslabs:vertical_slab` to the `windowlogging:windowable` tag, I will be able to combine a glass pane with the vertical slabs, but the vertical slab will then have a missing texture. If I then break the glass pane, the vertical slab chan

[2020-09-19 11:27] LordGrimmauld commented on #128
I fixed the nbt resetting (will be released soon), the rendering will need a rework on both sides. I will try to get it working and open a PR to this mod when done.

[2020-09-19 15:21] LordGrimmauld commented on #128
Correction: this works without any modifications to double slabs mod, therefore i believe the issue on this issue tracker is closeable.
Tested: 0.0.2 windowlogging, which i am working on right now.

[2020-09-19 16:40] WenXin20 commented on #128
Alright, thanks!

[2020-09-19 16:40] #128 closed, assigned to nobody

[2020-09-19 20:30] WenXin20 opened #129 "Turf Slabs Losses Tint"
`Minecraft v1.15.2`
`Forge v31.2.36`
`Double Slabs v2.11.7`

The turf slabs from Quark will lose their tint if placed as a double slab or vertically.

[2020-09-19 20:54] CalaMariGold opened #130 "Server crash (1.12.2)"
[crash-2020-09-19_16.52.11-server.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/5250590/crash-2020-09-19_16.52.11-server.txt)
[latest.log](https://github.com/CJMinecraft01/DoubleSlabs/files/5250591/latest.log)

[2020-09-20 04:53] WenXin20 opened #131 "Raised campfire doesn't display with Hwyla"
`Minecraft v1.15.2`
`Forge v31.2.36`
`Double Slabs v2.11.7`

The raised campfire doesn't show any information with Hwyla, and the double vertical campfire in Hwyla says the block is vertical air. Just a minor bug.

[2020-09-20 12:39] #129 closed, assigned to CJMinecraft01

[2020-09-20 18:21] dimasasus opened #132 "Visual Bug [1.15.2]"
When placing 2 different double vertical slabs near other vertical slabs some of the textures don't render properly. This only happens when two different slabs are placed together in one block and only affects textures of the slab that has been placed  first. Horizontal slabs don't have/cause this issue. I do use optifine, however disabling it or changing any options doesn't solve the problem.
![2

[2020-09-21 08:40] halvors commented on #101
@halvors Yes, is that the issue?

[2020-09-21 17:56] WenXin20 opened #134 "LOTR needs updated compat"
`Minecraft v1.15.2`
`Forge v31.2.36`
`Double Slabs v2.11.8`
[`Lord of the Rings Renewed v2.1.2`](https://www.curseforge.com/minecraft/mc-mods/the-lord-of-the-rings-mod-renewed)

The mod just had an update that rewrote their vertical slab placements, so now whenever I try to place a lotr slab vertically, this happens everytime:

![2020-09-21_12 49 55](https://user-images.githubusercontent.com/12000

[2020-09-21 18:06] WenXin20 commented on #49
Forgot to check until now, the Poise Vertical Slab and the Eumus Brick Vertical Slab from Endergetic cannot be made into a double slab. And is support for Cubic Villager mod possible?

[2020-09-21 18:16] WenXin20 opened #135 "Vertical Slabs from other mods can't be doubled"
`Minecraft v1.15.2`
`Forge v31.2.36`
`Double Slabs v2.11.8`

I cannot combine two vertical slabs, such as from quark or other mods, together to make a double slab. A normal horizontal slab has to be used to convert the quark vertical slab into a double slab block.

Also, if a quark vertical slab is converted into a double slab block, the break animation is off.

![2020-09-21_13 11 16](https://user

[2020-09-21 22:21] iiKraze opened #136 "Vertical Campfire & Soul Campfire Always Lit"
Vertical **campfires** & **soul campfires** can't be extinguished using **lingering water bottle** like you can with normal campfires

[2020-09-22 03:20] Vaelzan opened #137 "[1.15.2] DoubleSlabs is triggering the creation of infinite threads + instances of ServerWorld."
DoubleSlabs 1.15.2-2.11.7 (didn't see any relevant changes in 2.11.8 that would render this report invalid though)
Forge 31.2.41

BlockInfo's setWorld is creating a new ServerWorldWrapper (with new threads) every time it is called. This happens over and over again until the server crashes, in the example below after creating about ten thousand threads.

Crash Report:
https://gist.github.com/Vaelza

[2020-09-24 12:37] CJMinecraft01 commented on #132
Hi, thanks for the report! I've tried to reproduce this myself and can't seem to do so. Have you tried reloading the textures?

[2020-09-26 23:58] WenXin20 commented on #131
I've just noticed that the raised campfire doesn't drop when mined and doesn't damage the player when doubled.
Breaking animation is in the wrong spot (similar to my other report).
It also has a culling issue when it's facing north/east and placed vertically.

[2020-09-29 05:02] TrueDakkon opened #138 "Phantom Vertical Slabs Causing Game to Crash"
When placing vertical slabs in a creative world and then breaking them I noticed that the game kept freaking out and bringing back slabs I had just broken or was showing the collision box for a slab that wasn't there. It would even go so far as to override slabs with those that had been placed in the location prior. Continuing to try and place and break slabs eventually resulted in my game crashin

[2020-09-29 13:49] TacoLite commented on #127
I've also experienced a crash similar to this on a beach, with the snow real magic mod and the quark mod installed. I attempted to place a vertical slab onto sand covered snow and the game immediately crashed.

Here's a pastebin: https://pastebin.com/fYZmrq3c

[2020-09-29 14:06] KenyMylankca commented on #127
yeah PLEASE fix this asap... thanks!

[2020-09-30 01:45] ShyZShark commented on #49
Placing a vertical slab from Natura, on grass, causes a crash.

Minecraft 1.12.2
Forge 14.23.5.2854
Biomes O' Plenty 7.0.1.2441
Double Slabs 0.11.0
Mantle 1.12.1-3.3.55
Natura 1.12.2-.4.3.2.69

Reproduction:
1 Find a block directly adjacent to grass.
2 Place a Maple Slab from Natura down, on the side face on the block, where it would normally delete the grass block.
3. Immediate results, crashes t

[2020-10-02 13:31] HauntedSniper opened #139 "Minecraft just keeps asking for more RAM."
**So, here's the thing. I was making a mansion and everything was neat, but then I wanted to duplicate the mansion with WorldEdit and it crashed the game (well froze and then I had to close the game).
That was weird since I had copied a bigger pyramid before and nothing happened then, I then tried to copy and paste with Building Gadgets, and it did paste, but the game kept freezing every second.

[2020-10-03 11:13] xelotex opened #140 "crash between double slabs and battle towers mod."
---- Minecraft Crash Report ----
// I bet Cylons wouldn't have this problem.

Time: 2020-10-03 04:52:52 CST
Description: Ticking entity

java.lang.IllegalArgumentException: Could not get provider type for dimension 7, does not exist
    at net.minecraftforge.common.DimensionManager.getProviderType(DimensionManager.java:164)
    at net.minecraftforge.common.DimensionManager.createProviderFor(Dimens

[2020-10-07 01:00] WenXin20 commented on #112
The mod update their slab placement logic and is now crashing in the latest version according to this bug report: PianoManu/BlockCarpentry#12

[2020-10-07 09:06] Won-Ton commented on #137
This mod creates a [new ServerWorld](https://github.com/CJMinecraft01/DoubleSlabs/blob/e908bfffb0e6680d61f7ad86364565c5da901812/src/main/java/cjminecraft/doubleslabs/api/BlockInfo.java#L108) and all the resources that go along with it for every vertical slab that gets placed. [Twice...](https://github.com/CJMinecraft01/DoubleSlabs/blob/1.15.x/src/main/java/cjminecraft/doubleslabs/common/tileentity

[2020-10-07 20:32] xAlicatt commented on #112
Hello there! I'm still getting this crash with version 2.11.8 of Double Slabs and 0.8.1 of Block Carpentry

Report: https://paste.ee/p/tBH73

[2020-10-08 16:29] WenXin20 opened #141 "Registry Crash"
`Minecraft v1.15.2`
`Forge v31.2.36`
`Double Slabs v2.11.8`
[`Vanilla Magic v2.0.2`](https://www.curseforge.com/minecraft/mc-mods/vanilla-magic)

Most of the time when trying to launch the game, my game crashes after less than a minute of loading. Seems to happen more if vanilla magic is installed?
[Crash Report](https://gist.github.com/WenXin20/dd7eae4e1719485109908645f9bb9290)

[2020-10-09 06:24] Sejoslaw commented on #141
Seems like DSBlocks.DOUBLE_SLAB.get() returns null.

https://github.com/CJMinecraft01/DoubleSlabs/blob/1.15.x/src/main/java/cjminecraft/doubleslabs/client/proxy/ClientProxy.java#L96

[2020-10-09 17:53] Tim-Rambo opened #142 "DoubleSlabs crashes my modpack when its installed."
https://pastebin.com/7GyrmbNG

Lemme know asap for what extra info ya need thanks

Kind Regards
TimRambo

[2020-10-09 18:44] CJMinecraft01 commented on #142
Hi, sorry, the pastebin link doesn't seem to be working..

[2020-10-09 20:15] Tim-Rambo commented on #142
oh, i forgot to change the option on pastebin i made it destroy itself after 1hour ups.
here is a new one and it wont destroy itself 👍
https://pastebin.com/0ExkgFZh

[2020-10-11 14:33] Communos opened #143 "Client crash after destroying vertical stone brick slab"
As stated in the title, the game crashed after breaking a vertical stone brick slab. Wasn't the first time this happened while playing on a server. Game Version is 1.16.2 , mod version is "DoubleSlabs-1.16-3.4.10"
[crash-2020-10-11_16.17.41-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/5361258/crash-2020-10-11_16.17.41-client.txt)

[2020-10-12 20:11] ashton727 opened #144 "Game Crashes when placing slabs/destroying slabs"
Crash report: https://pastebin.com/vxWj4W7D

Not sure if it a mod conflict, but the game consistently crashes when placing or destroying slabs especially vertical slabs and double layered slabs

[2020-10-12 20:12] ashton727 commented on #143
I saw you have KleeSlabs in your mods, DoubleSlabs already has this feature, and could be the problem

[2020-10-12 20:16] ashton727 commented on #138
Had a similar issue

[2020-10-12 23:56] wcsorrow opened #145 "raised campfire/soul campfire causing crash"
I've tried solving on my own, but I don't understand how blacklisting works or if that would even help in this case. double slabs worked fine when we first started the server two days ago, but now i cant even connect to the other players server because of a registry sync failure being caused by those raised campfires/soul campfires. we tried older and newer versions of doubleslabs, but im honestly

[2020-10-13 01:10] WildKarrade opened #146 "JEI block render crash"
When flipping through the pages in JEI the client crashes with the following log consistently when it renders the doubleslabs blocks.

https://pastebin.com/G02HsTQz

[2020-10-14 01:43] mlysle commented on #144
I have basically the same crash with the same error. My world is now broken because of it.
Unfortunately I can't share the crash log because my log is so long that it exceeds the maximum file size on pastebin/hastebin.

edit: I can confirm this only happens in BoP worlds. Doesn't matter the biome, the world has to be generated with BoP.

[2020-10-14 16:08] IskallDoe commented on #144
I have the same problem has the above

[2020-10-16 14:11] disastercube opened #147 "Craftable vertical slabs"
Minecraft 1.12.2
------------------------------

Vertical slabs are currently very unstable. Issues range from crashes to various placing problems such as:
-missing textures,
-not being able to place horizontal slabs on blocks that you can interact with **(to place a block from a crafting table you'd need to shift so the UI wouldn't open, but with the config "sneaking" option, such things are not

[2020-10-17 02:21] Tim-Rambo commented on #142
Hello have you checked my log?
Ive updated the pastebin now 👍

[2020-10-17 07:08] Vaelzan commented on #142
Have you tried using Forge 28.2.23 instead of 28.2.0? The one you have is pretty ancient, even by 1.14.4 modding standards. I know it's what Forge has marked as recommended, but most mods work better on the newer builds.

[2020-10-17 07:27] Tim-Rambo commented on #142
Ive forgotten to check out DS on that forge bcs i updated my pack to that bcs thats where optifine and optiforge works thanks for the idea :D

[2020-10-17 11:35] Tim-Rambo commented on #142
It worked now bcs i am on latest forge version. Thanks for the response.

[2020-10-17 11:35] #142 closed, assigned to nobody

[2020-10-17 12:40] Communos commented on #143
Didn't know DoubleSlabs also has this feature. Thanks for letting me know.

[2020-10-17 12:40] #143 closed, assigned to nobody

[2020-10-21 23:30] PutridNonsense opened #148 "Mod seems to cause a ticking entity error"
MC Version: 1.12.2
Forge Version: 14.23.5.2854
Mod Version: 0.11.0

This is the error that comes up when it crashes: https://i.imgur.com/TGQWtA3.png

And this is the error log: https://gist.github.com/CLMagnus/f5f481f6f1f38e3b64d6f57fb07d2358

It only crashes like this if you place down a vertical slab. Haven't tested with normal slabs from this mod yet

[2020-10-24 14:40] Tim-Rambo opened #149 "[1.12.2] Server Crash"
Forge: Latest
Modpack: My Own
Mod Version: DoubleSlabs-1.12-0.11.0.jar
Using: https://magmafoundation.org
Magma Version:  Magma version 12a54a3 and i tried the v3a65e28 of magma

but the mod crashes on either 1

Just disabled doubleslabs and my server just launched and started just fine.

Magma V12
https://pastebin.com/7iHBZ0rG

Magma V3
https://pastebin.com/2FQMmb0n

[2020-10-25 12:54] SwordsAndSandals opened #150 "1.16.3 shaders issue"
i dont know why, but Shaders put "missing textures"(the purple and black squares) on mixed slabs at times. Have tried multiple shaders, but sometimes restarting the whole game fixes it.
![2020-10-25_14 52 06](https://user-images.githubusercontent.com/73429133/97107764-e885f080-16d1-11eb-943c-fc1d0f5dac6a.png)

[2020-10-26 19:43] Orinai commented on #144
Can confirm the same issue on my end. I can upload my crash log, but it's pretty much identical.

also worth noting: since the error has something to do with dim7 (same dimension twilight forest uses by default), I've noticed it causing issues with the twilight forest mod, where the twilight portal just spits me back out into the overworld as if it were the twilight forest. Removing double slabs h

[2020-10-29 21:01] WenXin20 commented on #131
With the mod [Extended Nether Backport](https://www.curseforge.com/minecraft/mc-mods/extended-nether-backport), the Soul Campfire can be doubled, but the top is orange instead of blue.

[2020-10-29 21:01] WenXin20 commented on #135
The mod Bamboo Blocks is also missing compat for it's vertical slabs.

[2020-10-30 03:26] WenXin20 opened #151 "Crash w/ Improved Stations"
`Minecraft v1.15.2`
`Forge v31.2.45`
`Double Slabs v2.11.8`
[`Improved Stations v1.3`](https://www.curseforge.com/minecraft/mc-mods/improved-stations-forge)

I got this crash after trying to combine 2 crafting station slabs together.
[Crash Report](https://gist.github.com/WenXin20/e550d0d3b7c8e1672433311988c11e15)

[2020-10-30 19:39] Altodeso opened #152 "1.12.2 crash"
it crash
[hs_err_pid5444.log](https://github.com/CJMinecraft01/DoubleSlabs/files/5467258/hs_err_pid5444.log)

[2020-11-02 05:16] PhantomH17 opened #153 "Automatically place a vertical slab on the side of blocks instead of the default horizontal slab."
I've used this mod for quite some time already. Initially everything works just fine, you can place slab like normal and when you hold shift you can place the slab vertically. However, after some time (or maybe some update?) suddenly the default slab placement is vertical. If you want to place the slab normally (horizontal), you have to press shift. Fortunately for me, there is no other problem th

[2020-11-02 18:39] enduum commented on #150
Same issue. Only happens with horizontal mixed slabs when shaderpack is enabled
![2020-11-02_13 34 23](https://user-images.githubusercontent.com/73849784/97905840-b21f2580-1d10-11eb-975c-0f77cd97b2d6.png)

[2020-11-05 03:45] Landiie opened #154 "[1.12.2] place any slab and its highly unstable, multiple crashes spammed in folder"
I placed down a slab vertically using shift+click, the first time it crashed immediately, here is the log for that: [first crash](https://pastebin.com/NW1XCDzv)

i loaded back up the pack again, and suffered the same problem, however, i had an issue with it spamming crashes when i got close (vanillafix would tell me a problem had occured, but no crash). but then i jumped on it and it gave me the s

[2020-11-05 20:37] babydabblemlp opened #155 "Crash when I try to break a verticle slab"
Here is the crash report. I cannot get into this game anymore. As soon as it loads it crashes.

[crash-2020-11-05_13.32.00-server.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/5497292/crash-2020-11-05_13.32.00-server.txt)

[2020-11-14 18:53] Paspartout commented on #139
We were having a similar problem. Using VisualVM I could determine cjminecraft.doubleslabs.common.tileentity.SlabTileEntity.func_226984_a_ () using all the cpu. I suspect that being the tick function and somehow allocating a lot of memory.

Here is a screenshot of the trace:

![grafik](https://user-images.githubusercontent.com/2720369/99154814-f916fe80-26b2-11eb-9e43-9ad1ff2e4b69.png)

I hope this

[2020-11-18 10:29] BluEagle-Dev commented on #149
i have the same problem

[2020-11-18 11:38] Ayfri commented on #149
Same.

[2020-11-20 14:19] Paspartout commented on #139
I think this might be a duplicate of issue #137

[2020-11-25 14:03] KKotik opened #156 "Player kick after placing slab on server."
[25Nov2020 16:56:43.393] [Server thread/FATAL] [net.minecraftforge.common.ForgeMod/]: Preparing crash report with UUID 4448742f-512f-425c-a657-3dcbd1589ca2
[25Nov2020 16:56:43.394] [Server thread/WARN] [net.minecraft.network.NetworkSystem/]: Failed to handle packet for /25.49.152.178:52033
net.minecraft.crash.ReportedException: Ticking player
	at net.minecraft.entity.player.ServerPlayerEntity.func

[2020-11-28 08:19] AznDanny opened #157 "Laggy frames on server"
Hello, I downloaded this mod on my server and all my friends have it downloaded. However, 1 specific person keeps dropping to 1 frames every couple seconds and my other friend keeps getting stuck at 0 frames, however I am perfectly fine. It might be because I am the host of the server, but are there any fixes to this?

[2020-11-28 12:50] Sixdd6 commented on #154
Just posting to say I had a similar crash when placing a normal slab vertically next to an identical vertical slab.
[crash-2020-11-28_06.46.11-server.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/5610601/crash-2020-11-28_06.46.11-server.txt)

[2020-11-28 21:50] TheidenHD opened #158 "Minecraft Double Slabs Electroblob's Wizardry Crash"
Crashes on startup when Electroblob's Wizardry 4.3.x is installed
https://pastebin.com/czDFkPkH
https://github.com/Electroblob77/Wizardry/issues/542

[2020-11-28 22:27] Ayfri commented on #158
Same !

[2020-11-30 16:16] whorlbinder opened #159 "1.16.4 Crash"
-- Head --
Thread: main
Stacktrace:
	at net.minecraftforge.fml.CrashReportExtender.lambda$dumpModLoadingCrashReport$7(CrashReportExtender.java:88) ~[forge:?] {re:classloading}
-- MOD doubleslabs --
Details:
	Mod File: DoubleSlabs-1.16-3.3.3.jar
	Failure message: Mod doubleslabs requires minecraft between 1.16 and 1.16.1 (inclusive)
		Currently, minecraft is 1.16.4
	Mod Version: 3.3.3
	Mod Issue UR

[2020-12-01 22:57] Kyx-001 opened #160 "Crash while loading on 1.15.2"
No other mods installed,
with error
 "The game crashed whilst initializing game
Error: java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
Exit Code: -1"

[2020-12-01 22:58] Kyx-001 commented on #160
Time: 01/12/20 22:55
Description: Initializing game

java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
	at net.minecraftforge.fml.javafmlmod.FMLJavaModLanguageProvider$FMLModTarget.loadMod(FMLJavaModLanguageProvider.java:78) ~[?:31.1] {re:classloading}
	at net.minecraftforge.fml.ModLoader.buildModContainerFromTOML(ModLoader.java:234) ~[?:?] {re:classloading}
	at net.minecraft

[2020-12-01 23:12] TheidenHD commented on #158
Ok everything i figured out so far:
cjminecraft.doubleslabs.client.ClientConstants.getFallbackModel
is only called on startup when Wizardry is installed.

Minecraft.getMinecraft().getBlockRendererDispatcher()
returns null wen it is called on startup.

Minecraft.blockRenderDispatcher
is only initialized after the Minecraft.run method is called

[2020-12-02 17:11] xemnes commented on #149
same with mohist

[2020-12-05 21:23] Charmanth commented on #155
This happened to me as well on my server.  Forge 35.1.7, mod file version 3.4.10.

[2020-12-08 02:39] BigPingo2 commented on #155
Same here. I also have to use 0.1.0.0 because 0.1.1.0 crashes my server on startup.

[2020-12-08 15:35] kreezxil opened #161 "0.11.0 crashes dedicated server Forge 1.12.2 build 2854"
Notes:
     invalid side SERVER

crash report:
https://gist.github.com/5dac13403b10ff85f701fa87bbcaa7d4

fml server latest:
https://gist.github.com/4d2a634696ac22a64fd98be1f9c013cd

[2020-12-17 15:47] TheidenHD commented on #158
https://github.com/TheidenHD/DoubleSlabs/releases/tag/0.11.1

[2020-12-17 15:48] TheidenHD commented on #144
https://github.com/TheidenHD/DoubleSlabs/releases/tag/0.11.1

[2020-12-17 15:50] TheidenHD commented on #154
https://github.com/TheidenHD/DoubleSlabs/releases/tag/0.11.1

[2020-12-17 15:50] TheidenHD commented on #155
https://github.com/TheidenHD/DoubleSlabs/releases/tag/0.11.1

[2020-12-18 18:26] zwibblTV opened #163 "Gamecrash after teleport --> Rendering Block Entity"
Im using DoubleSlabs v3.4.10 in a modpack with other mods (listed [here](https://www.technicpack.net/modpack/drugar-10.1734791))
Today, my game crashed several times after teleporting (with the portable teleporter from mekanism) back home. I have no problemes without Optifine yet.
My crashlog: [crash-2020-12-18_18.04.52-client.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/5717433/crash-2

[2020-12-19 11:22] solarsonata opened #164 "Abnormals vertical slabs have odd texture rotation"
![image](https://user-images.githubusercontent.com/24257045/102688102-50e1e180-41ec-11eb-8ec5-1a4b6dc5add2.png)
(To be clear, this is the vertical slab generated by this mod, not the separate block added by Upgrade Aquatic)

[2020-12-19 11:25] solarsonata opened #165 "When placed on another vertical slab, ender campfire becomes soul campfire"
https://user-images.githubusercontent.com/24257045/102688184-dd8c9f80-41ec-11eb-8e7c-7eccbb7ab339.mp4

[2020-12-19 19:23] SushiCrazy101 opened #166 "Slabs Maxes out Memory"
I have 16gb of ram with 8gb for minecraft. I have found that when using worldedit and stacking it maxes out memory to 100% and continuously lag spikes. Is there any chance of reducing the ram usage?

[2020-12-20 21:43] WenXin20 opened #167 "Cryptic Campfire Server Crash"
`Minecraft v1.16.4`
`Forge v35.1.13`
`Double Slabs v3.4.10`

If the Cryptic and Green Campfires from Biomes You'll Go and placed as a double slab, it becomes a Soul Campfire. Then I got a server crash when I broke the campfire while it was cooking Assorted Seeds from the Terraqueous mod.
[Crash Report](https://gist.github.com/WenXin20/45802e33616f3aa2a7ca4bfd6d6389d1)

[2020-12-23 17:46] WenXin20 opened #168 "Double Feeding Slab Error w/ Productive Bees"
`Minecraft v1.16.4`
`Forge v35.1.13`
`Productive Bees v0.5.2.1`
`Double Slabs v3.4.10`

When a Feeding Slab is made into a double slab with the Productive Bees mod installed, the gui won't open and instead prints an error.
[Error Log](https://gist.github.com/WenXin20/1855b1d51e8e1cf73caa4c6412934aad)

[2020-12-24 22:08] CJMinecraft01 commented on #139
The crash issue I believe is a duplicate of #138 and as @Paspartout has said, the RAM issue is a duplicate of #137. Please refer to those issues. Sorry for the delay in response

[2020-12-24 22:08] #139 closed, assigned to CJMinecraft01

[2020-12-24 22:12] CJMinecraft01 commented on #144
Thanks for the bug report. I'm extremely sorry in the delayed response and inactivity. I believe this crash is a duplicate of #140. Please use that issue to post further updates. Thank you again, and my sincerest apologies for the inconvenience.

[2020-12-24 22:12] #144 closed, assigned to CJMinecraft01

[2020-12-24 22:15] CJMinecraft01 commented on #145
Thank you for the bug report. Firstly may I apologise in the delayed response. I'm not too sure about what is causing this issue but will take a look as soon as I can. Thank you for your patience.

[2020-12-24 22:20] CJMinecraft01 commented on #148
Thank you for the bug report. Firstly may I apologise for the delayed response. I believe the issue you are facing is a duplicate of #140 (although a different dimension id). Please refer to that issue thread, thank you :)

[2020-12-24 22:20] #148 closed, assigned to CJMinecraft01

[2020-12-24 22:26] CJMinecraft01 commented on #150
Thank you for the bug report and sorry for the delay in response. Does this happen specifically on 1.16.3 or is this a general issue?

[2020-12-24 22:29] CJMinecraft01 commented on #153
Thank you for the report and sorry for the delay in response. There was a change in the default placement mechanism which is used in an attempt to be more intuitive. You can change this though in the client config to the original placement mechanism. Hope that helps :)

[2020-12-24 22:29] #153 closed, assigned to nobody

[2020-12-24 22:31] CJMinecraft01 commented on #154
Thank you for the bug report and sorry for the delayed response. I believe this is a duplicate of #140 :)

[2020-12-24 22:31] #154 closed, assigned to CJMinecraft01

[2020-12-24 22:34] CJMinecraft01 commented on #155
Thank you for the bug report and sorry for the delayed response. I believe this is a duplicate of #140, so sorry for the delay :)

[2020-12-24 22:34] #155 closed, assigned to CJMinecraft01

[2020-12-24 22:35] CJMinecraft01 commented on #157
Thank you for the report and sorry for the delayed response. Could you please ask the person who is dropping frames to show me their log file when this occurs to see if I can see where the issue is coming from

[2020-12-24 22:37] CJMinecraft01 commented on #159
Please try updating double slabs to a newer version. Currently I don't explicitly support 1.16.4 but aim to as soon as I can

[2020-12-24 22:37] #159 closed, assigned to nobody

[2020-12-24 22:38] CJMinecraft01 commented on #160
Thank you for the bug report and sorry for the delayed response. Please could you try updating forge to the latest version for the Minecraft version you are using. That should fix the issue you are seeing here :)

[2020-12-24 22:41] CJMinecraft01 commented on #164
Thank you for the report and sorry for the delayed response. Please try adding the block name to the lazyVerticalSlabModels list in the client config file and this issue should be resolved :)

[2020-12-24 22:42] CJMinecraft01 commented on #165
Thank you for the bug report and sorry for the delayed response. What mod is the ender campfire from please?

[2020-12-25 03:07] enduum commented on #150
It happens on 1.16.4 as well. It only happens when enabling or disabling shaderpacks and it only lasts until I relaunch the game. After restarting, the issue doesn't reappear unless I enable/disable shaderpacks again. Swapping between shaderpacks doesn't incur any issue.

[2020-12-25 09:32] solarsonata commented on #165
It's from Endergetic Expansion. No worries about the response time, there's 41 issues after all!

[2020-12-25 09:33] solarsonata commented on #164
Ah, thanks

[2020-12-30 09:34] Benedictct opened #169 "Purple and black blocks"
Hello, usually the slabs work fine, but sometimes they turn into black and purple checkered blocks. Can I fix this?

[2020-12-30 10:52] Sixdd6 opened #170 "Client cannot connect to server with 0.11.1"
Continuation from #154, new version posted there, poster does not allow issues on their fork so I'm hoping they see this here.

When trying to connect to a server with 0.11.1 I get the following in server log and cannot connect to server:

[code]
Full log is attatched: [latest.log](https://github.com/CJMinecraft01/DoubleSlabs/files/5753943/latest.log)

[2020-12-30 13:26] TheidenHD commented on #170
This is an incompatibility betwent DoubleSlabs and OpenTerrainGenerator.

[2020-12-30 13:28] Sixdd6 commented on #170
Yes, I figured as much from reading the log. I'm hoping it's something that can be fixed since previous versions of DoubleSlabs have no issue with OTG.

[2021-01-01 21:31] WenXin20 opened #172 "Compat w/ Assorted Decor"
[Assorted Decor](https://www.curseforge.com/minecraft/mc-mods/assorted-decor) adds a Colorizer Slab, which can be textured with any block using the Colorizer Brush, but this doesn't work with Double or Vertical Slabs.

[2021-01-04 21:39] YannickGTHD commented on #166
I got problems with high RAM-Usage too, it fills up slowly, like a memory leak or something. Also unsing Optifine.
Happens on both versions 1.16.3 and 1.16.4 on different Servers

[2021-01-05 16:21] ghost opened #173 "1.12.2 Could not get provider type for dimension 6, does not exist"
Hi,

So i'm currently making a Modpack and used your Mod in it.

While it worked completely fine at the start, it suddenly crashed after placing an ebony slab from forestry as a vertical slab and the log showed **Could not get provider type for dimension 6, does not exist**

And i started researching about that error: usually it happens, when there are two mods with Dimensions that have the same I

[2021-01-12 23:45] WenXin20 opened #175 "Scaffolding Slab"
The scaffolding slab from the [Transport](https://www.curseforge.com/minecraft/mc-mods/transport) mod doesn't work correctly when Double Slabs is installed. It should act like normal scaffolding, climbable, nonsolid, and all break in a chain. It also does not render correctly when placed vertically next to other blocks.

[2021-01-13 19:03] Bass2style opened #176 "[1.16.4] crashing when breaking slabs, or placing slabs back."
Hi,

i'm expecting crashes that "breaks" the map when breaking a slab entangled into another type (not tested on same slabs type to be honest)
tested on both server and client.

**_client only_**

when breaking, the client is crashing the "client" with an "Unexpected Error", when i launch the pack, and run the same map, there is a "broken texture block", and few seconds later, the game is crashing

[2021-01-22 11:20] Pikabyte opened #177 "Client crash when using vertical slabs on a Create windmill"
I've isolated the crash on 1.16.4 forge 35.1.37, but the crash still occurs on 1.16.5 forge 36.0.0

Steps to reproduce:
-add a vertical slab onto a Create windmill and activate the windmill bearing

This also instantly crashes anyone who connects to a server when a windmill has a vertical slab in it. I'll also post an issue on create's github in case this isn't something you can fix. If this is on

[2021-01-29 03:56] TheTedder commented on #161
I'm getting the same error. Here it is even with foamfix's coremod disabled. https://pastebin.com/MRFm7rUx

[2021-02-04 04:04] mactso opened #178 "Crash Bug: update.json messed up on line 38, missing comma"

[2021-02-07 06:55] JeanetJules commented on #177
This also happens when creating a "train" using minecart coupling !

[2021-02-14 12:10] NerelTeC opened #179 "Server crush caused by DoubleSlabs 1.12.2"
[crash-2021-02-14_14.48.25-server.txt](https://github.com/CJMinecraft01/DoubleSlabs/files/5977662/crash-2021-02-14_14.48.25-server.txt)

[2021-02-21 12:51] 9alexyt5 commented on #166
I have the same problem when using slabs ram raises from 2~Gb to 4Gb used.I also use optifine.

[2021-03-07 04:16] Sakuzabi commented on #166
I have the same issue. Memory starts at 61%, fills up by 1% every second, freezes shortly when it reaches 78%, then goes back to 61% and then it repeats. I had this problem before using Optifine and while using it. I don't think that installed or allocated RAM is related at all because I used this mod a while back for 1.15 with 2gb RAM allocated and did not experience this. This also seems to occu

[2021-04-05 21:36] Gebroeders-S opened #180 "Mod maxes out memory"
After a while of using this mod, it started using up my memory increasingly until I suffered severe lag spikes every 2 seconds or so. Is there a fix for this?

by the way, this happened while I allocated up to 10GB.

[2021-04-13 08:33] #178 closed, assigned to nobody

[2021-04-13 08:33] CJMinecraft01 commented on #178
Should be fixed now. Sorry for the delay

[2021-04-13 14:24] CJMinecraft01 commented on #166
Thanks for your patience, I've just released a new beta version of the mod for 1.16 which attempts to address this performance issue. If anyone is willing to test that this does indeed improve performance (from my testing I had ~100 vertical slabs which used ~2GB of RAM on 3.4.10. On 3.4.5rc1, this went down to ~600MB - 1GB). If this fix does indeed improve performance, I will then backport the ch

[2021-04-13 14:27] CJMinecraft01 commented on #180
Duplicate of #166. Please refer to that issue :)

[2021-04-13 14:27] #180 closed, assigned to nobody

[2021-04-13 21:04] lyricalreverie commented on #166
The problem is that every slab tile entity contains two instances of `cjminecraft.doubleslabs.api.BlockInfo` which is instantiating new `ServerWorldWrapper` or `WorldWrapper` objects which inherit from `ServerWorld` and `World` respectively. This is, among other things, triggering a cascade of events as other mods attach their capabilities to the new world objects. Slabs should at least be sharing

[2021-04-14 07:33] CJMinecraft01 commented on #166
Hi, thanks for the response. You are entirely correct that is the source of the performance issues. The main issue I was trying to address was tricking the slabs to think that they are the only block in that space so that for example slabs with tile entities have less issues and get the expected tile entity and state when they use the `getTileEntity` and `getBlockState` method from `World`. I was

[2021-04-14 08:48] CJMinecraft01 commented on #176
Hi, thanks for the report and apologies for the delayed response. Could you try pressing F3 and showing me what is on the right hand side of the text? (It should say what slab is the positive block and what slab is negative). Thanks and again sorry for the delay

[2021-04-14 08:49] #164 closed, assigned to nobody

[2021-04-14 10:43] Bass2style commented on #176
Hi,
no problèm with delay, most of modders do mods on theyr free time, and it's not always possible to be active. ^^

i can do that, i saw that an update came out yesterday, i'm trying with this one to see if it's still happening, and i update this reply when done. ^^

[2021-04-14 10:54] CJMinecraft01 commented on #176
Alright thank you! The update yesterday may potentially fix this issue (although I made it to address the performance issue with the mod). Thanks for your understanding :)

[2021-04-14 10:58] Bass2style commented on #176
on a single player world, it seems working now, i should try on my server build to see if it seems fixed on it.

edit : it seems also working on server now. ^^

i'm going to try with the old version by curiosity, but yesterday's update seems ok. :D

edit2 : i can confirm that the previous version is cursed. xD i placed few slabs and server crashed for stack overflow. xD but the new one seems OK.

[2021-04-14 14:23] CJMinecraft01 commented on #176
Fantastic! Glad to hear it's fixed! I'll leave the issue open probably for a day or so in case the issue reoccurs :)

[2021-04-15 08:07] #176 closed, assigned to CJMinecraft01

[2021-04-20 06:57] Helloua4 opened #181 "[1.16.5] Ticking block crash. Soul Campfire on hopper."
Placing a Soul Campfire on a hopper made my solo game crash, and wouldn't let me back in.
I have 52 mods installed but the crash report indicated a problem with this mod specifically. (see report below)
The game crashed as soon as I place the campfire, and the coordinates in the report confirm it to be the cause of the ticking block.

Fortunately, deleting the mod altogether resolved the ticking b

[2021-04-20 08:06] CJMinecraft01 commented on #181
Hi, thanks for reporting this issue. I am aware of this but fixing this may take longer than I expected. The version you are currently using is an experimental pre release version which aims to improve the performance of the mod. To improve so, I had to change how the mod interacts with tile entities and unfortunately this issue has arose because of that change. I recommend switching back to the p

[2021-04-20 08:31] Helloua4 commented on #181
Thanks for the quick reply.
Very understandable, no worries.

I've installed the previous version (DoubleSlabs-1.16-3.4.10 I believe) and it's seems to be working splendidly.
Thanks again.

[2021-04-20 08:31] #181 closed, assigned to CJMinecraft01

[2021-04-20 11:58] SHXRKIEgg opened #182 "Vertical Campfire crashing game 1.16.5 latest"
Hi, are you able to fix this issue?
Description: Ticking block entityDescription: Ticking block entity
java.lang.IllegalArgumentException: Cannot get property BooleanProperty{name=lit, clazz=class java.lang.Boolean, values=[true, false]} as it does not exist in Block{doubleslabs:vertical_slab} at net.minecraft.state.StateHolder.func_177229_b(SourceFile:95) ~[?:?] {re:mixin,re:classloading,pl:mixin

[2021-04-21 16:56] enduum opened #183 "Placing a campfire on top of a lower slab causes a crash *and breaks the save*"
Using DoubleSlabs version 3.5.0c1, placing a vanilla campfire or soul campfire on top of any lower slab causes a freeze and then a crash. I haven't tried _every_ slab in the game but I've tested with a large variety of vanilla and modded slabs and it has crashed with every single one.

**It also breaks the save game with the crashed campfire.** Trying to load into that world later causes another f

[2021-04-28 08:22] ghost opened #184 "Vertical Corners Are Invisible (1.16.5)"
When two different slabs are vertical and used in corners, it shows as invisible. I have only this mod on.

![2021-04-28_01 10 32](https://user-images.githubusercontent.com/83337735/116370257-10f4c180-a7bf-11eb-97ba-e6f3d4186c55.png)
![2021-04-28_01 10 37](https://user-images.githubusercontent.com/83337735/116371169-fd962600-a7bf-11eb-9873-cc0db7ff511e.png)
![2021-04-28_01 10 51](https://user-imag

[2021-04-28 08:30] ghost commented on #184
Before I place the vertical slab.
![2021-04-28_00 59 09](https://user-images.githubusercontent.com/83337735/116372284-1eab4680-a7c1-11eb-99e1-de6c061d549f.png)
Other photo
![2021-04-28_01 10 26](https://user-images.githubusercontent.com/83337735/116372341-2bc83580-a7c1-11eb-8d92-f4c34844cf05.png)

[2021-04-28 08:34] ghost commented on #184
and this
![2021-04-28_01 32 38](https://user-images.githubusercontent.com/83337735/116373062-de989380-a7c1-11eb-9688-d971a82e7bf5.png)
![2021-04-28_01 32 59](https://user-images.githubusercontent.com/83337735/116373090-e5270b00-a7c1-11eb-93a0-d1b611145ea6.png)

[2021-04-28 18:24] Novid33 opened #185 "nearly impossible to place normal slabs"
i dont know if im missing something but i find it nearly impossible to place slabs normally. also campfires crash the game, becuase of this the mod is practically unusable. also, sideways campfires dont even make any sense! just remove it and it would make more sense and there would be no more crashing.

[2021-04-28 19:38] Novid33 opened #186 "verticle slab corners"
it would be cool if vert. slabs could make corners like stairs do so you could make a house with the slabs like walls without it being offset so the floor wouldnt be visible from the outside

[2021-04-30 23:18] Reael opened #187 "Mod eating up 8GB allocated RAM in seconds"
We use many mods, most of them are functional mods and scripts yet we had no issues so far. I was working on a huge hall and I was so happy to find this mod, happy enough to throw out block carpentry (since placing and then breaking a block carpentry slab together with another slab made the game crash, which isn't the issue right now) but after building up one wall this mod became extremely RAM hu

[2021-05-01 14:02] Reael opened #188 "Gamecrash when interacting with campfire in any way"
The newest version for 1.16.4
The mod crashes the game even if no slabs at all have been placed in the entire world if a left or right click is made on a campfire. Well it freezes the game, after waiting for over 30 minutes for the game to finally crash I had to close it via task manager, therefore no crash report has been generated. I tried several times with and without this mod and it only free

[2021-05-01 20:12] pm065 opened #189 "Potential crash with Astral Sorcery"
Crash log: https://paste.ubuntu.com/p/gVb7kTCTJF/
Happened when I removed and replaced the vertical slab repeatedly. I'm on the latest version that doesn't have the vertical campfire problem. (Speaking of which, is there a way to add a blacklist? The vertical campfires just look dumb tbh)

[2021-05-06 07:36] CJMinecraft01 commented on #188
Hi there, apologies for the delayed response. Would you mind testing this in the latest version? I'm assuming you was using RC1 (it was an experimental version to try and fix an issue with performance)? Please try 3.5.0rc2 (bit backup your world first just in case). These are experimental versions that are me testing a performance increase. Sorry for the inconvenience

[2021-05-06 07:43] CJMinecraft01 commented on #187
Hi there, thanks for the report. I'm currently experimenting with ways to improve performance. I believe I understand where the performance impact is coming from and so I am trying to address this. Please try 3.5.0rc2 to see if this improves performance further. Please backup your world before upgrading as these are experimental versions. If you could potentially send your world file and mod list

[2021-05-06 07:46] CJMinecraft01 commented on #189
Hi there! Thanks for the reporting this, I will investigate and try to resolve this as soon as I can :) regarding the vertical campfires, these can be disabled in the server config by adding the block name to the vertical slab blacklist (the server config is in the world folder). The reason they exist is because I support placing campfires on regular horizontal slabs but as a side effect, they can